In [ ]:
import pandas as pd
import spacy
from spacy import displacy
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
#import flair
#from flair.nn import Classifier
#from flair.data import Sentence, Corpus
#from flair.models import SequenceTagger
#from flair.datasets import CONLL_03, CONLL_03_GERMAN
#from flair.embeddings import WordEmbeddings, StackedEmbeddings, FlairEmbeddings
#https://huggingface.co/flair/ner-multi
#https://spacy.io/usage/training

ModuleNotFoundError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [63]:
tagged = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/eBay_Competition/Train_Tagged_Titles.tsv', sep='\t',quoting=3)
tagged

,Record Number,Title,Token,Tag
0,1,Supreme Nike SB Dunk High By any Means Red US1...,Supreme,Modell
1,1,Supreme Nike SB Dunk High By any Means Red US1...,Nike,Marke
2,1,Supreme Nike SB Dunk High By any Means Red US1...,SB,Produktlinie
3,1,Supreme Nike SB Dunk High By any Means Red US1...,Dunk,NaN
4,1,Supreme Nike SB Dunk High By any Means Red US1...,High,Schuhschaft-Typ
...,...,...,...,...
55178,5000,Herren Trekking Schuhe Outdoor Sneaker Sportsc...,Sportschuhe,Produktart
55179,5000,Herren Trekking Schuhe Outdoor Sneaker Sportsc...,Wanderschuh,NaN
55180,5000,Herren Trekking Schuhe Outdoor Sneaker Sportsc...,Big,No Tag
55181,5000,Herren Trekking Schuhe Outdoor Sneaker Sportsc...,Size,No Tag
55182,5000,Herren Trekking Schuhe Outdoor Sneaker Sportsc...,U37,No Tag

In [ ]:
#We actually should not use forward fill because then we can't differentiate if the groupings are the same or not
#If the field is empty that indicates the token in that row belongs to the same semantic entity as the token before it, in other words, the title has a multi-token entity. In this case the tag of the previous row would apply to the current token and the tokens would need to be combined with a single whitespace to obtain the corresponding aspect value. If two (or more) consecutive rows have the same non-missing entry present in the Tag field, it means they have the same tag, but are different entities, and should not be combined.
#Somethings we did not talk about:
#Repeated token: No tag
#If an aspect value consists of two or more tokens then the tokens should be concatenated with spaces in between to form the aspect value, even if that space only happens to occur as a consequence of the tokenization.
#Supreme By any Means-> modell even though they are separately tagged
#In general, tokens that are literal aspect names such as the words "Muster" (pattern), "Farbe" (color) or "Größe" (size) should not be tagged. In rare cases, however, they have a semantic function (i.e. are part of the phrase being tagged) and should be tagged. In "Farbe Weiß" (color white) only "Weiß" should be tagged with the aspect name "Farbe" (color), but the token "Farbe" should not be tagged.

In [ ]:
tagged[tagged['Record Number']==1]

,Record Number,Title,Token,Tag
0,1,Supreme Nike SB Dunk High By any Means Red US1...,Supreme,Modell
1,1,Supreme Nike SB Dunk High By any Means Red US1...,Nike,Marke
2,1,Supreme Nike SB Dunk High By any Means Red US1...,SB,Produktlinie
3,1,Supreme Nike SB Dunk High By any Means Red US1...,Dunk,Produktlinie
4,1,Supreme Nike SB Dunk High By any Means Red US1...,High,Schuhschaft-Typ
5,1,Supreme Nike SB Dunk High By any Means Red US1...,By,Modell
6,1,Supreme Nike SB Dunk High By any Means Red US1...,any,Modell
7,1,Supreme Nike SB Dunk High By any Means Red US1...,Means,Modell
8,1,Supreme Nike SB Dunk High By any Means Red US1...,Red,Farbe
9,1,Supreme Nike SB Dunk High By any Means Red US1...,US10,US-Schuhgröße
10,1,Supreme Nike SB Dunk High By any Means Red US1...,EU44,EU-Schuhgröße
11,1,Supreme Nike SB Dunk High By any Means Red US1...,Supreme,No Tag
12,1,Supreme Nike SB Dunk High By any Means Red US1...,Box,No Tag
13,1,Supreme Nike SB Dunk High By any Means Red US1...,Logo,Akzente
14,1,Supreme Nike SB Dunk High By any Means Red US1...,Air,Produktlinie
15,1,Supreme Nike SB Dunk High By any Means Red US1...,Force,Produktlinie

In [ ]:
tagged.iloc[1]['Title']

'Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force'

In [ ]:
nlp = spacy.load("en_core_web_sm") #Need to !python -m spacy download de_core_news_sm (These titles are in English and German**)
doc=nlp('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force')
for ent in doc.ents:
  print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

NameError: ignored

In [ ]:
displacy.render(doc,style='ent', jupyter=True)
#Does not recognize Supreme now. We need to actually load multilanguage model that supports both German and English

In [ ]:
nlp.pipe_labels['ner']
#what spacy model supports

['LOC', 'MISC', 'ORG', 'PER']

In [ ]:
#Span in SpaCy: subString
type(doc[2:4])

spacy.tokens.span.Span

In [ ]:
doc[14:16]

Air Force

In [ ]:
from spacy.tokens import Span
#Can do custom labelization via SpaCy
s1=Span(doc,2,4,label="Produktlinie")
s2=Span(doc,14,16,label="Produktlinie")
doc.set_ents([s1,s2],default='unmodified')

In [ ]:
for ent in doc.ents:
  print(ent.text, "|", ent.label_)

Nike | PER
SB Dunk | Produktlinie
High By any | PER
Air Force | Produktlinie

In [ ]:
#Approach: Simple Lookup(operator manually adds entities in the database)
#Rule based NER: If it's a noun, then set it to this NER (Spacy-EntityRuler)
#-> List of entities and patterns
#Conditional Random Fields(CRF) and BERT
#Bert: they incorporate positional encodings to give the model information about the position of words in a sequence
#-> attention mechnaism: allows model to weigh the importance of different words in a sentence relative to given word
#-> feed-forward neural network
#-> layer normalization
#LSTM: word order built-in
#George Washington vs Washington

In [ ]:
#!pip install flair
tagger=Classifier.load('ner')
sentence=Sentence('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force')
tagger.predict(sentence)

2023-10-21 23:54:03,153 SequenceTagger predicts: Dictionary with 20 tags: <unk>, O, S-ORG, S-MISC, B-PER, E-PER, S-LOC, B-ORG, E-ORG, I-PER, S-PER, B-MISC, I-MISC, E-MISC, I-ORG, B-LOC, E-LOC, I-LOC, <START>, <STOP>
Sentence[16]: "Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force" → ["Air Force"/ORG]

In [ ]:
# load tagger
taggermulti = SequenceTagger.load("flair/ner-multi")

# make example sentence in any of the four languages
sentence = Sentence("George Washington ging nach Washington")

# predict NER tags
taggermulti.predict(sentence)

2023-10-22 01:17:58,774 SequenceTagger predicts: Dictionary with 20 tags: <unk>, O, B-PER, E-PER, S-LOC, B-MISC, I-MISC, E-MISC, S-PER, B-ORG, E-ORG, S-ORG, I-ORG, B-LOC, E-LOC, S-MISC, I-PER, I-LOC, <START>, <STOP>

In [ ]:
print(sentence)
# print predicted NER spans
print('The following NER tags are found:')
# iterate over entities and print
for entity in sentence.get_spans('ner'):
    print(entity)

Sentence[5]: "George Washington ging nach Washington" → ["George Washington"/PER, "Washington"/LOC]
The following NER tags are found:
Span[0:2]: "George Washington" → PER (0.9851)
Span[4:5]: "Washington" → LOC (0.991)

In [ ]:
sentence1 = Sentence('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force')
taggermulti.predict(sentence1)

In [ ]:
for label in sentence1.get_labels():
    print(label)

Span[0:2]: "Supreme Nike" → ORG (0.7393)
Span[2:4]: "SB Dunk" → PER (0.607)
Span[7:9]: "Means Red" → ORG (0.8212)
Span[14:16]: "Air Force" → ORG (0.9753)

In [ ]:
print(sentence1)
# print predicted NER spans
print('The following NER tags are found:')
# iterate over entities and print
for entity in sentence1.get_spans('ner'):
    print(entity)

Sentence[16]: "Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force" → ["Supreme Nike"/ORG, "SB Dunk"/PER, "Means Red"/ORG, "Air Force"/ORG]
The following NER tags are found:
Span[0:2]: "Supreme Nike" → ORG (0.7393)
Span[2:4]: "SB Dunk" → PER (0.607)
Span[7:9]: "Means Red" → ORG (0.8212)
Span[14:16]: "Air Force" → ORG (0.9753)

In [ ]:
!python -m spacy download xx_ent_wiki_sm

2023-10-22 06:03:25.181675: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
Collecting xx-ent-wiki-sm==3.6.0
  Downloading https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-3.6.0/xx_ent_wiki_sm-3.6.0-py3-none-any.whl (11.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.1/11.1 MB 51.1 MB/s eta 0:00:00
Requirement already satisfied: spacy<3.7.0,>=3.6.0 in /usr/local/lib/python3.10/dist-packages (from xx-ent-wiki-sm==3.6.0) (3.6.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (1.0.10)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (3.0.9)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (8.1.12)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (1.1.2)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (2.4.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (2.0.10)
Requirement already satisfied: typer<0.10.0,>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (0.9.0)
Requirement already satisfied: pathy>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (0.10.2)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (6.4.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (4.66.1)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (1.23.5)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (2.31.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (1.10.13)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (3.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (67.7.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (23.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (3.3.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (4.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (2023.7.22)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.10/dist-packages (from thinc<8.2.0,>=8.1.8->spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (0.7.11)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.10/dist-packages (from thinc<8.2.0,>=8.1.8->spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (0.1.3)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.10/dist-packages (from typer<0.10.0,>=0.3.0->spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (8.1.7)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->spacy<3.7.0,>=3.6.0->xx-ent-wiki-sm==3.6.0) (2.1.3)
Installing collected packages: xx-ent-wiki-sm
Successfully installed xx-ent-wiki-sm-3.6.0
✔ Download and installation successful
You can now load the package via spacy.load('xx_ent_wiki_sm')

In [64]:
tagged.head(10)

,Record Number,Title,Token,Tag
0,1,Supreme Nike SB Dunk High By any Means Red US1...,Supreme,Modell
1,1,Supreme Nike SB Dunk High By any Means Red US1...,Nike,Marke
2,1,Supreme Nike SB Dunk High By any Means Red US1...,SB,Produktlinie
3,1,Supreme Nike SB Dunk High By any Means Red US1...,Dunk,NaN
4,1,Supreme Nike SB Dunk High By any Means Red US1...,High,Schuhschaft-Typ
5,1,Supreme Nike SB Dunk High By any Means Red US1...,By,Modell
6,1,Supreme Nike SB Dunk High By any Means Red US1...,any,NaN
7,1,Supreme Nike SB Dunk High By any Means Red US1...,Means,NaN
8,1,Supreme Nike SB Dunk High By any Means Red US1...,Red,Farbe
9,1,Supreme Nike SB Dunk High By any Means Red US1...,US10,US-Schuhgröße

In [70]:
pd.isna(tagged.iloc[3]['Tag'])

True

**Preparing Training Data for Spacy**:

In [88]:
#Preparing Spacy Tagged Training Data
#Resource link: https://www.machinelearningplus.com/nlp/training-custom-ner-model-in-spacy/
def prep_training_data(df):
  index=0
  start_index=0
  train_data=[]
  while index<len(df):
    row=df.iloc[index]
    record_number = row['Record Number']
    title = row['Title']
    token=row['Token']
    tag = row['Tag']
    # Find the starting index of the token in the title starting from the current start_index
    start_index = title.find(token, start_index)
    end_index=start_index+len(token)
    while index+1<len(df) and df.iloc[index+1]['Title']==title and (df.iloc[index + 1]['Tag'] == 'N/A' or pd.isna(df.iloc[index+1]['Tag'])):
      index += 1
      next_row = df.iloc[index]
      next_token = next_row['Token']
      end_index = next_row['Title'].find(next_token, end_index) +len(next_token)
    train_data.append((df['Title'].iloc[index], {"entities":[(start_index,end_index,tag)]}))
    if index+1<len(df) and title!=df['Title'].iloc[index+1]:
      start_index=0
    index+=1
  return train_data
spacy_data=prep_training_data(tagged)

In [90]:
tagged['Title'].iloc[0][13:20]

'SB Dunk'

In [91]:
tagged['Title'].iloc[0][26:38]

'By any Means'

In [89]:
spacy_data

[('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force',
  {'entities': [(0, 7, 'Modell')]}),
 ('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force',
  {'entities': [(8, 12, 'Marke')]}),
 ('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force',
  {'entities': [(13, 20, 'Produktlinie')]}),
 ('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force',
  {'entities': [(21, 25, 'Schuhschaft-Typ')]}),
 ('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force',
  {'entities': [(26, 38, 'Modell')]}),
 ('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force',
  {'entities': [(39, 42, 'Farbe')]}),
 ('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force',
  {'entities': [(43, 47, 'US-Schuhgröße')]}),
 ('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force',
  {'entities': [(48, 52, 'EU-Schuhgröße')]}),
 ('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force',
  {'entities': [(53, 60, 'No Tag')]}),
 ('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force',
  {'entities': [(61, 64, 'No Tag')]}),
 ('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force',
  {'entities': [(65, 69, 'Akzente')]}),
 ('Supreme Nike SB Dunk High By any Means Red US10 EU44 Supreme Box Logo Air Force',
  {'entities': [(70, 79, 'Produktlinie')]}),
 ('New Balance 530 Männer und Frauen Laufschuhe mit Buchstaben N bequeme Laufschuhe',
  {'entities': [(0, 11, 'Marke')]}),
 ('New Balance 530 Männer und Frauen Laufschuhe mit Buchstaben N bequeme Laufschuhe',
  {'entities': [(12, 15, 'Modell')]}),
 ('New Balance 530 Männer und Frauen Laufschuhe mit Buchstaben N bequeme Laufschuhe',
  {'entities': [(16, 22, 'Abteilung')]}),
 ('New Balance 530 Männer und Frauen Laufschuhe mit Buchstaben N bequeme Laufschuhe',
  {'entities': [(23, 26, 'No Tag')]}),
 ('New Balance 530 Männer und Frauen Laufschuhe mit Buchstaben N bequeme Laufschuhe',
  {'entities': [(27, 33, 'Abteilung')]}),
 ('New Balance 530 Männer und Frauen Laufschuhe mit Buchstaben N bequeme Laufschuhe',
  {'entities': [(34, 44, 'Produktart')]}),
 ('New Balance 530 Männer und Frauen Laufschuhe mit Buchstaben N bequeme Laufschuhe',
  {'entities': [(45, 48, 'No Tag')]}),
 ('New Balance 530 Männer und Frauen Laufschuhe mit Buchstaben N bequeme Laufschuhe',
  {'entities': [(49, 61, 'Muster')]}),
 ('New Balance 530 Männer und Frauen Laufschuhe mit Buchstaben N bequeme Laufschuhe',
  {'entities': [(62, 69, 'No Tag')]}),
 ('New Balance 530 Männer und Frauen Laufschuhe mit Buchstaben N bequeme Laufschuhe',
  {'entities': [(70, 80, 'Produktart')]}),
 ('♥ MICHAEL KORS Sneaker Gr 39 ♥', {'entities': [(0, 1, 'No Tag')]}),
 ('♥ MICHAEL KORS Sneaker Gr 39 ♥', {'entities': [(2, 14, 'Marke')]}),
 ('♥ MICHAEL KORS Sneaker Gr 39 ♥', {'entities': [(15, 22, 'Stil')]}),
 ('♥ MICHAEL KORS Sneaker Gr 39 ♥', {'entities': [(23, 25, 'No Tag')]}),
 ('♥ MICHAEL KORS Sneaker Gr 39 ♥', {'entities': [(26, 28, 'EU-Schuhgröße')]}),
 ('♥ MICHAEL KORS Sneaker Gr 39 ♥', {'entities': [(29, 30, 'No Tag')]}),
 ('New Balance ML 574 EGO Turnschuhe grün', {'entities': [(0, 11, 'Marke')]}),
 ('New Balance ML 574 EGO Turnschuhe grün',
  {'entities': [(12, 22, 'Modell')]}),
 ('New Balance ML 574 EGO Turnschuhe grün',
  {'entities': [(23, 33, 'Produktart')]}),
 ('New Balance ML 574 EGO Turnschuhe grün', {'entities': [(34, 38, 'Farbe')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(0, 4, 'Marke')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(5, 15, 'Produktlinie')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(16, 20, 'Modell')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(21, 22, 'No Tag')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(23, 28, 'Farbe')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(29, 32, 'Modell')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(33, 34, 'No Tag')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(35, 39, 'Farbe')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(40, 41, 'No Tag')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(42, 52, 'Farbe')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(53, 54, 'No Tag')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(55, 60, 'EU-Schuhgröße')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(61, 62, 'No Tag')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(63, 68, 'US-Schuhgröße')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(69, 72, 'No Tag')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(73, 74, 'No Tag')]}),
 ('Nike air jordan 9 og , space jam , hare , bugs bunny , EU 45 / US 11 NEU + RECHNUNG',
  {'entities': [(75, 83, 'No Tag')]}),
 ('NEU SKECHERS Damen Sneakers Turnschuhe Memory Foam MODA - LAZY SUNDAYS Blau',
  {'entities': [(0, 3, 'No Tag')]}),
 ('NEU SKECHERS Damen Sneakers Turnschuhe Memory Foam MODA - LAZY SUNDAYS Blau',
  {'entities': [(4, 12, 'Marke')]}),
 ('NEU SKECHERS Damen Sneakers Turnschuhe Memory Foam MODA - LAZY SUNDAYS Blau',
  {'entities': [(13, 18, 'Abteilung')]}),
 ('NEU SKECHERS Damen Sneakers Turnschuhe Memory Foam MODA - LAZY SUNDAYS Blau',
  {'entities': [(19, 27, 'Stil')]}),
 ('NEU SKECHERS Damen Sneakers Turnschuhe Memory Foam MODA - LAZY SUNDAYS Blau',
  {'entities': [(28, 38, 'Produktart')]}),
 ('NEU SKECHERS Damen Sneakers Turnschuhe Memory Foam MODA - LAZY SUNDAYS Blau',
  {'entities': [(39, 50, 'Zwischensohlen-Typ')]}),
 ('NEU SKECHERS Damen Sneakers Turnschuhe Memory Foam MODA - LAZY SUNDAYS Blau',
  {'entities': [(51, 55, 'Modell')]}),
 ('NEU SKECHERS Damen Sneakers Turnschuhe Memory Foam MODA - LAZY SUNDAYS Blau',
  {'entities': [(56, 57, 'No Tag')]}),
 ('NEU SKECHERS Damen Sneakers Turnschuhe Memory Foam MODA - LAZY SUNDAYS Blau',
  {'entities': [(58, 70, 'Modell')]}),
 ('NEU SKECHERS Damen Sneakers Turnschuhe Memory Foam MODA - LAZY SUNDAYS Blau',
  {'entities': [(71, 75, 'Farbe')]}),
 ('New Balance 550 White Green', {'entities': [(0, 11, 'Marke')]}),
 ('New Balance 550 White Green', {'entities': [(12, 15, 'Modell')]}),
 ('New Balance 550 White Green', {'entities': [(16, 27, 'Farbe')]}),
 ('CAT CATERPILLAR Arise Sneaker Freizeitschuhe Turnschuhe Schuhe Herren Neuheit',
  {'entities': [(0, 15, 'Marke')]}),
 ('CAT CATERPILLAR Arise Sneaker Freizeitschuhe Turnschuhe Schuhe Herren Neuheit',
  {'entities': [(16, 21, 'Modell')]}),
 ('CAT CATERPILLAR Arise Sneaker Freizeitschuhe Turnschuhe Schuhe Herren Neuheit',
  {'entities': [(22, 29, 'Stil')]}),
 ('CAT CATERPILLAR Arise Sneaker Freizeitschuhe Turnschuhe Schuhe Herren Neuheit',
  {'entities': [(30, 62, 'Produktart')]}),
 ('CAT CATERPILLAR Arise Sneaker Freizeitschuhe Turnschuhe Schuhe Herren Neuheit',
  {'entities': [(63, 69, 'Abteilung')]}),
 ('CAT CATERPILLAR Arise Sneaker Freizeitschuhe Turnschuhe Schuhe Herren Neuheit',
  {'entities': [(70, 77, 'No Tag')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(0, 6, 'Marke')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(7, 10, 'Produktlinie')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(11, 18, 'Modell')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(19, 21, 'Produktlinie')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(22, 31, 'Obermaterial')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(32, 39, 'Stil')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(40, 50, 'Produktart')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(51, 57, 'Herstellernummer')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(58, 62, 'Farbe')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(63, 65, 'No Tag')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(66, 67, 'No Tag')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(68, 70, 'EU-Schuhgröße')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(71, 72, 'No Tag')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(73, 75, 'EU-Schuhgröße')]}),
 ('Adidas NMD R1 STLT PK Primeknit Sneaker Turnschuhe CQ2388 blau Gr . 36 - 42 NEU',
  {'entities': [(76, 79, 'No Tag')]}),
 ('Damen Sneaker Mesh Sportschuhe Laufschuhe Slip On Turnschuhe Flache Sockenschuhe',
  {'entities': [(0, 5, 'Abteilung')]}),
 ('Damen Sneaker Mesh Sportschuhe Laufschuhe Slip On Turnschuhe Flache Sockenschuhe',
  {'entities': [(6, 13, 'Stil')]}),
 ('Damen Sneaker Mesh Sportschuhe Laufschuhe Slip On Turnschuhe Flache Sockenschuhe',
  {'entities': [(14, 18, 'Gewebeart')]}),
 ('Damen Sneaker Mesh Sportschuhe Laufschuhe Slip On Turnschuhe Flache Sockenschuhe',
  {'entities': [(19, 41, 'Produktart')]}),
 ('Damen Sneaker Mesh Sportschuhe Laufschuhe Slip On Turnschuhe Flache Sockenschuhe',
  {'entities': [(42, 49, 'Verschluss')]}),
 ('Damen Sneaker Mesh Sportschuhe Laufschuhe Slip On Turnschuhe Flache Sockenschuhe',
  {'entities': [(50, 60, 'Produktart')]}),
 ('Damen Sneaker Mesh Sportschuhe Laufschuhe Slip On Turnschuhe Flache Sockenschuhe',
  {'entities': [(61, 67, 'No Tag')]}),
 ('Damen Sneaker Mesh Sportschuhe Laufschuhe Slip On Turnschuhe Flache Sockenschuhe',
  {'entities': [(68, 80, 'Produktart')]}),
 ('Art 505 Schuhe Sneaker Sportschuhe Herren',
  {'entities': [(0, 7, 'Modell')]}),
 ('Art 505 Schuhe Sneaker Sportschuhe Herren',
  {'entities': [(8, 14, 'Produktart')]}),
 ('Art 505 Schuhe Sneaker Sportschuhe Herren',
  {'entities': [(15, 22, 'Stil')]}),
 ('Art 505 Schuhe Sneaker Sportschuhe Herren',
  {'entities': [(23, 34, 'Produktart')]}),
 ('Art 505 Schuhe Sneaker Sportschuhe Herren',
  {'entities': [(35, 41, 'Abteilung')]}),
 ('C2886 sneaker uomo LANVIN VEGO scarpa nero multi stripes shoe man',
  {'entities': [(0, 5, 'Herstellernummer')]}),
 ('C2886 sneaker uomo LANVIN VEGO scarpa nero multi stripes shoe man',
  {'entities': [(6, 13, 'Stil')]}),
 ('C2886 sneaker uomo LANVIN VEGO scarpa nero multi stripes shoe man',
  {'entities': [(14, 18, 'Abteilung')]}),
 ('C2886 sneaker uomo LANVIN VEGO scarpa nero multi stripes shoe man',
  {'entities': [(19, 30, 'Modell')]}),
 ('C2886 sneaker uomo LANVIN VEGO scarpa nero multi stripes shoe man',
  {'entities': [(31, 37, 'Produktart')]}),
 ('C2886 sneaker uomo LANVIN VEGO scarpa nero multi stripes shoe man',
  {'entities': [(38, 42, 'Farbe')]}),
 ('C2886 sneaker uomo LANVIN VEGO scarpa nero multi stripes shoe man',
  {'entities': [(43, 48, 'No Tag')]}),
 ('C2886 sneaker uomo LANVIN VEGO scarpa nero multi stripes shoe man',
  {'entities': [(49, 56, 'Muster')]}),
 ('C2886 sneaker uomo LANVIN VEGO scarpa nero multi stripes shoe man',
  {'entities': [(57, 61, 'Produktart')]}),
 ('C2886 sneaker uomo LANVIN VEGO scarpa nero multi stripes shoe man',
  {'entities': [(62, 65, 'Abteilung')]}),
 ('New Balance 574 Herren-Sneaker Low Leder Retro-Schuhe 2022 ML574TD2 Weiß / Grün',
  {'entities': [(0, 11, 'Marke')]}),
 ('New Balance 574 Herren-Sneaker Low Leder Retro-Schuhe 2022 ML574TD2 Weiß / Grün',
  {'entities': [(12, 15, 'Modell')]}),
 ('New Balance 574 Herren-Sneaker Low Leder Retro-Schuhe 2022 ML574TD2 Weiß / Grün',
  {'entities': [(16, 30, 'Produktart')]}),
 ('New Balance 574 Herren-Sneaker Low Leder Retro-Schuhe 2022 ML574TD2 Weiß / Grün',
  {'entities': [(31, 34, 'Schuhschaft-Typ')]}),
 ('New Balance 574 Herren-Sneaker Low Leder Retro-Schuhe 2022 ML574TD2 Weiß / Grün',
  {'entities': [(35, 40, 'Obermaterial')]}),
 ('New Balance 574 Herren-Sneaker Low Leder Retro-Schuhe 2022 ML574TD2 Weiß / Grün',
  {'entities': [(41, 53, 'Produktart')]}),
 ('New Balance 574 Herren-Sneaker Low Leder Retro-Schuhe 2022 ML574TD2 Weiß / Grün',
  {'entities': [(54, 58, 'Erscheinungsjahr')]}),
 ('New Balance 574 Herren-Sneaker Low Leder Retro-Schuhe 2022 ML574TD2 Weiß / Grün',
  {'entities': [(59, 67, 'Herstellernummer')]}),
 ('New Balance 574 Herren-Sneaker Low Leder Retro-Schuhe 2022 ML574TD2 Weiß / Grün',
  {'entities': [(68, 72, 'Farbe')]}),
 ('New Balance 574 Herren-Sneaker Low Leder Retro-Schuhe 2022 ML574TD2 Weiß / Grün',
  {'entities': [(73, 74, 'No Tag')]}),
 ('New Balance 574 Herren-Sneaker Low Leder Retro-Schuhe 2022 ML574TD2 Weiß / Grün',
  {'entities': [(75, 79, 'Farbe')]}),
 ('Ecco ST. 1 Lite Herren Halbschuhe Schnürer Sneaker Leder 504194-51220 Gr . 44',
  {'entities': [(0, 4, 'Marke')]}),
 ('Ecco ST. 1 Lite Herren Halbschuhe Schnürer Sneaker Leder 504194-51220 Gr . 44',
  {'entities': [(5, 15, 'Modell')]}),
 ('Ecco ST. 1 Lite Herren Halbschuhe Schnürer Sneaker Leder 504194-51220 Gr . 44',
  {'entities': [(16, 22, 'Abteilung')]}),
 ('Ecco ST. 1 Lite Herren Halbschuhe Schnürer Sneaker Leder 504194-51220 Gr . 44',
  {'entities': [(23, 33, 'Produktart')]}),
 ('Ecco ST. 1 Lite Herren Halbschuhe Schnürer Sneaker Leder 504194-51220 Gr . 44',
  {'entities': [(34, 42, 'Verschluss')]}),
 ('Ecco ST. 1 Lite Herren Halbschuhe Schnürer Sneaker Leder 504194-51220 Gr . 44',
  {'entities': [(43, 50, 'Stil')]}),
 ('Ecco ST. 1 Lite Herren Halbschuhe Schnürer Sneaker Leder 504194-51220 Gr . 44',
  {'entities': [(51, 56, 'Obermaterial')]}),
 ('Ecco ST. 1 Lite Herren Halbschuhe Schnürer Sneaker Leder 504194-51220 Gr . 44',
  {'entities': [(57, 69, 'Herstellernummer')]}),
 ('Ecco ST. 1 Lite Herren Halbschuhe Schnürer Sneaker Leder 504194-51220 Gr . 44',
  {'entities': [(70, 72, 'No Tag')]}),
 ('Ecco ST. 1 Lite Herren Halbschuhe Schnürer Sneaker Leder 504194-51220 Gr . 44',
  {'entities': [(73, 74, 'No Tag')]}),
 ('Ecco ST. 1 Lite Herren Halbschuhe Schnürer Sneaker Leder 504194-51220 Gr . 44',
  {'entities': [(75, 77, 'EU-Schuhgröße')]}),
 ('SCHUHE HALBSCHUH SNEAKER HI-TEC LEDER Gr . 43 SCHWARZ GUT',
  {'entities': [(0, 16, 'Produktart')]}),
 ('SCHUHE HALBSCHUH SNEAKER HI-TEC LEDER Gr . 43 SCHWARZ GUT',
  {'entities': [(17, 24, 'Stil')]}),
 ('SCHUHE HALBSCHUH SNEAKER HI-TEC LEDER Gr . 43 SCHWARZ GUT',
  {'entities': [(25, 31, 'Marke')]}),
 ('SCHUHE HALBSCHUH SNEAKER HI-TEC LEDER Gr . 43 SCHWARZ GUT',
  {'entities': [(32, 37, 'Obermaterial')]}),
 ('SCHUHE HALBSCHUH SNEAKER HI-TEC LEDER Gr . 43 SCHWARZ GUT',
  {'entities': [(38, 40, 'No Tag')]}),
 ('SCHUHE HALBSCHUH SNEAKER HI-TEC LEDER Gr . 43 SCHWARZ GUT',
  {'entities': [(41, 42, 'No Tag')]}),
 ('SCHUHE HALBSCHUH SNEAKER HI-TEC LEDER Gr . 43 SCHWARZ GUT',
  {'entities': [(43, 45, 'EU-Schuhgröße')]}),
 ('SCHUHE HALBSCHUH SNEAKER HI-TEC LEDER Gr . 43 SCHWARZ GUT',
  {'entities': [(46, 53, 'Farbe')]}),
 ('SCHUHE HALBSCHUH SNEAKER HI-TEC LEDER Gr . 43 SCHWARZ GUT',
  {'entities': [(54, 57, 'No Tag')]}),
 ('WODEN Sneaker NORA II PLATEAU Schwarz WL1750-020 Echtleder Textil Damen',
  {'entities': [(0, 5, 'Marke')]}),
 ('WODEN Sneaker NORA II PLATEAU Schwarz WL1750-020 Echtleder Textil Damen',
  {'entities': [(6, 13, 'Stil')]}),
 ('WODEN Sneaker NORA II PLATEAU Schwarz WL1750-020 Echtleder Textil Damen',
  {'entities': [(14, 21, 'Modell')]}),
 ('WODEN Sneaker NORA II PLATEAU Schwarz WL1750-020 Echtleder Textil Damen',
  {'entities': [(22, 29, 'No Tag')]}),
 ('WODEN Sneaker NORA II PLATEAU Schwarz WL1750-020 Echtleder Textil Damen',
  {'entities': [(30, 37, 'Farbe')]}),
 ('WODEN Sneaker NORA II PLATEAU Schwarz WL1750-020 Echtleder Textil Damen',
  {'entities': [(38, 48, 'Herstellernummer')]}),
 ('WODEN Sneaker NORA II PLATEAU Schwarz WL1750-020 Echtleder Textil Damen',
  {'entities': [(49, 65, 'Obermaterial')]}),
 ('WODEN Sneaker NORA II PLATEAU Schwarz WL1750-020 Echtleder Textil Damen',
  {'entities': [(66, 71, 'Abteilung')]}),
 ('Puma Carina L Damen Schuhe Sneaker Turnschuhe 370325 ( Schwarz 01 )',
  {'entities': [(0, 4, 'Marke')]}),
 ('Puma Carina L Damen Schuhe Sneaker Turnschuhe 370325 ( Schwarz 01 )',
  {'entities': [(5, 13, 'Modell')]}),
 ('Puma Carina L Damen Schuhe Sneaker Turnschuhe 370325 ( Schwarz 01 )',
  {'entities': [(14, 19, 'Abteilung')]}),
 ('Puma Carina L Damen Schuhe Sneaker Turnschuhe 370325 ( Schwarz 01 )',
  {'entities': [(20, 26, 'Produktart')]}),
 ('Puma Carina L Damen Schuhe Sneaker Turnschuhe 370325 ( Schwarz 01 )',
  {'entities': [(27, 34, 'Stil')]}),
 ('Puma Carina L Damen Schuhe Sneaker Turnschuhe 370325 ( Schwarz 01 )',
  {'entities': [(35, 45, 'Produktart')]}),
 ('Puma Carina L Damen Schuhe Sneaker Turnschuhe 370325 ( Schwarz 01 )',
  {'entities': [(46, 52, 'Herstellernummer')]}),
 ('Puma Carina L Damen Schuhe Sneaker Turnschuhe 370325 ( Schwarz 01 )',
  {'entities': [(53, 54, 'No Tag')]}),
 ('Puma Carina L Damen Schuhe Sneaker Turnschuhe 370325 ( Schwarz 01 )',
  {'entities': [(55, 62, 'Farbe')]}),
 ('Puma Carina L Damen Schuhe Sneaker Turnschuhe 370325 ( Schwarz 01 )',
  {'entities': [(63, 65, 'No Tag')]}),
 ('Puma Carina L Damen Schuhe Sneaker Turnschuhe 370325 ( Schwarz 01 )',
  {'entities': [(66, 67, 'No Tag')]}),
 ('adidas Originals CAFLAIRE Herren Sneaker Weiß EE7599 Freizeit Sport Schuhe NEU',
  {'entities': [(0, 6, 'Marke')]}),
 ('adidas Originals CAFLAIRE Herren Sneaker Weiß EE7599 Freizeit Sport Schuhe NEU',
  {'entities': [(7, 16, 'Produktlinie')]}),
 ('adidas Originals CAFLAIRE Herren Sneaker Weiß EE7599 Freizeit Sport Schuhe NEU',
  {'entities': [(17, 25, 'Modell')]}),
 ('adidas Originals CAFLAIRE Herren Sneaker Weiß EE7599 Freizeit Sport Schuhe NEU',
  {'entities': [(26, 32, 'Abteilung')]}),
 ('adidas Originals CAFLAIRE Herren Sneaker Weiß EE7599 Freizeit Sport Schuhe NEU',
  {'entities': [(33, 40, 'Stil')]}),
 ('adidas Originals CAFLAIRE Herren Sneaker Weiß EE7599 Freizeit Sport Schuhe NEU',
  {'entities': [(41, 45, 'Farbe')]}),
 ('adidas Originals CAFLAIRE Herren Sneaker Weiß EE7599 Freizeit Sport Schuhe NEU',
  {'entities': [(46, 52, 'Herstellernummer')]}),
 ('adidas Originals CAFLAIRE Herren Sneaker Weiß EE7599 Freizeit Sport Schuhe NEU',
  {'entities': [(53, 61, 'Anlass')]}),
 ('adidas Originals CAFLAIRE Herren Sneaker Weiß EE7599 Freizeit Sport Schuhe NEU',
  {'entities': [(62, 74, 'Produktart')]}),
 ('adidas Originals CAFLAIRE Herren Sneaker Weiß EE7599 Freizeit Sport Schuhe NEU',
  {'entities': [(75, 78, 'No Tag')]}),
 ('Gay Used Kroko Sneaker sexy Hot 42',
  {'entities': [(0, 3, 'Produktlinie')]}),
 ('Gay Used Kroko Sneaker sexy Hot 42', {'entities': [(4, 8, 'No Tag')]}),
 ('Gay Used Kroko Sneaker sexy Hot 42', {'entities': [(9, 14, 'Muster')]}),
 ('Gay Used Kroko Sneaker sexy Hot 42', {'entities': [(15, 22, 'Stil')]}),
 ('Gay Used Kroko Sneaker sexy Hot 42', {'entities': [(23, 27, 'No Tag')]}),
 ('Gay Used Kroko Sneaker sexy Hot 42', {'entities': [(28, 31, 'No Tag')]}),
 ('Gay Used Kroko Sneaker sexy Hot 42',

In [99]:
spacy_data

[('Puma Rebound Street v2 L Herren Schwarz Schuhe Sneaker 363716-01 NEU',
  {'entities': [(65, 68, 'No Tag')]}),
 ('Nike Air Max LTD 3 Gr . wählbar 687977 020 631 Turnschuhe Sneakers',
  {'entities': [(24, 31, 'No Tag')]}),
 ('New Balance WH 574 Mid Damen Sneaker Winterschuhe Leder Schuhe 1 Paar Neu rosa',
  {'entities': [(0, 11, 'Marke')]}),
 ('Adidas Tubular Doom Sock core black Sneaker schwarz BY3563',
  {'entities': [(7, 24, 'Modell')]}),
 ('Nike Dunk Low Easter 2022 ( W ) verschiedene Größen / NEU | OVP | RECHNUNG',
  {'entities': [(28, 29, 'Abteilung')]}),
 ('Reebok Instapump Fury Damen Sneaker Freizeit Sportschuhe Trainingschuhe BD1506',
  {'entities': [(28, 35, 'Stil')]}),
 ('2021D * io * r Sneaker High Freizeit Schuhe Mode Turnschuhe Herren Damen Laufschuhe',
  {'entities': [(6, 7, 'No Tag')]}),
 ('NEU Hummel Off-Field Schuhe Low Sneaker Unisex Retro Leder Sportschuhe SALES',
  {'entities': [(59, 70, 'Produktart')]}),
 ('Damen Stiefeletten Boots Gefüttert Plateau Sneaker Winterboot Freizeit Schwarz',
  {'entities': [(51, 61, 'No Tag')]}),
 ('Neu Hoka One Bondi 7 x-wide ( 4E ) 1117033 / Bblc Schwarz Laufschuhe für Herren',
  {'entities': [(69, 72, 'No Tag')]}),
 ('BALENCIAGA Top High Sneakers Marble Effect Damen Designer Leder Schuhe Gr .38 NEU',
  {'entities': [(29, 42, 'Muster')]}),
 ('adidas Terrex Free Hiker Parley Sneaker Wanderschuhe Schwarz Schuhe EF0347',
  {'entities': [(40, 52, 'Produktart')]}),
 ('ADIDAS NMD HU PHARRELL BBC 46 PINK NAVY BLUE BILLIONAIRE BOYS CLUB',
  {'entities': [(0, 6, 'Marke')]}),
 ('Adidas Marquee Boost Basketballschuhe Neu Gr :48 US :13 Schwarz D96944 Nmd',
  {'entities': [(42, 44, 'No Tag')]}),
 ('NIKE AIR MAX 1 Blau 555766 Sportschuhe 111 Sneaker',
  {'entities': [(13, 14, 'Modell')]}),
 ('ASICS Damen Gel Kayano 23 Schwarz Silber Rosa Leuchtende Größe 5.5 US',
  {'entities': [(26, 45, 'Farbe')]}),
 ('FILA Sneakers Damen / Kinder | Grösse 34 | Neu mit Karton',
  {'entities': [(47, 50, 'No Tag')]}),
 ('Vans SK8 HI Reissue DX Herren Schuhe Canvas Boots 40,5 bis 47 Crau Creme Checker',
  {'entities': [(59, 61, 'EU-Schuhgröße')]}),
 ('Adidas Sportschuhe QUESTAR BYD Sneakers Schnürschuhe weiß NEU !',
  {'entities': [(7, 18, 'Produktart')]}),
 ('Adidas Plimeta Damenschuhe Sneaker Freizeitschuhe Textil Schuhe Stoffschuhe Neu',
  {'entities': [(76, 79, 'No Tag')]}),
 ("NEU SKECHERS Damen Sneakers Turnschuh Memory Foam D'LITES - LIFE SAVER Schwarz",
  {'entities': [(28, 37, 'Produktart')]}),
 ('ORIGINAL ADIDAS USA 84 FV2050 HERREN TURNESCHUHE SNEAKER FITNESS SPORT SCHWARZ',
  {'entities': [(0, 8, 'No Tag')]}),
 ('Art 661 Neon LUFTPOLSTER Turnschuhe Schuhe Sneaker Sportschuhe Damen',
  {'entities': [(63, 68, 'Abteilung')]}),
 ('On Cloudsurfer Sneaker Turnschuhe Herrenschuhe 24.99961 Midnight Blue Running',
  {'entities': [(56, 69, 'Farbe')]}),
 ('Original BUFFALO Towers 90er Plateau Schuhe 10cm grau lila Gr .37',
  {'entities': [(29, 43, 'Produktart')]}),
 ('KUSTOM SNEAKER CIARA DENIM', {'entities': [(15, 20, 'Modell')]}),
 ('Nike Bruin Leather Marty Mcfly size 12',
  {'entities': [(36, 38, 'US-Schuhgröße')]}),
 ('ASICS FUZEX RUSH MIDGREY / BAY / FLASH CORAL 9687 LAUFSCHUHE EU GR .38 - 42 ( 5-8 )',
  {'entities': [(50, 60, 'Produktart')]}),
 ('Fila Fxventuno L Low Wmn Damen Sneaker | Turnschuh | Sportschuh | Leder - NEU',
  {'entities': [(39, 40, 'No Tag')]}),
 ('Fila Disruptor ? Wildleder Sneaker Beige Gr . 39.5',
  {'entities': [(0, 4, 'Marke')]}),
 ('NEU SKECHERS Damen Sneakers Slipper Memory Foam EQUALIZER - AUTUMN BREEZE Blau',
  {'entities': [(0, 3, 'No Tag')]}),
 ('Santoni Sneaker in dunkelbraun aus Veloursleder / RegEUR390',
  {'entities': [(16, 18, 'No Tag')]}),
 ('ORIGINAL ADIDAS STRUTTER FY8162 HERREN TURNSCHUHE SNEAKER FITNESS SPORT WEISS',
  {'entities': [(0, 8, 'No Tag')]}),
 ('Fila Damen Sportschuhe Sneaker EUR 38 Nr . 21-A 2976',
  {'entities': [(23, 30, 'Stil')]}),
 ('Giesswein Merino Runners , 41 , blau , Herrensneaker , 1A Zustand !',
  {'entities': [(55, 57, 'No Tag')]}),
 ('53707223-C adidas Performance " X9000L4 BOOST PRIMEGREEN " Laufschuhe Gr . 42 * NEU *',
  {'entities': [(75, 77, 'EU-Schuhgröße')]}),
 ('K-Swiss Arvee 1.5 Herren Schuhe Sneaker Turnschuhe Freizeitschuhe 02453',
  {'entities': [(25, 31, 'Produktart')]}),
 ('Arbeitsschuhe Puma Mercury High S1P ESD [ 64.090.0 ]',
  {'entities': [(32, 39, 'Modell')]}),
 ('K-SWISS Court Cheswick SP SDE Herren Sneaker Sportschuhe 06595-452-M Blau',
  {'entities': [(8, 13, 'Produktlinie')]}),
 ('FILA Damen Schuhe , Sneaker , Gr . 41 , Neu mit Karton , Farbe weiß',
  {'entities': [(18, 19, 'No Tag')]}),
 ('NEU Schuhe BIGATTI Herren EXCLUSVIE Sneaker LEDER Turnschuhe Schwarz Gr . 43',
  {'entities': [(0, 3, 'No Tag')]}),
 ('Adidas Busenitz blau Herren Leder Skaterschuhe Low-Top Sneakers Turnschuhe NEU',
  {'entities': [(21, 27, 'Abteilung')]}),
 ('HERREN SCHUHE SNEAKERS PUMA SUEDE CLASSIC XXI [ 374915 01 ]',
  {'entities': [(14, 22, 'Stil')]}),
 ('Puma Ignite Dual Nylon Trainers 189094-03 Black / White UK10 / US11 / EU44 .5',
  {'entities': [(32, 41, 'Herstellernummer')]}),
 ('JOHN GALLIANO Herren Men Schuhe High Top Sneaker Shoes Leder Leather Dunkelblau',
  {'entities': [(69, 79, 'Farbe')]}),
 ('NEU Skechers Damenschuhe Schuhe Sneaker D ´ Lites BIGGEST FAN Schnürer Sportschuhe',
  {'entities': [(0, 3, 'No Tag')]}),
 ("Damen Herren AIR FORCE 1 '07 Weiß Sneaker Sportschuhe Leder Turnschuhe 36-45 NEU",
  {'entities': [(60, 70, 'Produktart')]}),
 ('Art 895 Fitnessschuhe Sport Schuhe Gesundheitsschuhe Damen Herren Sneaker',
  {'entities': [(66, 73, 'Stil')]}),
 ('Skechers Dynamight 2.0 Special Memory Damen Sneaker | Turnschuh | Sportschuh - N',
  {'entities': [(64, 65, 'No Tag')]}),
 ('ADIDAS Sneaker , u_path , weiss / grün Sneaker , Gr . 43 1/3 , gay used gebraucht',
  {'entities': [(26, 31, 'Farbe')]}),
 ('Damen Plateau Sneaker Blockabsatz Schnürer Profil-Sohle Schuhe 901376 New Look',
  {'entities': [(70, 73, 'No Tag')]}),
 ('adidas Originals Basket Profi Hi Sneaker Turnschuhe Schuhe FW3104 Chrystal White',
  {'entities': [(33, 40, 'Stil')]}),
 ('Damen Sportschuhe Laufschuhe Profilsohle Neon Schnürer Runners 78871 New Look',
  {'entities': [(73, 77, 'No Tag')]}),
 ('Plateau Sneaker Damenschuhe MEHRFARBIG Fitness Sport Freizeit Turnschuhe',
  {'entities': [(28, 38, 'No Tag')]}),
 ('Nike Air Jordan 1 Mid Mystic Navy Mint | Verschiedene Größen ✅',
  {'entities': [(61, 62, 'No Tag')]}),
 ('Nike Tanjun Sneaker Turnschuhe Damen Mädchen Freizeitschuh 812655 011 Gr . 42',
  {'entities': [(20, 30, 'Produktart')]}),
 ('ON Running Cloudflyer WP Waterproof Herren Gr . 44 Sport Lauf-Schuhe in schwarz',
  {'entities': [(46, 47, 'No Tag')]}),
 ('Skechers Oak Canyon Sneaker | schwarz / braun | Memory Foam | Größe 45',
  {'entities': [(60, 61, 'No Tag')]}),
 ('adidas Core Duramo SL Women schwarz / weiß - Herren Sneaker FV8794',
  {'entities': [(38, 42, 'Farbe')]}),
 ('Adidas Solar Glide W Damen Laufschuhe Sneaker Turnschuhe D97427 Gr . 45 1/3 NEU',
  {'entities': [(57, 63, 'Herstellernummer')]}),
 ('NEU Hummel Off-Field Schuhe Low Sneaker Unisex Retro Leder Sportschuhe SALES',
  {'entities': [(11, 20, 'Modell')]}),
 ('Custom Air Force 1 \'07 Sneaker weiß Hände " Michael Angelo - Social Distancing "',
  {'entities': [(36, 41, 'No Tag')]}),
 ('Adidas Terrex Agravic TR FW1452 Herren Trekking / Wanderschuhe',
  {'entities': [(50, 62, 'Produktart')]}),
 ('Komfortable Basic Herren Sneakers Low Schnürschuhe Helle Sohle 810349 Schuhe',
  {'entities': [(57, 62, 'No Tag')]}),
 ('Air Star Grau / Schwarz Sportschuhe Herren Laufschuhe Freizeitschuhe Sneaker',
  {'entities': [(36, 42, 'Abteilung')]}),
 ('Adidas Craig Green ZX 2K Phormar II ( FY5722 ) Sneakers Trainers Mens NEU OVP',
  {'entities': [(36, 37, 'No Tag')]}),
 ('adidas Originals Tubular Doom Mid Schuhe Herren Sneaker BY3553 Winter Weiss',
  {'entities': [(48, 55, 'Stil')]}),
 ('ORIGINAL DADA Supreme BLADE shiny Glattleder ungetragen Sammler Sneaker Gr 41 42',
  {'entities': [(28, 33, 'Akzente')]}),
 ('Keen Damen Sneaker Explore WP 1023457 Dusty Olive Drizzle',
  {'entities': [(0, 4, 'Marke')]}),
 ('New Balance MSX 90 D TTI Grey Blue Schuhe Sneaker Grau Blau',
  {'entities': [(12, 24, 'Modell')]}),
 ('Herren Sportschuhe New Balance [ GM500TRT ] neu',
  {'entities': [(44, 47, 'No Tag')]}),
 ('KARL KANI Herren 89 Schuhe - Klassisch Weiß / Blau / Red - Niedrig',
  {'entities': [(59, 66, 'Schuhschaft-Typ')]}),
 ("Skechers Arch Fit - She 's Effortless Damen Schuhe Sneaker 149411 ( Blau-LBNV )",
  {'entities': [(44, 50, 'Produktart')]}),
 ("Nike Air Force 1 ' 07 Leather Grey AJ7280 003 UK_12 US_13 EUR 47.5",
  {'entities': [(5, 16, 'Produktlinie')]}),
 ('Puma Streetballer Mid Winter Leder burnt olive Schuhe grün 358798 03',
  {'entities': [(35, 46, 'Farbe')]}),
 ('Gabor Fashion Sneaker 43 380 16 Blau Nubuk Leder Halbschuh Schnürung Einlage',
  {'entities': [(14, 21, 'Stil')]}),
 ('Adidas Herren Damen 3MC Slip On Sneaker Sportschuhe Turnschuhe Freizeit Weiss',
  {'entities': [(63, 71, 'Anlass')]}),
 ('Adidas Craig Green ZX 2K Phormar II ( FY5722 ) Sneakers Trainers Mens NEU OVP',
  {'entities': [(45, 46, 'No Tag')]}),
 ('Skechers Flex Appeal 2.0 - Newsmaker Damen Schuhe Sneaker 12775 ( Blau-NVY )',
  {'entities': [(43, 49, 'Produktart')]}),
 ('New Balance Damen Schuhe Sneaker Turnschuhe Freizeitschuhe WL574EN ( Blau )',
  {'entities': [(25, 32, 'Stil')]}),
 ('Onitsuka Tiger Mexico 66 Turnschuhe Schwarz Weiß Silber Weiß ASICS Leder',
  {'entities': [(61, 66, 'Marke')]}),
 ("PUMA BASKET HEART WN 'S Damenschuhe Schwarz Schleife Sale Sonderangebot 365198-01",
  {'entities': [(53, 57, 'No Tag')]}),
 ('Vintage Adidas Marathon 80 UK 7.5 US 8.5 EU 41 1/3 Made in West Germany Bayer',
  {'entities': [(51, 55, 'No Tag')]}),
 ('ADIDAS ULTRABOOST 19 M SNEAKER LAUFSCHUHE G27508 GR . 40 2/3 ; UK 7 SCHWARZ',
  {'entities': [(49, 51, 'No Tag')]}),
 ('Fila Retronique 22 Wmn Damen Sneaker | Turnschuh | Sportschuh | Veloursleder ( Su',
  {'entities': [(64, 76, 'Obermaterial')]}),
 ('Nike Air Jordan 1 Mid Dark Teal Armory Navy Sneaker 554724-411 NEU Herrenschuhe',
  {'entities': [(22, 43, 'Farbe')]}),
 ('Prada Wildleder Slip-On High-Top Loafer in dunkelgrün , Größe EUR 36,5',
  {'entities': [(62, 70, 'EU-Schuhgröße')]}),
 ('Nike Dunk Low Easter 2022 ( W ) verschiedene Größen / NEU | OVP | RECHNUNG',
  {'entities': [(32, 44, 'No Tag')]}),
 ('K-Swiss Hof IV MID , Herren Sneaker , Braun Schuhe Herren Größenwahl NEU',
  {'entities': [(28, 35, 'Stil')]}),
 ('Adidas Originals 2009 ZX 700 BOAT Series Black / Legacy US10 ,5 EU44 ,5 UK10',
  {'entities': [(7, 16, 'Produktlinie')]}),
 ('Skechers Uno-Stand on Air 73690-RED , Damen , Sneaker , Rot',
  {'entities': [(54, 55, 'No Tag')]}),
 ('ARMANI JEANS Schuhe neu Original Echtleder UVP : 250 € Gr . 45',
  {'entities': [(60, 62, 'EU-Schuhgröße')]}),
 ('Original Versace Sneaker Weiß Gold Neu in OVP Versace Jeans Couture Gr . 38',
  {'entities': [(71, 72, 'No Tag')]}),
 ('Herren Sneaker Schnürer Low-Top Freizeitschuhe schwarz blau grau 40-46 Neu 19903',
  {'entities': [(71, 74, 'No Tag')]}),
 ('asics gel-lyte III 42,5 43,5 44 44,5 45 46 H7E4Y-5456 sAgA V vintage 90er vegan',
  {'entities': [(61, 73, 'Thema')]}),
 ('Converse Chuck Taylor All Star Classic Seasonal Color HI Sneaker High Freizeit',
  {'entities': [(70, 78, 'Anlass')]}),
 ('Herren Freizeitschuhe Atmungsaktives Laufschuhe Tenis Masculino Schuhe Gr.39-45',
  {'entities': [(64, 70, 'Produktart')]}),
 ('Joe Nimble strideToes | Herren | Gr . 9,0 ( 43 ) | Schwarz',
  {'entities': [(44, 46, 'EU-Schuhgröße')]}),
 ('Nike Air Max SC Gr . wählbar Neu & OVP CW4555 101 111',
  {'entities': [(39, 53, 'Herstellernummer')]}),
 ('Nike SB mns Sneaker Low Stefan Janoski Max - black - Neu & OVP',
  {'entities': [(59, 62, 'No Tag')]}),
 ('Onitsuka Tiger Mexico 66 Turnschuhe Schwarz Weiß Silber Weiß ASICS Leder',
  {'entities': [(25, 35, 'Produktart')]}),
 ('Adidas Damen Schuhe Duramo 9 Damenschuhe Sneaker Turnschuhe',
  {'entities': [(20, 28, 'Modell')]}),
 ('Nike Air Jordan 1 Low Dark Beetroot Roma Green ( GS ) | NEU & UNGETRAGEN ✅',
  {'entities': [(0, 4, 'Marke')]}),
 ('PUMA " BMW MMS Future Kart Cat " Sneaker , Gr .42 ( entspr . Gr . 40 )',
  {'entities': [(59, 60, 'No Tag')]}),
 ('Converse Chuck Taylor All Star Ox 167636C Black / Total Orange / Street Sage',
  {'entities': [(9, 30, 'Produktlinie')]}),
 ('Adidas Yeezy Boost 350 V2 Core Black White | Oreo | Sneaker | ⚡ - Versand | 36 NEU !',
  {'entities': [(60, 61, 'No Tag')]}),
 ('Lakai Footwear Skate Schuhe Shoes Porter Midnight Canvas 8,5 / 42',
  {'entities': [(50, 56, 'Gewebeart')]}),
 ('adidas NMD XR1 Originals Primeknit " Zebra " Sneaker Runner Boost BB2911',
  {'entities': [(43, 44, 'No Tag')]}),
 ('Puma Smash Wns V2 L Damen Schuhe Sneaker Turnschuhe 365208 ( Weiß 04 )',
  {'entities': [(33, 40, 'Stil')]}),
 ('Gabor Damen Sneaker Freizeitschuhe Halbschuhe Comfortschuhe Rosa Gr . 38 ( UK5 )',
  {'entities': [(65, 67, 'No Tag')]}),
 ('Nike Dunk Low Sb St. Patricks Day EU44 US 10 | NEU & Ungetragen | Händler',
  {'entities': [(47, 50, 'No Tag')]}),
 ('Reebok Classic Leather Ultralite Leder Herrenschuhe Herren Sneaker NEU J86401',
  {'entities': [(15, 22, 'Obermaterial')]}),
 ('Herren Schuhe adidas RESPONSE TRAIL EG0000',
  {'entities': [(30, 35, 'Aktivität')]}),
 ('ETNIES Marana XT Skaterschuh RVM Navy White [ 4101000454 472 ] NEU OVP',
  {'entities': [(63, 66, 'No Tag')]}),
 ('Adidas Herren Sneaker Freizeitschuhe Halbschuh Comfortschuhe Weiß Gr . 44 ( UK9 .5 )',
  {'entities': [(14, 21, 'Stil')]}),
 ('Puma R 78 SL Herren Sneaker Lederimitat Textilfutter Retro-Running-Laufsohle',
  {'entities': [(40, 52, 'Futtermaterial')]}),
 ('Converse Chucks All Star OX Größe 42 MAROON WEINROT M9691C NEU TOP',
  {'entities': [(0, 8, 'Marke')]}),
 ('Merrell Vapor Glove 3 Luna LTR J003361 Barefoot Sneaker Turnschuhe Schuhe Herren',
  {'entities': [(8, 30, 'Modell')]}),
 ('FILA Damen Sneaker Gr . 39', {'entities': [(19, 21, 'No Tag')]}),
 ('Puma R78 373117-01 Retro Sneaker Herren Schuhe Turnschuhe Schwarz Weiß SALE',
  {'entities': [(0, 4, 'Marke')]}),
 ('Asics Damen Sneaker Onitsuka Tiger Gr 37 Court 82 Leder Turnschuhe Schwarz Weiß',
  {'entities': [(50, 55, 'Obermaterial')]}),
 ('Converse Unisex Schuhe Sneaker Star Play EV Denim OX 109898 Red rot',
  {'entities': [(44, 49, 'Gewebeart')]}),
 ('Puma Suede Classic 50th Gold / Puma Archive / Jubiläumsschuhe / Sneaker / gold / 36634101',
  {'entities': [(0, 4, 'Marke')]}),
 ('Jomos 315201 , leichter , komfortabler Schnürschuh ** Übergröße **',
  {'entities': [(13, 14, 'No Tag')]}),
 ('Nike Air Max Tailwind IV SE 42 42,5 44 45 CT1263 001 95 98 tn plus',
  {'entities': [(13, 27, 'Modell')]}),
 ('Neu original Damenschuhe FILA V94M LOW WMN 1010600-02M Sneaker Turnschuhe',
  {'entities': [(4, 12, 'No Tag')]}),
 ('FILA Damen Schuhe Gr .38', {'entities': [(5, 10, 'Abteilung')]}),
 ('Nike Dunk Low Sail Light Bone Creme Weiss Off White Beige Größe EU36 US4 NEU',
  {'entities': [(58, 63, 'No Tag')]}),
 ('Onitsuka Tiger Mexico Delegation Sneaker Schuhe D601L rot-weiß EU 40,5 US 7,5',
  {'entities': [(0, 14, 'Marke')]}),
 ('Damen Sneaker Slip Ons Keilabsatz Strick Profil-Sohle Schuhe 838284 Schuhe',
  {'entities': [(41, 53, 'Besonderheiten')]}),
 ('Turnschuhe Hallenschuhe Sportschuhe Sneaker Schwarz Blau 18533 Neu 36-46',
  {'entities': [(36, 43, 'Stil')]}),
 ('Adidas UltraBoost DNA Leather Leder White Größe 40 2/3 weiß EH1210 Ultra Boost',
  {'entities': [(0, 6, 'Marke')]}),
 ('Adidas NMD R2 W Damen Sneaker Turnschuhe Schuhe weiß BY2245 Gr . 36 2/3 & 37 NEU',
  {'entities': [(60, 62, 'No Tag')]}),
 ('Camper Pelotas 17408-086 Sneaker Herren Braun',
  {'entities': [(25, 32, 'Stil')]}),
 ('Diem Herren Angelschuhe Wasserdicht Atmungsaktiv Angeln Schuhe Schnürschuhe',
  {'entities': [(12, 23, 'Produktart')]}),
 ('Neu Converse Chuck Schneider Alle Star Lo Looney Tunes Pepe Le Pew Sneaker Weiß',
  {'entities': [(19, 28, 'No Tag')]}),
 ('Herren Hallenschuhe Turnschuhe Sneaker Schnürer Sportschuhe Schwarz Grün 17929',
  {'entities': [(0, 6, 'Abteilung')]}),
 ('Asics Gel Noosa TRI 11 Herrenlaufschuhe Running ( 1011A631-001 ) Größe 44 neu in',
  {'entities': [(71, 73, 'EU-Schuhgröße')]}),
 ('Herren Damen Turnschuhe weiße Essential Sneaker Sportlaufschuhe Outdoorschuhe',
  {'entities': [(30, 39, 'Modell')]}),
 ('Etnies Lo-Cut black / black / gum Skater Schuhe / Sneaker schwarz Größenauswahl',
  {'entities': [(58, 65, 'Farbe')]}),
 ('AJ4 Herren - und Damenturnschuhe Hochwertige Basketballschuhe Laufschuhe DE',
  {'entities': [(17, 32, 'Produktart')]}),
 ('Emerica Originals " Marc Johnson " Re-Release Größe 42',
  {'entities': [(20, 32, 'Modell')]}),
 ('New Balance Fresh Foam Cruz Damen-Sneaker Laufschuhe Freizeitschuhe NEU',
  {'entities': [(12, 27, 'Modell')]}),
 ('Adidas Gazelle Herren Sneaker low Turnschuhe Sportschuhe Freizeitschuhe',
  {'entities': [(30, 33, 'Schuhschaft-Typ')]}),
 ('Adidas Performance Opticourt Team Light 2 black / blue',
  {'entities': [(50, 54, 'Farbe')]}),
 ('CONWAY Damen u. Herren Outdoor Trekking - und Walkingschuh ( NOLTE )',
  {'entities': [(13, 15, 'No Tag')]}),
 ('Converse Chuck Taylor All Star Rival Mid Unisex Schuhe Sneaker 164891C ( Schwarz )',
  {'entities': [(0, 8, 'Marke')]}),
 ('Skechers Oak Canyon Sneaker | schwarz / braun | Memory Foam | Größe 45',
  {'entities': [(20, 27, 'Stil')]}),
 ('Nike Air Zoom Pegasus 37 EK - Eliud Kipchoge - DD9478-100 Herren Laufschuhe Weiß',
  {'entities': [(30, 44, 'Modell')]}),
 ('Nike Dunk Low Retro White Black Panda ( GS ) 36-40 | NEU & UNGETRAGEN ✅',
  {'entities': [(45, 50, 'EU-Schuhgröße')]}),
 ('NEW BALANCE BB 550 WBG SEASONAL LEGACY white burgundy BB550WBG NEU',
  {'entities': [(63, 66, 'No Tag')]}),
 ('Nike Air Max 90 NS GPX Black Bright Crimson Größe 44 schwarz AJ7182 003',
  {'entities': [(13, 22, 'Modell')]}),
 ('Kappa 242353 Sneaker Damen Turnschuhe Schuhe pink',
  {'entities': [(27, 44, 'Produktart')]}),
 ('Feethit Turnschuhe Herren Laufschuhe Sportschuhe Sneaker ( 41 EU | Schwarz )',
  {'entities': [(59, 64, 'EU-Schuhgröße')]}),
 ('Damen Sneaker High Warm Gefütterte Turnschuhe Schnürer Schuhe 824303 Trendy Neu',
  {'entities': [(0, 5, 'Abteilung')]}),
 ('GOLA , Seeker Slip , Leinenschuh , Herrenschuhe , SONDERPREIS , Gr . 41 + 42',
  {'entities': [(33, 34, 'No Tag')]}),
 ('Adidas Energy Boost Laufschuhe Sneaker Turnschuhe weiß BB3454 Gr . 39 & 40 NEU',
  {'entities': [(39, 49, 'Produktart')]}),
 ('U.S. POLO ASSN. Sneaker Turnschuhe Herrenschuhe Freizeitschuhe NOBIL003A-RED001',
  {'entities': [(16, 23, 'Stil')]}),
 ('Neu camel active Evolution Schnürschuhe 5759525 für Herren braun',
  {'entities': [(59, 64, 'Farbe')]}),
 ('Puma Carina Damen Sneaker | Turnschuh | Sportschuh | Textil , Synthetik - NEU',
  {'entities': [(12, 17, 'Abteilung')]}),
 ('Adidas Vespa Sneaker -- grau / grün -- US 10,5 / UK10 -- gebraucht guter Zustand -- KULT !',
  {'entities': [(57, 66, 'No Tag')]}),
 ("AIR FORCE 1 '07 Sneaker Damen Herren Sport Freizeitschuhe Joggingschuhe Weiß",
  {'entities': [(37, 42, 'Anlass')]}),
 ('Bugatti Herren Sneaker in weiß in der Gr .42',
  {'entities': [(26, 30, 'Farbe')]}),
 ('VANS ATWOOD HI Größe 39 US 7 ( MTE ) BROWN WHITE VN-O VG3DX4 TOP NEU',
  {'entities': [(24, 28, 'US-Schuhgröße')]}),
 ('Fila Damen Sportschuhe Sneaker EUR 36 Nr . 21-P-25',
  {'entities': [(31, 37, 'EU-Schuhgröße')]}),
 ('Nike Air Max 270 React Damen Sneaker Turnschuhe Sportschuhe CZ0374-500 , Neu',
  {'entities': [(13, 22, 'Modell')]}),
 ('Nike Air Max 1 Premium Retro " Atmos Elephant 2017 " ( US7 .5 / EU40 ,5 )',
  {'entities': [(46, 50, 'Erscheinungsjahr')]}),
 ('Meline ital . SNEAKER MOLURUS ACQUA M21',
  {'entities': [(7, 11, 'Herstellungsland und -region')]}),
 ('Reebok BS8972 Classic Junior Schuhe Sneaker Turnschuhe Kinder Mädchen Echtleder',
  {'entities': [(22, 28, 'Abteilung')]}),
 ('Damen Strass Turnschuhe Freizeit Slip On Sport Trainingsschuhe Laufen Trainers',
  {'entities': [(63, 69, 'Aktivität')]}),
 ('Nike Air Trainer III 3 Chlorophyll OG Retro UK 5 EU 38 / 344950-100',

In [102]:
import random

# Assuming you have a list of tuples 'spacy_data' as described in your question

# Set the random seed for reproducibility
random.seed(42)

# Define the ratio for the split (e.g., 80% train and 20% test)
train_ratio = 0.8

# Calculate the number of samples for each split
num_samples = len(spacy_data)
num_train_samples = int(train_ratio * num_samples)
num_test_samples = num_samples - num_train_samples

# Shuffle the data
random.shuffle(spacy_data)

# Split the data into train and test
train_data = spacy_data[:num_train_samples]
test_data = spacy_data[num_train_samples:]

In [101]:
# Disable pipeline components you dont need to change
pipe_exceptions = ["ner", "trf_wordpiecer", "trf_tok2vec"]
unaffected_pipes = [pipe for pipe in nlp.pipe_names if pipe not in pipe_exceptions]

In [105]:
# Import requirements
from spacy.util import minibatch, compounding
from pathlib import Path
from spacy.training.example import Example

# TRAINING THE MODEL
with nlp.disable_pipes(*unaffected_pipes):

  # Training for 30 iterations
  for iteration in range(30):

    # shuufling examples  before every iteration
    random.shuffle(train_data)
    losses = {}
    # batch up the examples using spaCy's minibatch
    batches = minibatch(train_data, size=compounding(4.0, 32.0, 1.001))
    for batch in batches:
        texts, annotations = zip(*batch)
        example = []
        for i in range(len(texts)):
          doc = nlp.make_doc(texts[i])
          example.append(Example.from_dict(doc, annotations[i]))
        nlp.update(example, drop=0.5, losses=losses)
        print("Losses", losses)

Losses {'ner': 7.504625180998119}
Losses {'ner': 15.076683943654643}
Losses {'ner': 22.96990634533904}
Losses {'ner': 30.246683315444898}
Losses {'ner': 37.91195944133324}
Losses {'ner': 45.64751841321231}
Losses {'ner': 53.419669329259705}
Losses {'ner': 61.34156799276934}
Losses {'ner': 68.92600471126025}
Losses {'ner': 76.1969615216276}
Losses {'ner': 83.59838665048846}
Losses {'ner': 90.73090811777183}
Losses {'ner': 98.3400560222126}
Losses {'ner': 106.83610029351803}
Losses {'ner': 115.08972334543614}
Losses {'ner': 122.06698482258616}
Losses {'ner': 129.0140775933305}
Losses {'ner': 136.94248451162093}
Losses {'ner': 144.3682602277022}
Losses {'ner': 152.27724746717104}
Losses {'ner': 159.98315110788644}
Losses {'ner': 167.49001260460318}
Losses {'ner': 175.45328299354696}
Losses {'ner': 183.31990915429014}
Losses {'ner': 191.73390741746516}
Losses {'ner': 199.8622086020896}
Losses {'ner': 207.8113687868008}
Losses {'ner': 215.31090451039017}
Losses {'ner': 222.64704717827954}
Losses {'ner': 229.7592453821253}
Losses {'ner': 237.50333306053471}
Losses {'ner': 245.1689976514299}
Losses {'ner': 253.27617091545653}
Losses {'ner': 261.2943325457145}
Losses {'ner': 269.07997678103675}
Losses {'ner': 276.8944170477316}
Losses {'ner': 284.94297930574794}
Losses {'ner': 293.21248852473036}
Losses {'ner': 300.80284123460115}
Losses {'ner': 308.65739384072185}
Losses {'ner': 316.5301025408535}
Losses {'ner': 324.49303371843234}
Losses {'ner': 332.16175330558144}
Losses {'ner': 339.5571714931848}
Losses {'ner': 346.96423786203195}
Losses {'ner': 354.39483508025114}
Losses {'ner': 362.0780543689598}
Losses {'ner': 368.5320183862914}
Losses {'ner': 375.65814900712394}
Losses {'ner': 382.71780920179845}
Losses {'ner': 390.09678232029364}
Losses {'ner': 397.8274043939291}
Losses {'ner': 405.5700142784026}
Losses {'ner': 413.4397899711021}
Losses {'ner': 421.87783658294757}
Losses {'ner': 428.89292114352975}
Losses {'ner': 434.5618522520217}
Losses {'ner': 442.4476491146761}
Losses {'ner': 449.9182735289487}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Knack 040 Modische Sneakers Herren Schuhe Turnschu..." with entities "[(53, 58, 'Anlass')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 457.8804605806981}
Losses {'ner': 465.65456630650806}
Losses {'ner': 472.71500392887174}
Losses {'ner': 479.2752762723285}
Losses {'ner': 487.1700872976835}
Losses {'ner': 494.9892186590041}
Losses {'ner': 502.9219008076507}
Losses {'ner': 509.958200807454}
Losses {'ner': 517.8740824118031}
Losses {'ner': 525.5779280448878}
Losses {'ner': 532.6455728810361}
Losses {'ner': 540.4177701070985}
Losses {'ner': 548.0064301349303}
Losses {'ner': 555.7720609576172}
Losses {'ner': 562.8822547859436}
Losses {'ner': 570.2001579041516}
Losses {'ner': 576.836450764762}
Losses {'ner': 582.9789639193023}
Losses {'ner': 591.2695941690745}
Losses {'ner': 598.8991376814356}
Losses {'ner': 606.23303488278}
Losses {'ner': 613.9643501942901}
Losses {'ner': 621.8694065169311}
Losses {'ner': 629.4398076359994}
Losses {'ner': 636.6470444191127}
Losses {'ner': 644.3064153937503}
Losses {'ner': 651.722539713699}
Losses {'ner': 659.4280468998822}
Losses {'ner': 667.4755374119031}
Losses {'ner': 675.5853650225672}
Losses {'ner': 682.8676983486275}
Losses {'ner': 690.2102648634809}
Losses {'ner': 697.7564480484343}
Losses {'ner': 705.4566434731587}
Losses {'ner': 713.3242183167367}
Losses {'ner': 721.4028349153577}
Losses {'ner': 729.2239179800144}
Losses {'ner': 736.8225555986046}
Losses {'ner': 744.5346036745013}
Losses {'ner': 752.1107714973168}
Losses {'ner': 759.5241563008876}
Losses {'ner': 766.4385165267431}
Losses {'ner': 772.9123355159809}
Losses {'ner': 780.5668889503268}
Losses {'ner': 788.0187105047789}
Losses {'ner': 796.0049699060892}
Losses {'ner': 803.9256902367615}
Losses {'ner': 810.9559522883774}
Losses {'ner': 818.5630457520583}
Losses {'ner': 825.6122260008106}
Losses {'ner': 833.9475111675547}
Losses {'ner': 842.4835616893233}
Losses {'ner': 850.6967558812448}
Losses {'ner': 858.9441864244272}
Losses {'ner': 864.4650989068377}
Losses {'ner': 871.6329923489302}
Losses {'ner': 879.7163827036911}
Losses {'ner': 888.4466929164828}
Losses {'ner': 895.8464902088072}
Losses {'ner': 902.8924916733795}
Losses {'ner': 909.397226462037}
Losses {'ner': 917.3299333105806}
Losses {'ner': 924.6699197352409}
Losses {'ner': 931.8425565730558}
Losses {'ner': 938.8115984579326}
Losses {'ner': 946.1138486168475}
Losses {'ner': 953.6861870514822}
Losses {'ner': 961.1397218352777}
Losses {'ner': 969.0870237953623}
Losses {'ner': 976.7064445295964}
Losses {'ner': 984.3203978894871}
Losses {'ner': 992.1098565647972}
Losses {'ner': 999.4417111987841}
Losses {'ner': 1006.9188216237944}
Losses {'ner': 1014.5026527538557}
Losses {'ner': 1022.5525528325361}
Losses {'ner': 1030.6033032124524}
Losses {'ner': 1038.1042707653378}
Losses {'ner': 1046.3725163419858}
Losses {'ner': 1054.348059286238}
Losses {'ner': 1062.3130069271338}
Losses {'ner': 1070.7246663094174}
Losses {'ner': 1079.0046809628202}
Losses {'ner': 1086.3189092721386}
Losses {'ner': 1093.624228796598}
Losses {'ner': 1101.7989315229024}
Losses {'ner': 1110.1111260876605}
Losses {'ner': 1117.695129773132}
Losses {'ner': 1125.407343589719}
Losses {'ner': 1132.5944539861703}
Losses {'ner': 1139.7913616578044}
Losses {'ner': 1146.9077374342269}
Losses {'ner': 1153.8335473461448}
Losses {'ner': 1161.6799238545027}
Losses {'ner': 1170.045644167545}
Losses {'ner': 1177.3368184507963}
Losses {'ner': 1184.8528699188864}
Losses {'ner': 1192.3514603249168}
Losses {'ner': 1199.2846446114963}
Losses {'ner': 1206.8973317196032}
Losses {'ner': 1215.2649949708393}
Losses {'ner': 1223.1504823775285}
Losses {'ner': 1230.9504632656717}
Losses {'ner': 1238.6166307465428}
Losses {'ner': 1246.6533133366866}
Losses {'ner': 1254.3992581750172}
Losses {'ner': 1263.303346393015}
Losses {'ner': 1271.4271341593376}
Losses {'ner': 1279.7264242805213}
Losses {'ner': 1287.2473898841672}
Losses {'ner': 1295.5157978627503}
Losses {'ner': 1303.1846004152212}
Losses {'ner': 1311.9032572629403}
Losses {'ner': 1319.8560467008974}
Losses {'ner': 1327.8316429022707}
Losses {'ner': 1335.3849612724043}
Losses {'ner': 1343.0705627776224}
Losses {'ner': 1350.4682807722602}
Losses {'ner': 1358.418222301454}
Losses {'ner': 1365.954073800578}
Losses {'ner': 1373.536117139145}
Losses {'ner': 1380.715806774202}
Losses {'ner': 1388.2439271480434}
Losses {'ner': 1396.029843538523}
Losses {'ner': 1402.9682522159892}
Losses {'ner': 1410.2343545080985}
Losses {'ner': 1418.4907091017703}
Losses {'ner': 1426.1071951826925}
Losses {'ner': 1433.6491069099757}
Losses {'ner': 1441.6433614357265}
Losses {'ner': 1449.240525092453}
Losses {'ner': 1456.663249022782}
Losses {'ner': 1464.2195187094512}
Losses {'ner': 1470.9445456219728}
Losses {'ner': 1478.7797953291301}
Losses {'ner': 1486.4434676291858}
Losses {'ner': 1493.4686553597421}
Losses {'ner': 1501.8746314881573}
Losses {'ner': 1509.6548292370717}
Losses {'ner': 1516.7534215538035}
Losses {'ner': 1524.7097389009286}
Losses {'ner': 1531.2756005973642}
Losses {'ner': 1539.4704527418216}
Losses {'ner': 1547.1344654128043}
Losses {'ner': 1554.3464208425576}
Losses {'ner': 1562.327724376053}
Losses {'ner': 1570.350377661336}
Losses {'ner': 1577.9238779864827}
Losses {'ner': 1585.5335329420486}
Losses {'ner': 1592.8535186474764}
Losses {'ner': 1600.0178676399955}
Losses {'ner': 1608.5110750751192}
Losses {'ner': 1615.5473163210409}
Losses {'ner': 1623.6163297948224}
Losses {'ner': 1631.4871073398535}
Losses {'ner': 1639.3991436060314}
Losses {'ner': 1646.6831321372447}
Losses {'ner': 1654.5456853702344}
Losses {'ner': 1662.4398076890648}
Losses {'ner': 1669.5632831659314}
Losses {'ner': 1677.72622295389}
Losses {'ner': 1685.8485107269516}
Losses {'ner': 1693.460960519631}
Losses {'ner': 1701.1988217370963}
Losses {'ner': 1708.737317043022}
Losses {'ner': 1718.2942351071542}
Losses {'ner': 1727.8002226461103}
Losses {'ner': 1737.839620107974}
Losses {'ner': 1747.2257830018207}
Losses {'ner': 1756.5706085013371}
Losses {'ner': 1766.5950711523328}
Losses {'ner': 1776.4146400648315}
Losses {'ner': 1785.9928627307672}
Losses {'ner': 1795.5067575643916}
Losses {'ner': 1805.1880839606893}
Losses {'ner': 1814.45271877294}
Losses {'ner': 1824.455586231561}
Losses {'ner': 1833.8243760836922}
Losses {'ner': 1843.8067513000715}
Losses {'ner': 1852.8161389161396}
Losses {'ner': 1862.0358998016018}
Losses {'ner': 1871.7625295257894}
Losses {'ner': 1881.3239442917475}
Losses {'ner': 1891.1208859123944}
Losses {'ner': 1899.6246317278783}
Losses {'ner': 1909.4070325277935}
Losses {'ner': 1919.0673225009014}
Losses {'ner': 1928.6816827740404}
Losses {'ner': 1937.797947690764}
Losses {'ner': 1946.9405088237836}
Losses {'ner': 1958.926803130831}
Losses {'ner': 1967.6760438279598}
Losses {'ner': 1976.8944465024397}
Losses {'ner': 1986.4319973115344}
Losses {'ner': 1995.9548427229747}
Losses {'ner': 2006.018402871472}
Losses {'ner': 2015.3015342920844}
Losses {'ner': 2024.20086304078}
Losses {'ner': 2033.7704287650995}
Losses {'ner': 2043.2557589439384}
Losses {'ner': 2052.3603141689964}
Losses {'ner': 2062.0820298372128}
Losses {'ner': 2072.2972562547366}
Losses {'ner': 2081.760110625706}
Losses {'ner': 2091.247449438728}
Losses {'ner': 2101.579490412434}
Losses {'ner': 2110.0936936152866}
Losses {'ner': 2120.0818750689214}
Losses {'ner': 2128.7434007763804}
Losses {'ner': 2138.248502797651}
Losses {'ner': 2147.998574724159}
Losses {'ner': 2156.2458322956227}
Losses {'ner': 2166.6006046324765}
Losses {'ner': 2176.109543159677}
Losses {'ner': 2185.9567022068222}
Losses {'ner': 2194.687283359075}
Losses {'ner': 2204.4240362598357}
Losses {'ner': 2214.974938025305}
Losses {'ner': 2224.880613031113}
Losses {'ner': 2234.4225505592913}
Losses {'ner': 2244.5005114867963}
Losses {'ner': 2255.030908920933}
Losses {'ner': 2264.8097721412923}
Losses {'ner': 2274.5019687768217}
Losses {'ner': 2283.1043095498026}
Losses {'ner': 2292.616118800608}
Losses {'ner': 2301.949445755934}
Losses {'ner': 2311.466514939806}
Losses {'ner': 2320.81317575532}
Losses {'ner': 2330.4214988400927}
Losses {'ner': 2340.1830073044403}
Losses {'ner': 2349.23255674995}
Losses {'ner': 2358.6150307882344}
Losses {'ner': 2368.2068071127287}
Losses {'ner': 2377.498071740556}
Losses {'ner': 2386.9120338718385}
Losses {'ner': 2396.3284072217975}
Losses {'ner': 2404.866936520997}
Losses {'ner': 2414.305476383979}
Losses {'ner': 2423.9300498526754}
Losses {'ner': 2433.269694269842}
Losses {'ner': 2442.1254670223316}
Losses {'ner': 2452.0434121572507}
Losses {'ner': 2462.2487503759658}
Losses {'ner': 2472.1070407353436}
Losses {'ner': 2481.595256921286}
Losses {'ner': 2491.71589012619}
Losses {'ner': 2500.99338183727}
Losses {'ner': 2510.025980912036}
Losses {'ner': 2519.62665735104}
Losses {'ner': 2529.7997764126667}
Losses {'ner': 2539.5178553271144}
Losses {'ner': 2549.168393705717}
Losses {'ner': 2558.9071900478593}
Losses {'ner': 2568.7700664440927}
Losses {'ner': 2578.19367763403}
Losses {'ner': 2587.792773200461}
Losses {'ner': 2597.2611505910463}
Losses {'ner': 2606.4866826180078}
Losses {'ner': 2616.0151418335445}
Losses {'ner': 2625.660844504804}
Losses {'ner': 2634.89428972124}
Losses {'ner': 2644.8078709016263}
Losses {'ner': 2654.5722397914797}
Losses {'ner': 2663.902602264163}
Losses {'ner': 2674.008878583525}
Losses {'ner': 2683.5711406483024}
Losses {'ner': 2692.401591542148}
Losses {'ner': 2701.886265286681}
Losses {'ner': 2710.7719144150615}
Losses {'ner': 2719.6602485147305}
Losses {'ner': 2729.284642710816}
Losses {'ner': 2738.8123371670954}
Losses {'ner': 2748.7463429067284}
Losses {'ner': 2757.9812374464527}
Losses {'ner': 2767.6335670108747}
Losses {'ner': 2776.832868023128}
Losses {'ner': 2787.1529343894726}
Losses {'ner': 2797.3666969223923}
Losses {'ner': 2807.1177988774652}
Losses {'ner': 2816.582746500986}
Losses {'ner': 2826.5663777328664}
Losses {'ner': 2835.3562275085933}
Losses {'ner': 2845.114091592688}
Losses {'ner': 2854.1033968932825}
Losses {'ner': 2863.5601313415173}
Losses {'ner': 2873.624177243393}
Losses {'ner': 2883.6030951779176}
Losses {'ner': 2892.7934208290317}
Losses {'ner': 2902.90286775188}
Losses {'ner': 2912.573551577734}
Losses {'ner': 2921.921719577833}
Losses {'ner': 2930.736607906205}
Losses {'ner': 2939.8959015554574}
Losses {'ner': 2948.9275739149016}
Losses {'ner': 2958.266278040366}
Losses {'ner': 2967.923999264607}
Losses {'ner': 2977.151504785059}
Losses {'ner': 2986.003462483004}
Losses {'ner': 2994.3993425553817}
Losses {'ner': 3003.7182941924584}
Losses {'ner': 3013.532470395763}
Losses {'ner': 3023.1941361408426}
Losses {'ner': 3032.830178458218}
Losses {'ner': 3043.0251396242274}
Losses {'ner': 3052.1879207212223}
Losses {'ner': 3062.1393099613233}
Losses {'ner': 3071.2544906325384}
Losses {'ner': 3080.268152629931}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Nike Air Shake Ndestrukt / Pigalle AA4315 100 US_9..." with entities "[(73, 74, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 3088.2754748552443}
Losses {'ner': 3097.245019199826}
Losses {'ner': 3106.803181995788}
Losses {'ner': 3115.917143286356}
Losses {'ner': 3125.5784498519834}
Losses {'ner': 3135.999246968747}
Losses {'ner': 3145.6398123631707}
Losses {'ner': 3155.219234666646}
Losses {'ner': 3164.4867495558583}
Losses {'ner': 3174.4980349540137}
Losses {'ner': 3184.359730032914}
Losses {'ner': 3194.2628502002344}
Losses {'ner': 3203.775859533286}
Losses {'ner': 3213.2650160261337}
Losses {'ner': 3222.622552005844}
Losses {'ner': 3231.964428110551}
Losses {'ner': 3241.4640841086302}
Losses {'ner': 3251.0658407643723}
Losses {'ner': 3260.4596737531765}
Losses {'ner': 3270.3774281681335}
Losses {'ner': 3279.373104215302}
Losses {'ner': 3288.991152706084}
Losses {'ner': 3298.640591872151}
Losses {'ner': 3307.416051173809}
Losses {'ner': 3316.363511390512}
Losses {'ner': 3326.0470658647764}
Losses {'ner': 3335.8780038054038}
Losses {'ner': 3345.281063128722}
Losses {'ner': 3355.6873821115523}
Losses {'ner': 3364.7174978183984}
Losses {'ner': 3374.762879932875}
Losses {'ner': 3385.470397363876}
Losses {'ner': 3395.8389824316773}
Losses {'ner': 3405.524317181663}
Losses {'ner': 3415.248318267514}
Losses {'ner': 3423.9288895688887}
Losses {'ner': 3433.479620903724}
Losses {'ner': 3443.2985323104012}
Losses {'ner': 3454.3433807692427}
Losses {'ner': 3465.8928779007338}
Losses {'ner': 3478.4973488849582}
Losses {'ner': 3489.8759669837536}
Losses {'ner': 3501.032056710589}
Losses {'ner': 3512.5557698746206}
Losses {'ner': 3524.391135816136}
Losses {'ner': 3535.676858127722}
Losses {'ner': 3546.7355301468497}
Losses {'ner': 3557.139003494508}
Losses {'ner': 3568.897296322263}
Losses {'ner': 3579.5314967079184}
Losses {'ner': 3590.182686025496}
Losses {'ner': 3601.7187912693926}
Losses {'ner': 3613.087254535102}
Losses {'ner': 3625.084897702255}
Losses {'ner': 3636.7476420380854}
Losses {'ner': 3648.1685257239815}
Losses {'ner': 3659.79159238167}
Losses {'ner': 3671.5608928022057}
Losses {'ner': 3683.5828834050417}
Losses {'ner': 3695.3900778725592}
Losses {'ner': 3706.7421264964005}
Losses {'ner': 3718.0648890386883}
Losses {'ner': 3730.016628180406}
Losses {'ner': 3741.3677541825537}
Losses {'ner': 3751.107635301313}
Losses {'ner': 3762.6284047195304}
Losses {'ner': 3773.9625575139735}
Losses {'ner': 3785.5824187427143}
Losses {'ner': 3796.800166596783}
Losses {'ner': 3808.1342244047055}
Losses {'ner': 3819.29429538575}
Losses {'ner': 3830.233878270993}
Losses {'ner': 3842.246900999723}
Losses {'ner': 3853.448263432635}
Losses {'ner': 3864.931349359257}
Losses {'ner': 3875.84591934694}
Losses {'ner': 3887.0417550208304}
Losses {'ner': 3897.439193110281}
Losses {'ner': 3908.1221361949074}
Losses {'ner': 3918.869435300382}
Losses {'ner': 3929.6779321233344}
Losses {'ner': 3942.256821215765}
Losses {'ner': 3953.1456339598235}
Losses {'ner': 3965.4605606458363}
Losses {'ner': 3977.1983098367064}
Losses {'ner': 3988.749770256488}
Losses {'ner': 4000.229442959332}
Losses {'ner': 4011.971293263866}
Losses {'ner': 4024.1854027519303}
Losses {'ner': 4034.635718026927}
Losses {'ner': 4046.031083539391}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Under Armour UA Assert V WWP Grau Gr : 45,5 - 45 R..." with entities "[(29, 31, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 4055.2908461593624}
Losses {'ner': 4067.088720872912}
Losses {'ner': 4078.1525260065473}
Losses {'ner': 4089.1929376119015}
Losses {'ner': 4101.223364602841}
Losses {'ner': 4113.071256058357}
Losses {'ner': 4124.211267491753}
Losses {'ner': 4136.093459883509}
Losses {'ner': 4147.592628931431}
Losses {'ner': 4159.403716205657}
Losses {'ner': 4170.923208645815}
Losses {'ner': 4182.974486197615}
Losses {'ner': 4193.987760240104}
Losses {'ner': 4205.227139297299}
Losses {'ner': 4216.650275075234}
Losses {'ner': 4228.279541165925}
Losses {'ner': 4240.007635231487}
Losses {'ner': 4251.333486428667}
Losses {'ner': 4261.40069079918}
Losses {'ner': 4272.815468327674}
Losses {'ner': 4284.019826441604}
Losses {'ner': 4295.208635847616}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Adidas PulseBoost HD M / Boost / Sportschuhe / Grö..." with entities "[(57, 58, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 4305.320194685898}
Losses {'ner': 4316.903718955881}
Losses {'ner': 4329.05408344797}
Losses {'ner': 4339.946526752851}
Losses {'ner': 4351.242164596982}
Losses {'ner': 4361.899844672597}
Losses {'ner': 4373.9627831900225}
Losses {'ner': 4384.930955977711}
Losses {'ner': 4395.087733092319}
Losses {'ner': 4406.408896948976}
Losses {'ner': 4417.757776143794}
Losses {'ner': 4428.95175225923}
Losses {'ner': 4441.737970500087}
Losses {'ner': 4453.178743655394}
Losses {'ner': 4464.346814606871}
Losses {'ner': 4474.744368934605}
Losses {'ner': 4485.800369885322}
Losses {'ner': 4498.0365975886025}
Losses {'ner': 4509.552004139209}
Losses {'ner': 4520.686219662232}
Losses {'ner': 4531.734076028494}
Losses {'ner': 4542.479191411324}
Losses {'ner': 4553.95138059956}
Losses {'ner': 4565.652166459514}
Losses {'ner': 4577.122137314794}
Losses {'ner': 4588.427294890084}
Losses {'ner': 4598.639482134561}
Losses {'ner': 4609.933615015399}
Losses {'ner': 4619.596731876068}
Losses {'ner': 4630.742808202501}
Losses {'ner': 4642.815189917791}
Losses {'ner': 4654.814690917484}
Losses {'ner': 4666.713424741393}
Losses {'ner': 4678.135114601603}
Losses {'ner': 4689.718063811678}
Losses {'ner': 4699.822890332341}
Losses {'ner': 4711.980639988579}
Losses {'ner': 4722.509855794743}
Losses {'ner': 4733.301190762687}
Losses {'ner': 4744.311217106785}
Losses {'ner': 4755.706317063327}
Losses {'ner': 4766.787599388129}
Losses {'ner': 4778.942119020664}
Losses {'ner': 4790.509219427812}
Losses {'ner': 4801.4423214853605}
Losses {'ner': 4812.707450346455}
Losses {'ner': 4823.782830988072}
Losses {'ner': 4835.744410484768}
Losses {'ner': 4850.097435764707}
Losses {'ner': 4861.676487174555}
Losses {'ner': 4873.321345126927}
Losses {'ner': 4885.432423896477}
Losses {'ner': 4897.010599551461}
Losses {'ner': 4907.912430704194}
Losses {'ner': 4919.350621831226}
Losses {'ner': 4931.512254105751}
Losses {'ner': 4943.204257807099}
Losses {'ner': 4954.139236846314}
Losses {'ner': 4964.406242071026}
Losses {'ner': 4975.564872169104}
Losses {'ner': 4987.3393265662535}
Losses {'ner': 4998.143236494326}
Losses {'ner': 5010.0872017964075}
Losses {'ner': 5021.077022456849}
Losses {'ner': 5032.259457091562}
Losses {'ner': 5044.213031713146}
Losses {'ner': 5055.5526744257595}
Losses {'ner': 5066.178283010836}
Losses {'ner': 5077.505390071304}
Losses {'ner': 5088.197209679515}
Losses {'ner': 5099.898543679149}
Losses {'ner': 5111.748675848351}
Losses {'ner': 5122.95122423488}
Losses {'ner': 5134.764860509539}
Losses {'ner': 5146.348071843263}
Losses {'ner': 5157.25913336756}
Losses {'ner': 5167.611795664526}
Losses {'ner': 5179.216643502551}
Losses {'ner': 5191.21930418323}
Losses {'ner': 5204.572955967008}
Losses {'ner': 5217.6129663671245}
Losses {'ner': 5230.831763537449}
Losses {'ner': 5244.958833863341}
Losses {'ner': 5259.163790979154}
Losses {'ner': 5271.850062898558}
Losses {'ner': 5285.1853700417205}
Losses {'ner': 5298.862666972645}
Losses {'ner': 5312.0835416544805}
Losses {'ner': 5324.4667493248935}
Losses {'ner': 5336.720338731969}
Losses {'ner': 5349.722045069059}
Losses {'ner': 5363.874384109361}
Losses {'ner': 5376.163515683286}
Losses {'ner': 5389.9618233787705}
Losses {'ner': 5404.144929359792}
Losses {'ner': 5417.976211175447}
Losses {'ner': 5430.277687641451}
Losses {'ner': 5443.967900692144}
Losses {'ner': 5455.601980896558}
Losses {'ner': 5468.688537698902}
Losses {'ner': 5482.805914942722}
Losses {'ner': 5495.2732911259745}
Losses {'ner': 5508.498067035421}
Losses {'ner': 5522.488308337132}
Losses {'ner': 5535.995674916391}
Losses {'ner': 5549.289750677018}
Losses {'ner': 5562.843194180235}
Losses {'ner': 5576.678849664641}
Losses {'ner': 5589.397134615699}
Losses {'ner': 5603.087274267812}
Losses {'ner': 5616.094602057253}
Losses {'ner': 5629.494014146542}
Losses {'ner': 5642.374921939606}
Losses {'ner': 5655.3339057418425}
Losses {'ner': 5668.406982225636}
Losses {'ner': 5680.838411723941}
Losses {'ner': 5693.939753928899}
Losses {'ner': 5707.197771018117}
Losses {'ner': 5719.932057754814}
Losses {'ner': 5733.046060291156}
Losses {'ner': 5746.550618384245}
Losses {'ner': 5760.105321503456}
Losses {'ner': 5773.978096155196}
Losses {'ner': 5787.0940557501535}
Losses {'ner': 5799.275611353144}
Losses {'ner': 5814.549229507372}
Losses {'ner': 5827.940493724812}
Losses {'ner': 5840.646970439274}
Losses {'ner': 5853.441792781968}
Losses {'ner': 5867.719300100617}
Losses {'ner': 5881.183100811447}
Losses {'ner': 5895.386725411991}
Losses {'ner': 5908.380244947498}
Losses {'ner': 5921.589782027056}
Losses {'ner': 5935.008123354514}
Losses {'ner': 5948.5748253876745}
Losses {'ner': 5961.409466192353}
Losses {'ner': 5974.981939670391}
Losses {'ner': 5987.604879794636}
Losses {'ner': 6000.19259056425}
Losses {'ner': 6013.837220381008}
Losses {'ner': 6027.174389804707}
Losses {'ner': 6041.748258657922}
Losses {'ner': 6057.462029959243}
Losses {'ner': 6070.634817823005}
Losses {'ner': 6084.165571917948}
Losses {'ner': 6097.677518240344}
Losses {'ner': 6111.772502035071}
Losses {'ner': 6125.688287992897}
Losses {'ner': 6138.729644948552}
Losses {'ner': 6152.063153838674}
Losses {'ner': 6165.659295348502}
Losses {'ner': 6179.303692114795}
Losses {'ner': 6192.6980432134815}
Losses {'ner': 6206.0209008778265}
Losses {'ner': 6219.04749416472}
Losses {'ner': 6232.226813928145}
Losses {'ner': 6244.833465785087}
Losses {'ner': 6258.545264551133}
Losses {'ner': 6270.668373014029}
Losses {'ner': 6284.816884364184}
Losses {'ner': 6297.105390490448}
Losses {'ner': 6311.26317038708}
Losses {'ner': 6323.822501305441}
Losses {'ner': 6336.615428421596}
Losses {'ner': 6350.196421122128}
Losses {'ner': 6363.571746607261}
Losses {'ner': 6377.1605604933075}
Losses {'ner': 6391.493696724015}
Losses {'ner': 6405.399074415743}
Losses {'ner': 6419.187023567102}
Losses {'ner': 6432.518026214701}
Losses {'ner': 6446.234025322786}
Losses {'ner': 6459.314936995926}
Losses {'ner': 6473.206828004925}
Losses {'ner': 6486.106632311433}
Losses {'ner': 6499.370938768215}
Losses {'ner': 6512.175081775506}
Losses {'ner': 6525.8446181325535}
Losses {'ner': 6539.299359998416}
Losses {'ner': 6552.348907158227}
Losses {'ner': 6566.093849581183}
Losses {'ner': 6578.80241697827}
Losses {'ner': 6591.567454570771}
Losses {'ner': 6604.8763866333}
Losses {'ner': 6617.318667798926}
Losses {'ner': 6629.94970572709}
Losses {'ner': 6642.324986871024}
Losses {'ner': 6655.019397480687}
Losses {'ner': 6668.087304907484}
Losses {'ner': 6681.980542106187}
Losses {'ner': 6695.409716158739}
Losses {'ner': 6707.948617120838}
Losses {'ner': 6720.965588851465}
Losses {'ner': 6734.087586950144}
Losses {'ner': 6747.026353904844}
Losses {'ner': 6760.604404183902}
Losses {'ner': 6772.9648726753485}
Losses {'ner': 6787.016341441788}
Losses {'ner': 6800.047849055042}
Losses {'ner': 6812.435424385488}
Losses {'ner': 6826.4773694741425}
Losses {'ner': 6839.518297380547}
Losses {'ner': 6852.7492416651485}
Losses {'ner': 6867.040952705688}
Losses {'ner': 6879.821879059918}
Losses {'ner': 6893.677803235271}
Losses {'ner': 6907.532349376151}
Losses {'ner': 6920.468308821929}
Losses {'ner': 6933.544874361859}
Losses {'ner': 6947.087928823338}
Losses {'ner': 6960.55266679372}
Losses {'ner': 6973.707573334829}
Losses {'ner': 6989.7729751534325}
Losses {'ner': 7004.736982998581}
Losses {'ner': 7019.364995238805}
Losses {'ner': 7035.114906111235}
Losses {'ner': 7050.887935675416}
Losses {'ner': 7066.037568695579}
Losses {'ner': 7081.744347218159}
Losses {'ner': 7097.614524518806}
Losses {'ner': 7113.140726022158}
Losses {'ner': 7128.791281148294}
Losses {'ner': 7143.329183562161}
Losses {'ner': 7158.776015293869}
Losses {'ner': 7173.410823946903}
Losses {'ner': 7188.133034951604}
Losses {'ner': 7202.999044280118}
Losses {'ner': 7217.218772331454}
Losses {'ner': 7233.131457947396}
Losses {'ner': 7248.653784799227}
Losses {'ner': 7263.042783922353}
Losses {'ner': 7278.187375127175}
Losses {'ner': 7294.7253221187975}
Losses {'ner': 7310.747100753081}
Losses {'ner': 7325.803473498975}
Losses {'ner': 7341.790802380839}
Losses {'ner': 7356.373201402673}
Losses {'ner': 7372.6568752362045}
Losses {'ner': 7387.913016231975}
Losses {'ner': 7403.769207703427}
Losses {'ner': 7418.781674181007}
Losses {'ner': 7432.930464007787}
Losses {'ner': 7448.139523116505}
Losses {'ner': 7463.137219456589}
Losses {'ner': 7477.782885624893}
Losses {'ner': 7493.124298410822}
Losses {'ner': 7508.510405263264}
Losses {'ner': 7523.9143634722395}
Losses {'ner': 7539.156186143385}
Losses {'ner': 7554.610565803928}
Losses {'ner': 7570.261674798542}
Losses {'ner': 7583.975873425353}
Losses {'ner': 7597.243375212868}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Puma Herren Sneaker Freizeitschuhe Schnürschuhe Co..." with entities "[(61, 63, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 7611.437635366788}
Losses {'ner': 7626.896265421977}
Losses {'ner': 7641.119470042974}
Losses {'ner': 7655.827883203206}
Losses {'ner': 7670.5776421786695}
Losses {'ner': 7685.575666236266}
Losses {'ner': 7700.760382602498}
Losses {'ner': 7715.342294742394}
Losses {'ner': 7730.399537789203}
Losses {'ner': 7745.320714824052}
Losses {'ner': 7760.357434820417}
Losses {'ner': 7775.102753289252}
Losses {'ner': 7790.849362588696}
Losses {'ner': 7805.945913732144}
Losses {'ner': 7820.904290410782}
Losses {'ner': 7836.055372704844}
Losses {'ner': 7851.558730513415}
Losses {'ner': 7867.52546988495}
Losses {'ner': 7883.338377657089}
Losses {'ner': 7898.1546039801515}
Losses {'ner': 7912.257178465506}
Losses {'ner': 7926.689469908034}
Losses {'ner': 7942.3815971925405}
Losses {'ner': 7957.965821749928}
Losses {'ner': 7973.6156069326}
Losses {'ner': 7989.0410313351795}
Losses {'ner': 8004.1616729678835}
Losses {'ner': 8019.433629409342}
Losses {'ner': 8035.406741550692}
Losses {'ner': 8049.932373403023}
Losses {'ner': 8064.59458570647}
Losses {'ner': 8079.388985133123}
Losses {'ner': 8094.61233862033}
Losses {'ner': 8109.518033862206}
Losses {'ner': 8124.525544571782}
Losses {'ner': 8139.002236934471}
Losses {'ner': 8155.261567648592}
Losses {'ner': 8170.188534618913}
Losses {'ner': 8185.589571275957}
Losses {'ner': 8201.180143201174}
Losses {'ner': 8215.841343288575}
Losses {'ner': 8231.31653357673}
Losses {'ner': 8246.367296021464}
Losses {'ner': 8261.44019864107}
Losses {'ner': 8277.6618462168}
Losses {'ner': 8292.621455574441}
Losses {'ner': 8308.212567839804}
Losses {'ner': 8323.65625440318}
Losses {'ner': 8338.606656525899}
Losses {'ner': 8354.259759370721}
Losses {'ner': 8368.917790905125}
Losses {'ner': 8383.95682827129}
Losses {'ner': 8399.205032954942}
Losses {'ner': 8414.42753937493}
Losses {'ner': 8429.785477509973}
Losses {'ner': 8443.738056471415}
Losses {'ner': 8459.22689700111}
Losses {'ner': 8474.416215153255}
Losses {'ner': 8490.472047135368}
Losses {'ner': 8506.029194404971}
Losses {'ner': 8521.920872903098}
Losses {'ner': 8537.796842873464}
Losses {'ner': 8552.529677447299}
Losses {'ner': 8566.974752920582}
Losses {'ner': 8581.797811181637}
Losses {'ner': 8596.643636335972}
Losses {'ner': 8611.751963573162}
Losses {'ner': 8627.440328164117}
Losses {'ner': 8641.709630321802}
Losses {'ner': 8656.494306862212}
Losses {'ner': 8671.922868300087}
Losses {'ner': 8687.318649044119}
Losses {'ner': 8701.96749297981}
Losses {'ner': 8717.214858279334}
Losses {'ner': 8732.390586043712}
Losses {'ner': 8747.751056122597}
Losses {'ner': 8763.074169310745}
Losses {'ner': 8779.986456716437}
Losses {'ner': 8795.48037268424}
Losses {'ner': 8812.543093999837}
Losses {'ner': 8829.617663957633}
Losses {'ner': 8845.643748474122}
Losses {'ner': 8862.18815311771}
Losses {'ner': 8878.507795771398}
Losses {'ner': 8896.138818117488}
Losses {'ner': 8913.69609790661}
Losses {'ner': 8931.438160060487}
Losses {'ner': 8950.386751611648}
Losses {'ner': 8968.291862572067}
Losses {'ner': 8986.071760098439}
Losses {'ner': 9003.61826108232}
Losses {'ner': 9021.450732728688}
Losses {'ner': 9039.088707722945}
Losses {'ner': 9056.563988384081}
Losses {'ner': 9073.693977349194}
Losses {'ner': 9090.008068172949}
Losses {'ner': 9106.704545461329}
Losses {'ner': 9123.825806766868}
Losses {'ner': 9140.862456306935}
Losses {'ner': 9157.901308349454}
Losses {'ner': 9174.327615501013}
Losses {'ner': 9191.251761161377}
Losses {'ner': 9208.256415852466}
Losses {'ner': 9225.71100688179}
Losses {'ner': 9241.974622165904}
Losses {'ner': 9258.116841718442}
Losses {'ner': 9275.153896016887}
Losses {'ner': 9291.67678594415}
Losses {'ner': 9308.80112868945}
Losses {'ner': 9325.86933208352}
Losses {'ner': 9341.69887875488}
Losses {'ner': 9359.308488397819}
Losses {'ner': 9375.889144916979}
Losses {'ner': 9393.316025470343}
Losses {'ner': 9412.101956742077}
Losses {'ner': 9429.14689622047}
Losses {'ner': 9445.395390481459}
Losses {'ner': 9462.743349627595}
Losses {'ner': 9479.262692065098}
Losses {'ner': 9496.406197895692}
Losses {'ner': 9512.591564043589}
Losses {'ner': 9530.718477338716}
Losses {'ner': 9547.67243689315}
Losses {'ner': 9564.813004565298}
Losses {'ner': 9580.983097467095}
Losses {'ner': 9597.070129663323}
Losses {'ner': 9613.110715873412}
Losses {'ner': 9630.600988509705}
Losses {'ner': 9647.025474531856}
Losses {'ner': 9663.490154308198}
Losses {'ner': 9681.038588260391}
Losses {'ner': 9698.760584379637}
Losses {'ner': 9716.688367740342}
Losses {'ner': 9733.87776504699}
Losses {'ner': 9751.427478900736}
Losses {'ner': 9766.866141491195}
Losses {'ner': 9783.616702541334}
Losses {'ner': 9800.042369820734}
Losses {'ner': 9816.477591552397}
Losses {'ner': 9833.39042903073}
Losses {'ner': 9850.088963321152}
Losses {'ner': 9867.498869529667}
Losses {'ner': 9883.646003069098}
Losses {'ner': 9900.577739713455}
Losses {'ner': 9917.519424145696}
Losses {'ner': 9933.542798542072}
Losses {'ner': 9949.640540983182}
Losses {'ner': 9967.255603477013}
Losses {'ner': 9984.715097855431}
Losses {'ner': 10001.745263674693}
Losses {'ner': 10019.543231721433}
Losses {'ner': 10036.223107705726}
Losses {'ner': 10053.306877235318}
Losses {'ner': 10068.911379488087}
Losses {'ner': 10085.079888792261}
Losses {'ner': 10103.137396998722}
Losses {'ner': 10120.928968510143}
Losses {'ner': 10137.732987564541}
Losses {'ner': 10154.426675564337}
Losses {'ner': 10171.59636784434}
Losses {'ner': 10188.586454090622}
Losses {'ner': 10206.608382220413}
Losses {'ner': 10224.30001689427}
Losses {'ner': 10241.207806769558}
Losses {'ner': 10256.084619460195}
Losses {'ner': 10272.038588123487}
Losses {'ner': 10289.603024339045}
Losses {'ner': 10306.974960703144}
Losses {'ner': 10323.86367819153}
Losses {'ner': 10341.182784401175}
Losses {'ner': 10358.122802247588}
Losses {'ner': 10374.931105817614}
Losses {'ner': 10391.830889906505}
Losses {'ner': 10409.583504274258}
Losses {'ner': 10426.499035019198}
Losses {'ner': 10443.610913311477}
Losses {'ner': 10461.189547350976}
Losses {'ner': 10477.982803606425}
Losses {'ner': 10494.727415957484}
Losses {'ner': 10510.97554054367}
Losses {'ner': 10526.546710948282}
Losses {'ner': 10543.455247870468}
Losses {'ner': 10562.213976175346}
Losses {'ner': 10580.405901021495}
Losses {'ner': 10600.113232393687}
Losses {'ner': 10619.44743016973}
Losses {'ner': 10639.247446115765}
Losses {'ner': 10658.380571632817}
Losses {'ner': 10677.732017201542}
Losses {'ner': 10696.849541168831}
Losses {'ner': 10714.903972603552}
Losses {'ner': 10734.003649761416}
Losses {'ner': 10752.53224181382}
Losses {'ner': 10770.481596464273}
Losses {'ner': 10789.57270207068}
Losses {'ner': 10808.448608987423}
Losses {'ner': 10827.432461078028}
Losses {'ner': 10847.32286119529}
Losses {'ner': 10866.789741531695}
Losses {'ner': 10886.258670360065}
Losses {'ner': 10905.57549905193}
Losses {'ner': 10924.840165615937}
Losses {'ner': 10943.703078253118}
Losses {'ner': 10962.393096465192}
Losses {'ner': 10981.410502438473}
Losses {'ner': 11000.855580076615}
Losses {'ner': 11019.816969546442}
Losses {'ner': 11038.763852141517}
Losses {'ner': 11057.749978507589}
Losses {'ner': 11074.944118680618}
Losses {'ner': 11094.40755507709}
Losses {'ner': 11112.353685030579}
Losses {'ner': 11130.925420487165}
Losses {'ner': 11150.843026258237}
Losses {'ner': 11171.039008132368}
Losses {'ner': 11190.742038953304}
Losses {'ner': 11209.516170713305}
Losses {'ner': 11229.477687628922}
Losses {'ner': 11249.150924477563}
Losses {'ner': 11268.553896309382}
Losses {'ner': 11287.217721326142}
Losses {'ner': 11306.831443800573}
Losses {'ner': 11325.646106145326}
Losses {'ner': 11344.17525055118}
Losses {'ner': 11362.29707629453}
Losses {'ner': 11381.658423617348}
Losses {'ner': 11399.816876053588}
Losses {'ner': 11417.424849144252}
Losses {'ner': 11434.240998635742}
Losses {'ner': 11453.223832736465}
Losses {'ner': 11473.327748450658}
Losses {'ner': 11492.041448017062}
Losses {'ner': 11510.579969856833}
Losses {'ner': 11529.059103993877}
Losses {'ner': 11549.102269016385}
Losses {'ner': 11567.846196683302}
Losses {'ner': 11587.440616246608}
Losses {'ner': 11606.027266410474}
Losses {'ner': 11624.76815551936}
Losses {'ner': 11645.93082142223}
Losses {'ner': 11663.799254612739}
Losses {'ner': 11685.337506280634}
Losses {'ner': 11704.616987739264}
Losses {'ner': 11722.75362274986}
Losses {'ner': 11741.565411088097}
Losses {'ner': 11760.263007982674}
Losses {'ner': 11778.533890778705}
Losses {'ner': 11797.728764377109}
Losses {'ner': 11815.845667358295}
Losses {'ner': 11835.156133738561}
Losses {'ner': 11854.563688555016}
Losses {'ner': 11870.716367556928}
Losses {'ner': 11889.602935384242}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Converse CTAS High Street Hi Unisex Sneaker Hi-Top..." with entities "[(14, 16, 'Schuhschaft-Typ')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 11909.167816683166}
Losses {'ner': 11928.246769257074}
Losses {'ner': 11947.01542665269}
Losses {'ner': 11965.96820449804}
Losses {'ner': 11983.97381010347}
Losses {'ner': 12003.608716441533}
Losses {'ner': 12022.31969634628}
Losses {'ner': 12041.132185073551}
Losses {'ner': 12059.824330311309}
Losses {'ner': 12078.570265142462}
Losses {'ner': 12097.17883242432}
Losses {'ner': 12116.855744628683}
Losses {'ner': 12136.06197149165}
Losses {'ner': 12154.799912976549}
Losses {'ner': 12173.834007626847}
Losses {'ner': 12192.162692675116}
Losses {'ner': 12211.935260379902}
Losses {'ner': 12230.993004711792}
Losses {'ner': 12250.103239421715}
Losses {'ner': 12268.46547424512}
Losses {'ner': 12286.529132164997}
Losses {'ner': 12304.785812569356}
Losses {'ner': 12323.51483122636}
Losses {'ner': 12342.571917675243}
Losses {'ner': 12361.969729058252}
Losses {'ner': 12382.22603690931}
Losses {'ner': 12402.523358448914}
Losses {'ner': 12423.90461346604}
Losses {'ner': 12444.498001501002}
Losses {'ner': 12465.428037562446}
Losses {'ner': 12486.211582973638}
Losses {'ner': 12507.652479379476}
Losses {'ner': 12528.623224801422}
Losses {'ner': 12549.820344924776}
Losses {'ner': 12570.798037007766}
Losses {'ner': 12591.903555303545}
Losses {'ner': 12611.845906014287}
Losses {'ner': 12632.800225721114}
Losses {'ner': 12653.03733342737}
Losses {'ner': 12673.677717880719}
Losses {'ner': 12695.183323381492}
Losses {'ner': 12716.317134683743}
Losses {'ner': 12736.914319744823}
Losses {'ner': 12758.367818616121}
Losses {'ner': 12778.440756730526}
Losses {'ner': 12799.819210666954}
Losses {'ner': 12819.892877715198}
Losses {'ner': 12840.282017177227}
Losses {'ner': 12863.867507554847}
Losses {'ner': 12884.206572573423}
Losses {'ner': 12905.292656949949}
Losses {'ner': 12926.398577391397}
Losses {'ner': 12946.135921381874}
Losses {'ner': 12968.08473924221}
Losses {'ner': 12989.37274799251}
Losses {'ner': 13010.15856133203}
Losses {'ner': 13030.47388040076}
Losses {'ner': 13050.640408665286}
Losses {'ner': 13072.021698450082}
Losses {'ner': 13091.771245181788}
Losses {'ner': 13111.50722770695}
Losses {'ner': 13131.064650977258}
Losses {'ner': 13151.476741578192}
Losses {'ner': 13172.924761716155}
Losses {'ner': 13194.360910685145}
Losses {'ner': 13214.035277542187}
Losses {'ner': 13235.316766472994}
Losses {'ner': 13255.092809534626}
Losses {'ner': 13276.27570652123}
Losses {'ner': 13297.579018422746}
Losses {'ner': 13318.452794091188}
Losses {'ner': 13337.131391238765}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Puma Trinomic XT-1 NYC - Weiß - Herren Sneaker - C..." with entities "[(16, 17, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 13358.160911631183}
Losses {'ner': 13378.680451242597}
Losses {'ner': 13399.319558407582}
Losses {'ner': 13420.246141805716}
Losses {'ner': 13440.224482994929}
Losses {'ner': 13461.22735902358}
Losses {'ner': 13482.5798987869}
Losses {'ner': 13503.65099646005}
Losses {'ner': 13524.70027363713}
Losses {'ner': 13545.487534999318}
Losses {'ner': 13565.747354447312}
Losses {'ner': 13586.905273315433}
Losses {'ner': 13608.196094828128}
Losses {'ner': 13629.251588957786}
Losses {'ner': 13649.757164635166}
Losses {'ner': 13669.80712684514}
Losses {'ner': 13691.187169116829}
Losses {'ner': 13711.491562575009}
Losses {'ner': 13731.968515890558}
Losses {'ner': 13753.436608113256}
Losses {'ner': 13774.151896187943}
Losses {'ner': 13795.046090274025}
Losses {'ner': 13815.283438229375}
Losses {'ner': 13834.940896617156}
Losses {'ner': 13855.44633530723}
Losses {'ner': 13876.674110527058}
Losses {'ner': 13897.494626334252}
Losses {'ner': 13918.632940693607}
Losses {'ner': 13938.971621064551}
Losses {'ner': 13959.892758297816}
Losses {'ner': 13981.010249069974}
Losses {'ner': 14002.681874661323}
Losses {'ner': 14022.85939598697}
Losses {'ner': 14044.422332015436}
Losses {'ner': 14065.657773648005}
Losses {'ner': 14086.072223212186}
Losses {'ner': 14106.405366966117}
Losses {'ner': 14128.186724527355}
Losses {'ner': 14149.712764466729}
Losses {'ner': 14169.907064760731}
Losses {'ner': 14192.550011218309}
Losses {'ner': 14214.268454172432}
Losses {'ner': 14238.203345405798}
Losses {'ner': 14261.325969322048}
Losses {'ner': 14284.644116340658}
Losses {'ner': 14307.628092016314}
Losses {'ner': 14329.822905066643}
Losses {'ner': 14353.132417047384}
Losses {'ner': 14375.96227441075}
Losses {'ner': 14398.649201227805}
Losses {'ner': 14421.526745545607}
Losses {'ner': 14444.50890418624}
Losses {'ner': 14466.561739512881}
Losses {'ner': 14489.243502911488}
Losses {'ner': 14511.890605574781}
Losses {'ner': 14534.642277174005}
Losses {'ner': 14557.118288383195}
Losses {'ner': 14579.790621672017}
Losses {'ner': 14602.595426476802}
Losses {'ner': 14625.133256532727}
Losses {'ner': 14645.82139731898}
Losses {'ner': 14668.064541533598}
Losses {'ner': 14692.654426968666}
Losses {'ner': 14715.335773838693}
Losses {'ner': 14738.470488668894}
Losses {'ner': 14761.319227133421}
Losses {'ner': 14783.680269359154}
Losses {'ner': 14807.475868004325}
Losses {'ner': 14829.461145207877}
Losses {'ner': 14851.913610206577}
Losses {'ner': 14874.118683947841}
Losses {'ner': 14895.800738863307}
Losses {'ner': 14918.325757465916}
Losses {'ner': 14940.370570238107}
Losses {'ner': 14962.677922472716}
Losses {'ner': 14985.573291077462}
Losses {'ner': 15007.877024395037}
Losses {'ner': 15030.490568267758}
Losses {'ner': 15053.143955818023}
Losses {'ner': 15075.842176300584}
Losses {'ner': 15098.172134810238}
Losses {'ner': 15119.949254306784}
Losses {'ner': 15142.159715002223}
Losses {'ner': 15164.671826648811}
Losses {'ner': 15187.138743167097}
Losses {'ner': 15208.501785042981}
Losses {'ner': 15230.379443772074}
Losses {'ner': 15252.265832710948}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Adidas LA Trainer / Wildleder / Mesh / schwarz / w..." with entities "[(78, 79, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 15276.038384500827}
Losses {'ner': 15298.110063288763}
Losses {'ner': 15319.5337138329}
Losses {'ner': 15343.021857429}
Losses {'ner': 15366.309131368233}
Losses {'ner': 15388.141798428429}
Losses {'ner': 15409.204635835655}
Losses {'ner': 15432.428760811157}
Losses {'ner': 15454.25028760166}
Losses {'ner': 15477.933813670586}
Losses {'ner': 15501.610460117861}
Losses {'ner': 15524.865124768048}
Losses {'ner': 15545.643540001745}
Losses {'ner': 15568.594079882818}
Losses {'ner': 15590.46375192141}
Losses {'ner': 15612.801767985316}
Losses {'ner': 15635.524899831953}
Losses {'ner': 15657.814916106852}
Losses {'ner': 15679.58049646018}
Losses {'ner': 15701.000416716483}
Losses {'ner': 15723.892524315897}
Losses {'ner': 15745.89921401302}
Losses {'ner': 15768.9010688006}
Losses {'ner': 15791.72094737506}
Losses {'ner': 15813.904034058103}
Losses {'ner': 15837.158235867979}
Losses {'ner': 15860.495686946326}
Losses {'ner': 15883.466046405612}
Losses {'ner': 15906.34484419332}
Losses {'ner': 15929.302756769705}
Losses {'ner': 15951.53812114534}
Losses {'ner': 15974.133020896586}
Losses {'ner': 15999.736751412163}
Losses {'ner': 16024.443695164873}
Losses {'ner': 16048.727805033914}
Losses {'ner': 16073.955030718475}
Losses {'ner': 16099.334301032713}
Losses {'ner': 16125.381181636074}
Losses {'ner': 16149.63958175219}
Losses {'ner': 16171.779890005657}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "asics Gel Quantum 360 6 1021A471-020" with entities "[(19, 20, 'UK-Schuhgröße')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 16198.595940823614}
Losses {'ner': 16225.292992789886}
Losses {'ner': 16251.589344717684}
Losses {'ner': 16275.958836576878}
Losses {'ner': 16300.19092666821}
Losses {'ner': 16324.318094805558}
Losses {'ner': 16349.261046279897}
Losses {'ner': 16373.750930594024}
Losses {'ner': 16398.219133502083}
Losses {'ner': 16422.722632741257}
Losses {'ner': 16447.892498305933}
Losses {'ner': 16473.241044402756}
Losses {'ner': 16498.180412291542}
Losses {'ner': 16523.173423253225}
Losses {'ner': 16547.383063036592}
Losses {'ner': 16574.125585285125}
Losses {'ner': 16600.022221149404}
Losses {'ner': 16625.12359775602}
Losses {'ner': 16649.41092046955}
Losses {'ner': 16674.820119894102}
Losses {'ner': 16699.167282856062}
Losses {'ner': 16724.176650249625}
Losses {'ner': 16749.147891163702}
Losses {'ner': 16774.153468386845}
Losses {'ner': 16797.76692204654}
Losses {'ner': 16822.586598926333}
Losses {'ner': 16846.673154087846}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Nike Air Max Huarache Blau Türkis SONDERMODELL , E..." with entities "[(54, 55, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 16871.367528408642}
Losses {'ner': 16895.626470026436}
Losses {'ner': 16919.56179776496}
Losses {'ner': 16944.70723133615}
Losses {'ner': 16968.63949883391}
Losses {'ner': 16993.47790688616}
Losses {'ner': 17018.131810283485}
Losses {'ner': 17042.18870691806}
Losses {'ner': 17066.28607305933}
Losses {'ner': 17091.13353139723}
Losses {'ner': 17116.316940227545}
Losses {'ner': 17141.56529751454}
Losses {'ner': 17164.771918544884}
Losses {'ner': 17188.954718487676}
Losses {'ner': 17213.36694975231}
Losses {'ner': 17237.804524274416}
Losses {'ner': 17262.476245098023}
Losses {'ner': 17286.35441614103}
Losses {'ner': 17311.80644312289}
Losses {'ner': 17336.19246605461}
Losses {'ner': 17360.948161401353}
Losses {'ner': 17385.84737607607}
Losses {'ner': 17410.87438995534}
Losses {'ner': 17434.94545130202}
Losses {'ner': 17459.89288016537}
Losses {'ner': 17485.049014252963}
Losses {'ner': 17509.88290973369}
Losses {'ner': 17534.02119867632}
Losses {'ner': 17558.342823183517}
Losses {'ner': 17582.89033816367}
Losses {'ner': 17608.78860345328}
Losses {'ner': 17634.04789302343}
Losses {'ner': 17659.646626849506}
Losses {'ner': 17684.065289088838}
Losses {'ner': 17708.26889644836}
Losses {'ner': 17733.119329843605}
Losses {'ner': 17757.247858946146}
Losses {'ner': 17781.56564335961}
Losses {'ner': 17804.196856439165}
Losses {'ner': 17830.66593254875}
Losses {'ner': 17857.599265089775}
Losses {'ner': 17883.451559335044}
Losses {'ner': 17909.861598174524}
Losses {'ner': 17934.772148880613}
Losses {'ner': 17961.496380967525}
Losses {'ner': 17987.610235949483}
Losses {'ner': 18013.515719069605}
Losses {'ner': 18038.08737432814}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "adidas Damensportschuhe Laufen Jogging Running in ..." with entities "[(35, 37, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 18064.29954943186}
Losses {'ner': 18091.084238160372}
Losses {'ner': 18116.581062779267}
Losses {'ner': 18142.559552476247}
Losses {'ner': 18169.613641933043}
Losses {'ner': 18195.98034887013}
Losses {'ner': 18221.303765049874}
Losses {'ner': 18247.568884304463}
Losses {'ner': 18274.8433853576}
Losses {'ner': 18301.13900661767}
Losses {'ner': 18327.383438910547}
Losses {'ner': 18353.532673795184}
Losses {'ner': 18379.556391151447}
Losses {'ner': 18406.205457265314}
Losses {'ner': 18433.08615670321}
Losses {'ner': 18460.292589544}
Losses {'ner': 18486.4697233724}
Losses {'ner': 18512.725843964756}
Losses {'ner': 18539.496097548545}
Losses {'ner': 18565.714961430844}
Losses {'ner': 18591.98697508531}
Losses {'ner': 18619.346457056112}
Losses {'ner': 18646.332597283523}
Losses {'ner': 18669.836444344757}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "+ + + ORIGINAL NIKE AIR MAX 270 I WHITE I TOP I US..." with entities "[(36, 37, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 18696.20122440515}
Losses {'ner': 18722.73059833778}
Losses {'ner': 18747.626505703498}
Losses {'ner': 18774.23170836451}
Losses {'ner': 18800.893159078383}
Losses {'ner': 18825.457987112874}
Losses {'ner': 18851.787150821132}
Losses {'ner': 18878.43623695238}
Losses {'ner': 18904.637187217402}
Losses {'ner': 18929.722467280033}
Losses {'ner': 18955.23885977929}
Losses {'ner': 18981.565867084166}
Losses {'ner': 19007.416442113084}
Losses {'ner': 19035.018622768664}
Losses {'ner': 19067.016609461367}
Losses {'ner': 19092.395417739026}
Losses {'ner': 19119.79259836054}
Losses {'ner': 19147.035644014046}
Losses {'ner': 19173.600705536228}
Losses {'ner': 19200.239717508346}
Losses {'ner': 19226.85428999818}
Losses {'ner': 19253.6577484532}
Losses {'ner': 19279.617537681825}
Losses {'ner': 19306.066187627028}
Losses {'ner': 19331.405216890253}
Losses {'ner': 19357.768100028723}
Losses {'ner': 19392.725405949295}
Losses {'ner': 19419.342373675794}
Losses {'ner': 19444.162698666227}
Losses {'ner': 19471.22163136933}
Losses {'ner': 19498.179714242706}
Losses {'ner': 19524.685328021424}
Losses {'ner': 19551.6784647524}
Losses {'ner': 19578.423054074647}
Losses {'ner': 19604.906191951373}
Losses {'ner': 19631.214897694077}
Losses {'ner': 19659.36649495411}
Losses {'ner': 19688.785972163325}
Losses {'ner': 19716.200236482426}
Losses {'ner': 19744.75950260262}
Losses {'ner': 19772.109181632633}
Losses {'ner': 19801.246867892678}
Losses {'ner': 19827.60770664195}
Losses {'ner': 19855.859158605508}
Losses {'ner': 19884.727458986858}
Losses {'ner': 19913.006077158843}
Losses {'ner': 19941.79069713654}
Losses {'ner': 19971.845143619572}
Losses {'ner': 20000.73835865792}
Losses {'ner': 20027.592212492465}
Losses {'ner': 20056.767669364675}
Losses {'ner': 20085.1335731127}
Losses {'ner': 20114.698235471074}
Losses {'ner': 20143.679216908447}
Losses {'ner': 20171.232189003535}
Losses {'ner': 20200.600455439806}
Losses {'ner': 20229.019485853303}
Losses {'ner': 20257.832747535238}
Losses {'ner': 20286.537383296916}
Losses {'ner': 20315.59058629062}
Losses {'ner': 20343.403624522074}
Losses {'ner': 20371.325338377657}
Losses {'ner': 20398.471622194204}
Losses {'ner': 20425.837886924895}
Losses {'ner': 20453.709125866222}
Losses {'ner': 20481.733569402753}
Losses {'ner': 20510.679390696965}
Losses {'ner': 20539.908343967207}
Losses {'ner': 20569.272032583754}
Losses {'ner': 20598.83487362081}
Losses {'ner': 20627.638961309025}
Losses {'ner': 20657.551513001246}
Losses {'ner': 20684.391179729177}
Losses {'ner': 20712.51203102218}
Losses {'ner': 20741.18474700134}
Losses {'ner': 20769.214582478813}
Losses {'ner': 20798.0677302761}
Losses {'ner': 20826.04951237923}
Losses {'ner': 20853.329806337493}
Losses {'ner': 20881.248800561192}
Losses {'ner': 20909.669913376925}
Losses {'ner': 20937.322239292098}
Losses {'ner': 20964.603236266656}
Losses {'ner': 20993.304086183194}
Losses {'ner': 21020.1887066554}
Losses {'ner': 21048.713147820632}
Losses {'ner': 21076.75877795155}
Losses {'ner': 21105.798841539498}
Losses {'ner': 21134.50180808893}
Losses {'ner': 21162.646630689695}
Losses {'ner': 21190.707836561563}
Losses {'ner': 21219.142069228652}
Losses {'ner': 21247.750379426132}
Losses {'ner': 21276.64750409262}
Losses {'ner': 21304.550374213595}
Losses {'ner': 21333.376947797824}
Losses {'ner': 21362.23046964755}
Losses {'ner': 21389.954909444776}
Losses {'ner': 21419.244511231303}
Losses {'ner': 21447.119861384843}
Losses {'ner': 21477.53782364604}
Losses {'ner': 21509.188940572727}
Losses {'ner': 21539.288401736587}
Losses {'ner': 21570.286350866358}
Losses {'ner': 21600.939357707786}
Losses {'ner': 21630.900217911738}
Losses {'ner': 21660.9299870837}
Losses {'ner': 21691.40167681272}
Losses {'ner': 21722.167064649562}
Losses {'ner': 21753.93990362207}
Losses {'ner': 21783.986622934623}
Losses {'ner': 21813.472481382007}
Losses {'ner': 21843.93748026072}
Losses {'ner': 21874.287451509023}
Losses {'ner': 21904.61752712504}
Losses {'ner': 21934.920946034472}
Losses {'ner': 21964.111254228963}
Losses {'ner': 21994.115787428556}
Losses {'ner': 22023.68900688713}
Losses {'ner': 22052.232427483643}
Losses {'ner': 22083.353444810244}
Losses {'ner': 22112.6477057936}
Losses {'ner': 22142.35946058332}
Losses {'ner': 22171.771343022483}
Losses {'ner': 22201.049586627792}
Losses {'ner': 22232.73590202174}
Losses {'ner': 22263.87641490168}
Losses {'ner': 22293.926500505404}
Losses {'ner': 22323.06067699821}
Losses {'ner': 22352.4811036027}
Losses {'ner': 22382.758823632164}
Losses {'ner': 22414.201267945482}
Losses {'ner': 22443.96982238106}
Losses {'ner': 22474.49975106157}
Losses {'ner': 22505.550835187016}
Losses {'ner': 22534.243722904408}
Losses {'ner': 22564.630919961077}
Losses {'ner': 22593.407753958883}
Losses {'ner': 22622.76861700188}
Losses {'ner': 22653.44755181911}
Losses {'ner': 22684.18322414421}
Losses {'ner': 22714.138560106094}
Losses {'ner': 22743.77170640456}
Losses {'ner': 22773.87563707719}
Losses {'ner': 22803.31766733101}
Losses {'ner': 22833.943350094534}
Losses {'ner': 22864.03937139844}
Losses {'ner': 22894.23712392453}
Losses {'ner': 22923.10588620113}
Losses {'ner': 22952.102554301022}
Losses {'ner': 22983.032476054726}
Losses {'ner': 23010.955346832274}
Losses {'ner': 23042.133218411578}
Losses {'ner': 23070.252005810533}
Losses {'ner': 23101.19782065621}
Losses {'ner': 23133.075966790526}
Losses {'ner': 23163.774492129658}
Losses {'ner': 23194.969281515314}
Losses {'ner': 23225.997877776772}
Losses {'ner': 23256.13797926062}
Losses {'ner': 23286.562276861605}
Losses {'ner': 23319.38887128213}
Losses {'ner': 23351.319723789373}
Losses {'ner': 23383.81896029171}
Losses {'ner': 23415.22503666943}
Losses {'ner': 23447.221780169664}
Losses {'ner': 23480.203408439553}
Losses {'ner': 23511.986502409356}
Losses {'ner': 23543.651385199653}
Losses {'ner': 23576.12921397635}
Losses {'ner': 23608.39986988404}
Losses {'ner': 23640.527595553223}
Losses {'ner': 23672.94407488746}
Losses {'ner': 23705.108506478977}
Losses {'ner': 23737.50389681305}
Losses {'ner': 23769.239155533865}
Losses {'ner': 23801.384828250182}
Losses {'ner': 23833.964385272262}
Losses {'ner': 23864.650937486}
Losses {'ner': 23896.67746003813}
Losses {'ner': 23928.4059413085}
Losses {'ner': 23960.473873610634}
Losses {'ner': 23991.61992160664}
Losses {'ner': 24028.748752403768}
Losses {'ner': 24061.014195541615}
Losses {'ner': 24093.656820581815}
Losses {'ner': 24126.743744643343}
Losses {'ner': 24159.348453096518}
Losses {'ner': 24191.714792338138}
Losses {'ner': 24224.806208194128}
Losses {'ner': 24257.77846236139}
Losses {'ner': 24289.715608009916}
Losses {'ner': 24322.63285450238}
Losses {'ner': 24353.994879300553}
Losses {'ner': 24384.70460505675}
Losses {'ner': 24414.987631521035}
Losses {'ner': 24445.732458242062}
Losses {'ner': 24477.346912555244}
Losses {'ner': 24510.84914081249}
Losses {'ner': 24542.951410953734}
Losses {'ner': 24576.422115057554}
Losses {'ner': 24609.204338613745}
Losses {'ner': 24641.797833136596}
Losses {'ner': 24673.770200899184}
Losses {'ner': 24705.314141169503}
Losses {'ner': 24737.753994599763}
Losses {'ner': 24771.80178416476}
Losses {'ner': 24802.99087700762}
Losses {'ner': 24834.762126698646}
Losses {'ner': 24867.45489371896}
Losses {'ner': 24900.38203173645}
Losses {'ner': 24934.103456889767}
Losses {'ner': 24964.998870064206}
Losses {'ner': 24996.48953414213}
Losses {'ner': 25030.45180126995}
Losses {'ner': 25063.467520840168}
Losses {'ner': 25095.65061127679}
Losses {'ner': 25127.55818655961}
Losses {'ner': 25161.231730407708}
Losses {'ner': 25194.139516295363}
Losses {'ner': 25228.866253038366}
Losses {'ner': 25262.697178671566}
Losses {'ner': 25297.284052996394}
Losses {'ner': 25330.6308592199}
Losses {'ner': 25365.658706952876}
Losses {'ner': 25400.983883042878}
Losses {'ner': 25434.26604429452}
Losses {'ner': 25467.945979678596}
Losses {'ner': 25502.420312037284}
Losses {'ner': 25534.97832547879}
Losses {'ner': 25568.90117461054}
Losses {'ner': 25603.481993818947}
Losses {'ner': 25638.036867516406}
Losses {'ner': 25668.658961238572}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Herren Sportschuhe Sneaker Turnschuhe Schuhe Runne..." with entities "[(68, 69, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Nike Air Max 1 Ultra 2.0 SE Khaki Grün Gr . 43,44,..." with entities "[(34, 36, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 25703.14953298727}
Losses {'ner': 25736.51773140533}
Losses {'ner': 25769.44311530795}
Losses {'ner': 25802.476882482413}
Losses {'ner': 25836.591123925056}
Losses {'ner': 25871.32946690418}
Losses {'ner': 25905.927206078704}
Losses {'ner': 25938.024357625443}
Losses {'ner': 25972.87667280037}
Losses {'ner': 26006.97307217607}
Losses {'ner': 26040.48543862096}
Losses {'ner': 26074.094333922778}
Losses {'ner': 26108.225381974884}
Losses {'ner': 26142.362987288096}
Losses {'ner': 26176.584194487714}
Losses {'ner': 26210.394878468298}
Losses {'ner': 26245.044410458588}
Losses {'ner': 26277.81082217755}
Losses {'ner': 26311.695792602015}
Losses {'ner': 26345.95118730712}
Losses {'ner': 26380.230170885206}
Losses {'ner': 26414.105048602552}
Losses {'ner': 26448.49222432553}
Losses {'ner': 26482.756663759345}
Losses {'ner': 26514.50873935233}
Losses {'ner': 26551.744956892016}
Losses {'ner': 26585.740187563966}
Losses {'ner': 26620.88808640352}
Losses {'ner': 26654.907554456764}
Losses {'ner': 26687.047488671236}
Losses {'ner': 26722.684687980192}
Losses {'ner': 26755.527720639457}
Losses {'ner': 26788.221907248695}
Losses {'ner': 26821.384348193158}
Losses {'ner': 26855.271654670392}
Losses {'ner': 26888.704084351255}
Losses {'ner': 26922.707068347434}
Losses {'ner': 26956.548364990802}
Losses {'ner': 26993.027282100757}
Losses {'ner': 27028.800704463796}
Losses {'ner': 27064.87086370908}
Losses {'ner': 27101.91329497466}
Losses {'ner': 27139.449362891788}
Losses {'ner': 27174.599125950775}
Losses {'ner': 27210.78343245335}
Losses {'ner': 27246.98108232342}
Losses {'ner': 27282.81086724991}
Losses {'ner': 27318.999700421296}
Losses {'ner': 27355.552130087377}
Losses {'ner': 27390.67309288318}
Losses {'ner': 27425.17920707745}
Losses {'ner': 27459.567523762784}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Nike Court Legacy Canvas Sneaker Sportschuhe Sport..." with entities "[(33, 38, 'Anlass')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 27494.762086206316}
Losses {'ner': 27530.186299110963}
Losses {'ner': 27566.10238974026}
Losses {'ner': 27601.899858457004}
Losses {'ner': 27636.91815019675}
Losses {'ner': 27673.77754565232}
Losses {'ner': 27709.302073129187}
Losses {'ner': 27746.50870146823}
Losses {'ner': 27781.76729745452}
Losses {'ner': 27816.616429418667}
Losses {'ner': 27852.946039316586}
Losses {'ner': 27888.112329850315}
Losses {'ner': 27923.30526247841}
Losses {'ner': 27959.808692328974}
Losses {'ner': 27995.68396893271}
Losses {'ner': 28032.23229650163}
Losses {'ner': 28067.668740779736}
Losses {'ner': 28102.497387788833}
Losses {'ner': 28137.70419493279}
Losses {'ner': 28173.996133140834}
Losses {'ner': 28209.214150579726}
Losses {'ner': 28244.781822585464}
Losses {'ner': 28280.803716512593}
Losses {'ner': 28315.348446669253}
Losses {'ner': 28352.751028506747}
Losses {'ner': 28388.273199540294}
Losses {'ner': 28425.15608958035}
Losses {'ner': 28460.576344557187}
Losses {'ner': 28493.40476078685}
Losses {'ner': 28528.719341135402}
Losses {'ner': 28564.91276981157}
Losses {'ner': 28600.728423463523}
Losses {'ner': 28635.78207014512}
Losses {'ner': 28671.623323148924}
Losses {'ner': 28708.268838821787}
Losses {'ner': 28743.838968002114}
Losses {'ner': 28780.794265349272}
Losses {'ner': 28819.545925112317}
Losses {'ner': 28859.321093880215}
Losses {'ner': 28896.943901651182}
Losses {'ner': 28934.877439449185}
Losses {'ner': 28972.61140536947}
Losses {'ner': 29010.543246379697}
Losses {'ner': 29048.16163810796}
Losses {'ner': 29085.895622948992}
Losses {'ner': 29124.616659677464}
Losses {'ner': 29162.09381309834}
Losses {'ner': 29199.008056128703}
Losses {'ner': 29237.94972642076}
Losses {'ner': 29275.063824528203}
Losses {'ner': 29311.98815686752}
Losses {'ner': 29349.05426432223}
Losses {'ner': 29387.362780358948}
Losses {'ner': 29425.75945029345}
Losses {'ner': 29464.272299225282}
Losses {'ner': 29499.790349332397}
Losses {'ner': 29537.74922340877}
Losses {'ner': 29575.109330735184}
Losses {'ner': 29611.995527478997}
Losses {'ner': 29650.162061780822}
Losses {'ner': 29687.242033499402}
Losses {'ner': 29725.31026595376}
Losses {'ner': 29763.426367156317}
Losses {'ner': 29802.115693738328}
Losses {'ner': 29840.769388752906}
Losses {'ner': 29879.236982506965}
Losses {'ner': 29914.50561427072}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "DAMEN SCHUHE SNEAKERS FILA DISRUPTOR P LOW [ 10107..." with entities "[(32, 33, 'Modell')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 29952.01909226322}
Losses {'ner': 29987.941684412337}
Losses {'ner': 30024.086298839222}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Converse One Star Ox Sneaker Gr . 44 Skaterschuhe ..." with entities "[(37, 43, 'Aktivität')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 30059.53626809738}
Losses {'ner': 30095.877197575788}
Losses {'ner': 30134.347883233833}
Losses {'ner': 30170.76654532194}
Losses {'ner': 30208.139958585354}
Losses {'ner': 30247.249731164167}
Losses {'ner': 30287.046351088884}
Losses {'ner': 30325.311394892375}
Losses {'ner': 30362.410353202376}
Losses {'ner': 30400.89963076357}
Losses {'ner': 30437.205376333328}
Losses {'ner': 30475.430280606033}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "New Balance M1300JP3 + ML574GYC Bundle Pack new in..." with entities "[(66, 67, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 30512.108761162574}
Losses {'ner': 30550.194652774448}
Losses {'ner': 30588.717981215264}
Losses {'ner': 30626.299388103816}
Losses {'ner': 30662.435892298516}
Losses {'ner': 30700.87396223068}
Losses {'ner': 30739.852802525904}
Losses {'ner': 30778.70848288031}
Losses {'ner': 30817.975354964077}
Losses {'ner': 30857.421750518715}
Losses {'ner': 30896.243464852905}
Losses {'ner': 30936.26149783166}
Losses {'ner': 30977.27322195027}
Losses {'ner': 31016.864181029832}
Losses {'ner': 31056.48158420924}
Losses {'ner': 31095.873835404625}
Losses {'ner': 31134.59031584427}
Losses {'ner': 31174.39217091758}
Losses {'ner': 31214.127887959465}
Losses {'ner': 31252.391839442647}
Losses {'ner': 31292.16088917373}
Losses {'ner': 31331.674313813728}
Losses {'ner': 31369.89917357818}
Losses {'ner': 31410.524721092825}
Losses {'ner': 31450.068061872666}
Losses {'ner': 31490.296196222833}
Losses {'ner': 31530.387745375654}
Losses {'ner': 31568.235490641}
Losses {'ner': 31607.59025904853}
Losses {'ner': 31649.879767289294}
Losses {'ner': 31689.050804174647}
Losses {'ner': 31729.109765400786}
Losses {'ner': 31769.80071435464}
Losses {'ner': 31809.852103987385}
Losses {'ner': 31849.47887173577}
Losses {'ner': 31889.4012848167}
Losses {'ner': 31927.774821475174}
Losses {'ner': 31965.568581618394}
Losses {'ner': 32003.25717662091}
Losses {'ner': 32042.662558941196}
Losses {'ner': 32081.637638835844}
Losses {'ner': 32121.446467838043}
Losses {'ner': 32161.115995321525}
Losses {'ner': 32201.253486168014}
Losses {'ner': 32239.946145892984}
Losses {'ner': 32280.01750394693}
Losses {'ner': 32319.831440996346}
Losses {'ner': 32359.852743997788}
Losses {'ner': 32399.382364826128}
Losses {'ner': 32437.799595115383}
Losses {'ner': 32477.58679186986}
Losses {'ner': 32518.948877774495}
Losses {'ner': 32560.62780800144}
Losses {'ner': 32601.920429046466}
Losses {'ner': 32642.961928636967}
Losses {'ner': 32684.554204152282}
Losses {'ner': 32725.61423706295}
Losses {'ner': 32766.681466700826}
Losses {'ner': 32807.49360281173}
Losses {'ner': 32849.120273856}
Losses {'ner': 32890.4293545224}
Losses {'ner': 32933.72848918291}
Losses {'ner': 32975.39127114976}
Losses {'ner': 33016.25722530393}
Losses {'ner': 33058.20182147252}
Losses {'ner': 33100.669119104765}
Losses {'ner': 33143.52065677384}
Losses {'ner': 33184.989327112235}
Losses {'ner': 33226.150267277866}
Losses {'ner': 33268.26599516815}
Losses {'ner': 33308.82283248801}
Losses {'ner': 33349.874869983316}
Losses {'ner': 33389.94788682568}
Losses {'ner': 33432.08751355603}
Losses {'ner': 33470.90093663121}
Losses {'ner': 33511.83417280348}
Losses {'ner': 33552.995370980854}
Losses {'ner': 33595.95157120753}
Losses {'ner': 33637.1488372387}
Losses {'ner': 33679.36407658042}
Losses {'ner': 33720.935109316175}
Losses {'ner': 33763.4072374951}
Losses {'ner': 33804.59543055928}
Losses {'ner': 33845.33524636753}
Losses {'ner': 33885.32115326651}
Losses {'ner': 33927.34654562656}
Losses {'ner': 33965.739758073505}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Nike Air Jordan 1 Low Black University Blue White ..." with entities "[(44, 45, 'Abteilung')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "adidas SOLAR BOOST ST 19 Men | G28060 Herren Laufs..." with entities "[(16, 24, 'Modell')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 34007.80486076853}
Losses {'ner': 34049.29028567105}
Losses {'ner': 34090.2290707444}
Losses {'ner': 34131.46483123446}
Losses {'ner': 34174.011299325655}
Losses {'ner': 34216.41024363417}
Losses {'ner': 34256.84434476111}
Losses {'ner': 34298.24593134838}
Losses {'ner': 34337.95731785715}
Losses {'ner': 34379.31388392462}
Losses {'ner': 34422.481863379006}
Losses {'ner': 34464.47119458159}
Losses {'ner': 34507.15443342475}
Losses {'ner': 34552.20580474106}
Losses {'ner': 34594.40236954862}
Losses {'ner': 34637.30557738334}
Losses {'ner': 34680.699194206354}
Losses {'ner': 34723.20089579603}
Losses {'ner': 34767.05567147253}
Losses {'ner': 34811.3420284134}
Losses {'ner': 34854.977133188244}
Losses {'ner': 34899.18517295535}
Losses {'ner': 34942.36393328601}
Losses {'ner': 34984.550197871016}
Losses {'ner': 35027.98200890383}
Losses {'ner': 35073.05185606851}
Losses {'ner': 35115.275404258246}
Losses {'ner': 35157.70348438279}
Losses {'ner': 35202.030105134785}
Losses {'ner': 35245.33322779146}
Losses {'ner': 35289.22433374169}
Losses {'ner': 35332.00891321954}
Losses {'ner': 35375.42639562009}
Losses {'ner': 35418.26626147596}
Losses {'ner': 35462.38427162483}
Losses {'ner': 35506.05073991469}
Losses {'ner': 35547.89702786463}
Losses {'ner': 35591.435143676164}
Losses {'ner': 35635.03436747483}
Losses {'ner': 35677.990121540715}
Losses {'ner': 35721.98144612508}
Losses {'ner': 35766.28726848727}
Losses {'ner': 35807.692435533274}
Losses {'ner': 35850.30605063867}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Asics Running Gel Kayano Trainer Knit Glacier Grey..." with entities "[(55, 57, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 35891.690376415994}
Losses {'ner': 35935.25769435291}
Losses {'ner': 35978.60740098407}
Losses {'ner': 36022.40829188892}
Losses {'ner': 36064.393861901975}
Losses {'ner': 36108.17477429382}
Losses {'ner': 36150.79158665126}
Losses {'ner': 36195.63387140146}
Losses {'ner': 36240.01789860838}
Losses {'ner': 36284.37521775454}
Losses {'ner': 36329.79569407893}
Losses {'ner': 36376.5123070736}
Losses {'ner': 36421.70492468731}
Losses {'ner': 36467.32400480521}
Losses {'ner': 36514.30614047221}
Losses {'ner': 36558.82343652475}
Losses {'ner': 36604.424314021744}
Losses {'ner': 36647.98649833971}
Losses {'ner': 36692.98892057841}
Losses {'ner': 36738.76645844072}
Losses {'ner': 36786.15782871624}
Losses {'ner': 36831.352195346}
Losses {'ner': 36876.88927521318}
Losses {'ner': 36921.9771497497}
Losses {'ner': 36967.328363668}
Losses {'ner': 37012.752004218346}
Losses {'ner': 37057.89128457807}
Losses {'ner': 37102.814822440094}
Losses {'ner': 37146.736120064335}
Losses {'ner': 37191.16612120025}
Losses {'ner': 37235.98843421374}
Losses {'ner': 37280.988439803536}
Losses {'ner': 37324.38811172737}
Losses {'ner': 37368.77151524607}
Losses {'ner': 37414.05720010499}
Losses {'ner': 37459.212278370804}
Losses {'ner': 37503.36281566278}
Losses {'ner': 37549.060956461384}
Losses {'ner': 37593.414929578576}
Losses {'ner': 37637.27191021343}
Losses {'ner': 37682.69413042677}
Losses {'ner': 37728.831794936705}
Losses {'ner': 37775.47173536153}
Losses {'ner': 37819.39224859643}
Losses {'ner': 37863.823005128084}
Losses {'ner': 37908.98537048318}
Losses {'ner': 37955.22781824942}
Losses {'ner': 38001.48500119026}
Losses {'ner': 38048.55037850367}
Losses {'ner': 38097.46599769725}
Losses {'ner': 38144.45599228224}
Losses {'ner': 38191.03859353611}
Losses {'ner': 38236.83422269636}
Losses {'ner': 38282.141985224196}
Losses {'ner': 38329.733515702756}
Losses {'ner': 38377.5686341269}
Losses {'ner': 38424.70770789693}
Losses {'ner': 38469.52005230026}
Losses {'ner': 38516.528390339765}
Losses {'ner': 38561.41374208145}
Losses {'ner': 38606.531908570745}
Losses {'ner': 38651.792158339595}
Losses {'ner': 38697.974799982694}
Losses {'ner': 38745.76003720514}
Losses {'ner': 38794.81026092633}
Losses {'ner': 38839.90353880411}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Reebok Classic Leather Ultralite Leder Herrenschuh..." with entities "[(39, 45, 'Abteilung')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 38887.80805775018}
Losses {'ner': 38934.730267328516}
Losses {'ner': 38981.90441545735}
Losses {'ner': 39026.94838605293}
Losses {'ner': 39075.05514787075}
Losses {'ner': 39122.154524365746}
Losses {'ner': 39167.06457068161}
Losses {'ner': 39216.31990739861}
Losses {'ner': 39261.930593274716}
Losses {'ner': 39308.54057951732}
Losses {'ner': 39354.8652211885}
Losses {'ner': 39405.61202518279}
Losses {'ner': 39454.210260564556}
Losses {'ner': 39500.31612199409}
Losses {'ner': 39549.13562062733}
Losses {'ner': 39596.371914735944}
Losses {'ner': 39645.809333207966}
Losses {'ner': 39693.47599168827}
Losses {'ner': 39739.39914333894}
Losses {'ner': 39784.79127534539}
Losses {'ner': 39829.66984725804}
Losses {'ner': 39878.464704170496}
Losses {'ner': 39927.038328152055}
Losses {'ner': 39975.67305124099}
Losses {'ner': 40024.656375268205}
Losses {'ner': 40073.32009740415}
Losses {'ner': 40121.573837646145}
Losses {'ner': 40171.239723374114}
Losses {'ner': 40220.15318286463}
Losses {'ner': 40267.59590928524}
Losses {'ner': 40314.64257992968}
Losses {'ner': 40363.24513928942}
Losses {'ner': 40409.7287799127}
Losses {'ner': 40456.956108847815}
Losses {'ner': 40506.17053730714}
Losses {'ner': 40557.31167105094}
Losses {'ner': 40604.661908583344}
Losses {'ner': 40654.75513730813}
Losses {'ner': 40704.360020195694}
Losses {'ner': 40754.711559527415}
Losses {'ner': 40802.649193107216}
Losses {'ner': 40853.319800947334}
Losses {'ner': 40902.9339885423}
Losses {'ner': 40952.97087104899}
Losses {'ner': 41003.455509730855}
Losses {'ner': 41052.02106477996}
Losses {'ner': 41100.21058947303}
Losses {'ner': 41149.06826468837}
Losses {'ner': 41198.42537852238}
Losses {'ner': 41247.29340939526}
Losses {'ner': 41296.17502953839}
Losses {'ner': 41345.307816277076}
Losses {'ner': 41393.256425958876}
Losses {'ner': 41441.03206413058}
Losses {'ner': 41490.60766167944}
Losses {'ner': 41548.88197532595}
Losses {'ner': 41598.71690597312}
Losses {'ner': 41648.99098915801}
Losses {'ner': 41697.24535696562}
Losses {'ner': 41747.70880307611}
Losses {'ner': 41798.441090353575}
Losses {'ner': 41849.541106899254}
Losses {'ner': 41898.17947024571}
Losses {'ner': 41946.99610197217}
Losses {'ner': 41999.20172645942}
Losses {'ner': 42049.264013387714}
Losses {'ner': 42100.284011252676}
Losses {'ner': 42152.13770955555}
Losses {'ner': 42202.43620983754}
Losses {'ner': 42251.85337543544}
Losses {'ner': 42303.38059138843}
Losses {'ner': 42353.24293440611}
Losses {'ner': 42404.51747979999}
Losses {'ner': 42455.458236641556}
Losses {'ner': 42507.392802129805}
Losses {'ner': 42558.49210788992}
Losses {'ner': 42609.11636887801}
Losses {'ner': 42659.15703278741}
Losses {'ner': 42708.717177189494}
Losses {'ner': 42759.43057611359}
Losses {'ner': 42809.04439509062}
Losses {'ner': 42859.5882951767}
Losses {'ner': 42908.3834258165}
Losses {'ner': 42956.995451205454}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Vans Tesella Schuhe schwarz / weiß Leder / VN-0-VO..." with entities "[(45, 46, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 43007.37363549233}
Losses {'ner': 43057.53940115303}
Losses {'ner': 43108.883091860844}
Losses {'ner': 43159.96113664894}
Losses {'ner': 43208.85371395065}
Losses {'ner': 43259.82851999583}
Losses {'ner': 43310.454371167856}
Losses {'ner': 43360.3989942709}
Losses {'ner': 43411.972331447105}
Losses {'ner': 43462.28496406744}
Losses {'ner': 43513.08466266333}
Losses {'ner': 43566.9224552806}
Losses {'ner': 43620.30649429704}
Losses {'ner': 43673.112967080946}
Losses {'ner': 43727.26164811062}
Losses {'ner': 43778.90266242302}
Losses {'ner': 43830.650176489304}
Losses {'ner': 43883.13926622471}
Losses {'ner': 43934.7691915437}
Losses {'ner': 43986.85586529704}
Losses {'ner': 44038.169153113646}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "New Balance WRT580 JD B Blau Grau Gr . 37,38 NEU &..." with entities "[(29, 31, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "H.I.S Herren Winterstiefel Schnürer Sneaker Highto..." with entities "[(62, 64, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 44087.93782297711}
Losses {'ner': 44141.56465625207}
Losses {'ner': 44193.57208350583}
Losses {'ner': 44245.78322212506}
Losses {'ner': 44298.502264035546}
Losses {'ner': 44353.139273523964}
Losses {'ner': 44404.74324465934}
Losses {'ner': 44458.25762855373}
Losses {'ner': 44511.06005736473}
Losses {'ner': 44564.49544480476}
Losses {'ner': 44617.32040858907}
Losses {'ner': 44670.151003652696}
Losses {'ner': 44723.07269889254}
Losses {'ner': 44775.476931600344}
Losses {'ner': 44826.24337213903}
Losses {'ner': 44878.3375226273}
Losses {'ner': 44931.38150897876}
Losses {'ner': 44985.701836543834}
Losses {'ner': 45039.69301391088}
Losses {'ner': 45090.49984807542}
Losses {'ner': 45142.88218134382}
Losses {'ner': 45195.336134759906}
Losses {'ner': 45248.94872594458}
Losses {'ner': 45301.157383064005}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Gabor Sneaker Gr . 6 , 39,5 , Glattleder Weiß / ro..." with entities "[(25, 26, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 45351.84431804992}
Losses {'ner': 45407.47596576381}
Losses {'ner': 45461.73427406666}
Losses {'ner': 45516.313232212524}
Losses {'ner': 45570.52178129808}
Losses {'ner': 45625.59223348156}
Losses {'ner': 45680.34437505433}
Losses {'ner': 45734.789720376}
Losses {'ner': 45788.008275640175}
Losses {'ner': 45840.321576408176}
Losses {'ner': 45893.81033943274}
Losses {'ner': 45949.54001817766}
Losses {'ner': 46002.39931153728}
Losses {'ner': 46056.455404128305}
Losses {'ner': 46111.18595334271}
Losses {'ner': 46165.71062077152}
Losses {'ner': 46220.31227020177}
Losses {'ner': 46272.90660657376}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "+ + + ORIGINAL ADIDAS STAN SMITH I WHITE I TOP I U..." with entities "[(29, 30, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 46328.60426596613}
Losses {'ner': 46381.76377194005}
Losses {'ner': 46435.17497362277}
Losses {'ner': 46489.65667317842}
Losses {'ner': 46545.549267499584}
Losses {'ner': 46599.83926843915}
Losses {'ner': 46653.87496111093}
Losses {'ner': 46708.62583915417}
Losses {'ner': 46763.44012474728}
Losses {'ner': 46814.52081625006}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "HERREN 35436717 PUMA BASKET CLASSIC SPORTSCHUH SCH..." with entities "[(41, 46, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 46869.751153225785}
Losses {'ner': 46924.4961677129}
Losses {'ner': 46978.42886722932}
Losses {'ner': 47030.60921837931}
Losses {'ner': 47085.66630047356}
Losses {'ner': 47139.84411955514}
Losses {'ner': 47193.825800452905}
Losses {'ner': 47249.36456327153}
Losses {'ner': 47306.59988632671}
Losses {'ner': 47365.30334129057}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Adidas ZX 700 Weave W vinwht / clonix / ftwwht Sch..." with entities "[(14, 15, 'Abteilung')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 47420.4848987317}
Losses {'ner': 47478.07317605534}
Losses {'ner': 47535.00934025285}
Losses {'ner': 47588.71319478784}
Losses {'ner': 47644.41080456284}
Losses {'ner': 47702.26447394221}
Losses {'ner': 47760.26056263094}
Losses {'ner': 47814.298566918456}
Losses {'ner': 47871.250511509934}
Losses {'ner': 47928.67355511022}
Losses {'ner': 47985.94796865295}
Losses {'ner': 48040.53862339737}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "NIKE AIR 270 , schwarz , US 13 / EUR 47,5 , viel g..." with entities "[(39, 40, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 48096.509748935365}
Losses {'ner': 48151.49329168223}
Losses {'ner': 48206.092407322154}
Losses {'ner': 48262.559295183644}
Losses {'ner': 48317.0403819444}
Losses {'ner': 48373.876049182625}
Losses {'ner': 48430.15202777578}
Losses {'ner': 48486.9214053139}
Losses {'ner': 48543.370324997595}
Losses {'ner': 48599.64216781613}
Losses {'ner': 48655.141651991944}
Losses {'ner': 48711.175097149055}
Losses {'ner': 48767.42094999117}
Losses {'ner': 48822.00028087631}
Losses {'ner': 48877.3056110593}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "ADIDAS FYW S-97 W EE5326 Schuhe Sneaker Trainers T..." with entities "[(9, 10, 'Abteilung')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 48932.88001460233}
Losses {'ner': 48987.71372657048}
Losses {'ner': 49043.5338587031}
Losses {'ner': 49103.39093429188}
Losses {'ner': 49161.26515647734}
Losses {'ner': 49219.06282213156}
Losses {'ner': 49277.90531756973}
Losses {'ner': 49333.89307507512}
Losses {'ner': 49391.07064125477}
Losses {'ner': 49450.61867473065}
Losses {'ner': 49510.47808636143}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Puma x Diamond Supply - Cali-0 - 369399-01 Herren ..." with entities "[(28, 29, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 49567.96680593537}
Losses {'ner': 49626.18115876644}
Losses {'ner': 49685.37056738997}
Losses {'ner': 49741.95225156422}
Losses {'ner': 49800.48669368594}
Losses {'ner': 49857.28225865288}
Losses {'ner': 49916.79813042449}
Losses {'ner': 49975.03920795562}
Losses {'ner': 50032.41050829206}
Losses {'ner': 50088.68099041152}
Losses {'ner': 50147.103473915806}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "FILA Sneakers Damen Freizeitschuhe Turnschuhe Gr ...." with entities "[(69, 70, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 50204.344860417856}
Losses {'ner': 50261.68825886407}
Losses {'ner': 50319.39511241866}
Losses {'ner': 50377.53505393778}
Losses {'ner': 50434.343153113354}
Losses {'ner': 50490.57546895914}
Losses {'ner': 50547.58814615183}
Losses {'ner': 50605.495615081716}
Losses {'ner': 50663.212309210416}
Losses {'ner': 50721.49267997019}
Losses {'ner': 50781.07941345297}
Losses {'ner': 50836.29073707732}
Losses {'ner': 50891.57221289667}
Losses {'ner': 50952.31933829149}
Losses {'ner': 51013.90593353358}
Losses {'ner': 51074.883383449414}
Losses {'ner': 51133.67878537932}
Losses {'ner': 51191.79159397194}
Losses {'ner': 51252.438260242154}
Losses {'ner': 51311.726880122435}
Losses {'ner': 51372.677496370154}
Losses {'ner': 51430.60053050913}
Losses {'ner': 51489.37420006864}
Losses {'ner': 51549.52691878599}
Losses {'ner': 51609.609097494154}
Losses {'ner': 51669.70576645934}
Losses {'ner': 51727.61196784523}
Losses {'ner': 51787.14603273325}
Losses {'ner': 51850.60151574702}
Losses {'ner': 51910.69799232517}
Losses {'ner': 51970.91324450482}
Losses {'ner': 52031.28059300535}
Losses {'ner': 52093.255949589766}
Losses {'ner': 52153.7392969696}
Losses {'ner': 52214.633261263945}
Losses {'ner': 52274.790153767324}
Losses {'ner': 52333.52106275036}
Losses {'ner': 52393.16982218203}
Losses {'ner': 52453.18242521071}
Losses {'ner': 52512.28264905919}
Losses {'ner': 52572.27296867442}
Losses {'ner': 52631.391511870424}
Losses {'ner': 52692.227285744615}
Losses {'ner': 52753.245954974314}
Losses {'ner': 52811.951985930784}
Losses {'ner': 52870.83105067978}
Losses {'ner': 52930.9002053698}
Losses {'ner': 52991.25648435926}
Losses {'ner': 53050.97359336714}
Losses {'ner': 53109.86190546664}
Losses {'ner': 53168.47935007838}
Losses {'ner': 53228.55166240652}
Losses {'ner': 53286.89469318952}
Losses {'ner': 53347.02162178552}
Losses {'ner': 53407.654589170925}
Losses {'ner': 53467.25632946995}
Losses {'ner': 53526.356108159394}
Losses {'ner': 53585.971772349076}
Losses {'ner': 53646.79415384248}
Losses {'ner': 53708.66025564108}
Losses {'ner': 53771.52856833149}
Losses {'ner': 53831.32407805543}
Losses {'ner': 53890.56210294306}
Losses {'ner': 53952.55719743237}
Losses {'ner': 54011.908222645856}
Losses {'ner': 54071.803872150005}
Losses {'ner': 54131.46055069064}
Losses {'ner': 54190.905820233405}
Losses {'ner': 54249.64561201179}
Losses {'ner': 54311.03151310667}
Losses {'ner': 54370.97098492692}
Losses {'ner': 54432.33705608012}
Losses {'ner': 54492.61623628275}
Losses {'ner': 54553.63820810946}
Losses {'ner': 54615.55199497337}
Losses {'ner': 54676.28532483363}
Losses {'ner': 54736.82535538722}
Losses {'ner': 54796.565561468175}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Nike Air Presto SE WMNS Lila Grau Weiß Gr . 36,5 U..." with entities "[(29, 31, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 54856.19059764028}
Losses {'ner': 54913.291750027915}
Losses {'ner': 54972.177122027264}
Losses {'ner': 55031.94592522166}
Losses {'ner': 55090.643646266195}
Losses {'ner': 55148.688682358596}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "+ HELLY HANSEN+SNEAKER+DAMEN+CANVAS+SLIP ON+TURNSC..." with entities "[(43, 44, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 55206.42562878912}
Losses {'ner': 55265.62030166236}
Losses {'ner': 55325.577882120735}
Losses {'ner': 55386.169373059995}
Losses {'ner': 55445.144141788944}
Losses {'ner': 55504.77156921325}
Losses {'ner': 55573.28746301058}
Losses {'ner': 55632.651211272285}
Losses {'ner': 55692.345268541074}
Losses {'ner': 55752.73448950151}
Losses {'ner': 55814.10210816009}
Losses {'ner': 55874.9971555472}
Losses {'ner': 55934.963884068566}
Losses {'ner': 55996.233965905296}
Losses {'ner': 56055.79653552818}
Losses {'ner': 56113.90097211013}
Losses {'ner': 56172.305892833014}
Losses {'ner': 56232.925507039734}
Losses {'ner': 56292.94185053834}
Losses {'ner': 56354.27671122292}
Losses {'ner': 56415.72628130132}
Losses {'ner': 56476.75992408738}
Losses {'ner': 56536.65621557288}
Losses {'ner': 56596.13063901899}
Losses {'ner': 56656.27258387466}
Losses {'ner': 56716.20332693852}
Losses {'ner': 56776.5175451835}
Losses {'ner': 56836.33021375242}
Losses {'ner': 56900.889331874285}
Losses {'ner': 56961.04711400679}
Losses {'ner': 57021.555514626605}
Losses {'ner': 57082.82031256676}
Losses {'ner': 57143.369911768175}
Losses {'ner': 57204.85065026831}
Losses {'ner': 57266.48868069675}
Losses {'ner': 57327.20596536033}
Losses {'ner': 57389.18753323703}
Losses {'ner': 57446.64389066118}
Losses {'ner': 57506.75627304683}
Losses {'ner': 57566.07283625658}
Losses {'ner': 57625.16659820591}
Losses {'ner': 57685.01894208509}
Losses {'ner': 57743.67294948914}
Losses {'ner': 57805.76450883109}
Losses {'ner': 57864.78315138241}
Losses {'ner': 57922.51067431138}
Losses {'ner': 57983.548386090304}
Losses {'ner': 58043.76678057747}
Losses {'ner': 58102.81321293196}
Losses {'ner': 58162.50564862641}
Losses {'ner': 58223.91126443508}
Losses {'ner': 58284.5396322965}
Losses {'ner': 58344.50414223593}
Losses {'ner': 58405.745377806976}
Losses {'ner': 58465.357889368344}
Losses {'ner': 58524.52315427936}
Losses {'ner': 58584.697800026464}
Losses {'ner': 58645.13398315311}
Losses {'ner': 58703.25086863346}
Losses {'ner': 58762.492718167676}
Losses {'ner': 58822.68986280968}
Losses {'ner': 58882.63403047256}
Losses {'ner': 58942.26469445236}
Losses {'ner': 59003.37106529433}
Losses {'ner': 59063.26752393186}
Losses {'ner': 59122.683097235626}
Losses {'ner': 59183.590609420324}
Losses {'ner': 59242.72233250062}
Losses {'ner': 59303.810452736216}
Losses {'ner': 59362.61517630622}
Losses {'ner': 59422.486191394855}
Losses {'ner': 59481.93028583762}
Losses {'ner': 59541.66655150533}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Damen Scandi Sportschuhe Runners Freizeitschuhe Tu..." with entities "[(48, 52, 'Aktivität')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 59601.346332818386}
Losses {'ner': 59662.60087704903}
Losses {'ner': 59722.1508932967}
Losses {'ner': 59782.21136084723}
Losses {'ner': 59841.73199577036}
Losses {'ner': 59901.186904940405}
Losses {'ner': 59961.35277576913}
Losses {'ner': 60021.09342383576}
Losses {'ner': 60080.62524135021}
Losses {'ner': 60140.25072826847}
Losses {'ner': 60201.74204181641}
Losses {'ner': 60262.10602028057}
Losses {'ner': 60322.06270847999}
Losses {'ner': 60382.16772406566}
Losses {'ner': 60442.34414982394}
Losses {'ner': 60503.42527149155}
Losses {'ner': 60563.41798223634}
Losses {'ner': 60624.25078260488}
Losses {'ner': 60684.594629695726}
Losses {'ner': 60746.02114872903}
Losses {'ner': 60806.80300993275}
Losses {'ner': 60864.89306096163}
Losses {'ner': 60924.521068915616}
Losses {'ner': 60984.05517207215}
Losses {'ner': 61044.613007931745}
Losses {'ner': 61102.635205408194}
Losses {'ner': 61160.27292338885}
Losses {'ner': 61220.39441689289}
Losses {'ner': 61282.04518355614}
Losses {'ner': 61344.17125232353}
Losses {'ner': 61402.89457739818}
Losses {'ner': 61463.8299276505}
Losses {'ner': 61524.29673695493}
Losses {'ner': 61582.69803917337}
Losses {'ner': 61641.69829715065}
Losses {'ner': 61703.10869404998}
Losses {'ner': 61761.87729137459}
Losses {'ner': 61822.406303060925}
Losses {'ner': 61880.78484815893}
Losses {'ner': 61941.25521501618}
Losses {'ner': 62001.06717443744}
Losses {'ner': 62062.167366490685}
Losses {'ner': 62122.74521004486}
Losses {'ner': 62182.19240320388}
Losses {'ner': 62241.43814645994}
Losses {'ner': 62300.24818650268}
Losses {'ner': 62361.20152270443}
Losses {'ner': 62421.255434651146}
Losses {'ner': 62481.046886703356}
Losses {'ner': 62540.496589670314}
Losses {'ner': 62600.72855303845}
Losses {'ner': 62659.38692242222}
Losses {'ner': 62720.73203761073}
Losses {'ner': 62780.118998697384}
Losses {'ner': 62840.124061188086}
Losses {'ner': 62900.73798819446}
Losses {'ner': 62960.48827872892}
Losses {'ner': 63020.60349449493}
Losses {'ner': 63079.27360114276}
Losses {'ner': 63137.51316871753}
Losses {'ner': 63199.23425263568}
Losses {'ner': 63260.32821187127}
Losses {'ner': 63320.01609432447}
Losses {'ner': 63380.4887561191}
Losses {'ner': 63439.5625825476}
Losses {'ner': 63501.97850347293}
Losses {'ner': 63560.802606481884}
Losses {'ner': 63621.32459406165}
Losses {'ner': 63680.763011850184}
Losses {'ner': 63740.823722544825}
Losses {'ner': 63799.07812857046}
Losses {'ner': 63859.407579028746}
Losses {'ner': 63920.43923146627}
Losses {'ner': 63979.04762699804}
Losses {'ner': 64037.00056935358}
Losses {'ner': 64097.39077919605}
Losses {'ner': 64157.38122473436}
Losses {'ner': 64216.43776104378}
Losses {'ner': 64275.123527497286}
Losses {'ner': 64334.27670008899}
Losses {'ner': 64393.949082664854}
Losses {'ner': 64453.34484164388}
Losses {'ner': 64513.551598594815}
Losses {'ner': 64573.010904800874}
Losses {'ner': 64633.56188951319}
Losses {'ner': 64693.833250426265}
Losses {'ner': 64750.8479595704}
Losses {'ner': 64808.96004196837}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "Schuhe Skechers Arch Fit - Big Appeal 149057-BBK -..." with entities "[(44, 45, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Losses {'ner': 64869.57444439699}
Losses {'ner': 64929.13848349788}
Losses {'ner': 64987.731355962445}
Losses {'ner': 65046.08765138277}
Losses {'ner': 65106.481297765495}
Losses {'ner': 65166.5392271882}
Losses {'ner': 65225.832470552275}
Losses {'ner': 65288.46425575039}
Losses {'ner': 65349.4177664893}
Losses {'ner': 65410.29120503713}
Losses {'ner': 65469.35940823958}
Losses {'ner': 65530.05528952412}
Losses {'ner': 65590.69999943717}
Losses {'ner': 65651.47421418547}
Losses {'ner': 65712.77714604369}
Losses {'ner': 65773.00714870574}
Losses {'ner': 65832.08576719309}
Losses {'ner': 65890.69307898692}
Losses {'ner': 65951.82711851838}
Losses {'ner': 66011.73270567748}
Losses {'ner': 66070.1740797045}
Losses {'ner': 66130.58216056501}
Losses {'ner': 66190.94675284153}
Losses {'ner': 66250.90926521103}
Losses {'ner': 66310.10355955473}
Losses {'ner': 66371.13787796706}
Losses {'ner': 66428.85308751077}
Losses {'ner': 66490.867148775}
Losses {'ner': 66550.87013395349}
Losses {'ner': 66611.60479118707}
Losses {'ner': 66672.11551154764}
Losses {'ner': 66731.79665266523}
Losses {'ner': 66791.6768533819}
Losses {'ner': 66853.27815303566}
Losses {'ner': 66912.17259752272}

/usr/local/lib/python3.10/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "+ + + ORIGINAL ADIDAS STAN SMITH I WHITE I TOP I U..." with entities "[(37, 38, 'No Tag')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

Streaming output truncated to the last 5000 lines.
Losses {'ner': 48997.05165916687}
Losses {'ner': 49053.72840840189}
Losses {'ner': 49109.54811697459}
Losses {'ner': 49165.28374595946}
Losses {'ner': 49220.94111729735}
Losses {'ner': 49278.045858339734}
Losses {'ner': 49335.35978259101}
Losses {'ner': 49391.11050549733}
Losses {'ner': 49446.91030801048}
Losses {'ner': 49502.398607041876}
Losses {'ner': 49561.969592617075}
Losses {'ner': 49619.340896874615}
Losses {'ner': 49677.827952043}
Losses {'ner': 49736.9181634873}
Losses {'ner': 49794.03464835192}
Losses {'ner': 49850.703433842944}
Losses {'ner': 49909.610467125276}
Losses {'ner': 49967.97499852496}
Losses {'ner': 50025.76995517554}
Losses {'ner': 50084.05283108303}
Losses {'ner': 50144.73834549026}
Losses {'ner': 50205.06336883218}
Losses {'ner': 50264.207258194176}
Losses {'ner': 50323.69457586152}
Losses {'ner': 50381.92151600537}
Losses {'ner': 50441.95761594591}
Losses {'ner': 50500.23774480862}
Losses {'ner': 50560.04022776564}
Losses {'ner': 50617.80334369415}
Losses {'ner': 50676.91812737819}
Losses {'ner': 50734.49690179873}
Losses {'ner': 50793.36603873197}
Losses {'ner': 50851.54921540219}
Losses {'ner': 50909.266050057224}
Losses {'ner': 50968.92991919277}
Losses {'ner': 51027.380160870234}
Losses {'ner': 51087.07539596635}
Losses {'ner': 51146.988083311546}
Losses {'ner': 51203.605793314244}
Losses {'ner': 51260.13757269662}
Losses {'ner': 51318.77605931759}
Losses {'ner': 51378.00410916768}
Losses {'ner': 51436.57185902276}
Losses {'ner': 51494.345751250294}
Losses {'ner': 51552.864659279716}
Losses {'ner': 51612.311370325406}
Losses {'ner': 51670.37512218248}
Losses {'ner': 51727.38097718013}
Losses {'ner': 51786.54787589407}
Losses {'ner': 51845.83207997664}
Losses {'ner': 51904.58492103708}
Losses {'ner': 51962.58558011576}
Losses {'ner': 52019.36801448476}
Losses {'ner': 52080.08959324297}
Losses {'ner': 52137.23372103006}
Losses {'ner': 52196.47892684076}
Losses {'ner': 52253.87460246828}
Losses {'ner': 52311.35499307986}
Losses {'ner': 52369.497754023105}
Losses {'ner': 52427.442931146055}
Losses {'ner': 52482.60167731407}
Losses {'ner': 52540.53183405723}
Losses {'ner': 52598.39207792292}
Losses {'ner': 52658.78006427886}
Losses {'ner': 52718.142826310934}
Losses {'ner': 52777.45250164566}
Losses {'ner': 52836.994950041524}
Losses {'ner': 52896.200700434274}
Losses {'ner': 52954.40048058366}
Losses {'ner': 53013.17340776452}
Losses {'ner': 53072.92200118606}
Losses {'ner': 53131.62138406935}
Losses {'ner': 53189.432010229706}
Losses {'ner': 53247.570549426164}
Losses {'ner': 53305.82402186704}
Losses {'ner': 53363.05893227472}
Losses {'ner': 53420.59610190908}
Losses {'ner': 53478.65073439213}
Losses {'ner': 53536.85213831174}
Losses {'ner': 53594.39376252717}
Losses {'ner': 53651.63562916792}
Losses {'ner': 53709.02572952318}
Losses {'ner': 53766.907659352895}
Losses {'ner': 53824.457761370715}
Losses {'ner': 53882.82352173063}
Losses {'ner': 53942.65594240385}
Losses {'ner': 53999.33426748674}
Losses {'ner': 54057.57248545896}
Losses {'ner': 54115.23216022636}
Losses {'ner': 54173.704613078306}
Losses {'ner': 54232.09407653073}
Losses {'ner': 54291.34928393895}
Losses {'ner': 54352.641332769315}
Losses {'ner': 54410.571638231864}
Losses {'ner': 54470.682125185005}
Losses {'ner': 54529.203655069075}
Losses {'ner': 54587.26196716584}
Losses {'ner': 54645.074705986575}
Losses {'ner': 54703.275753377275}
Losses {'ner': 54762.8419431907}
Losses {'ner': 54822.148810787796}
Losses {'ner': 54880.58051273652}
Losses {'ner': 54939.837506892545}
Losses {'ner': 54998.387098235915}
Losses {'ner': 55055.077956208865}
Losses {'ner': 55113.80369965271}
Losses {'ner': 55171.57715580477}
Losses {'ner': 55232.3679846968}
Losses {'ner': 55291.525307930584}
Losses {'ner': 55350.85853989996}
Losses {'ner': 55408.94932982154}
Losses {'ner': 55464.84477704592}
Losses {'ner': 55520.57900381475}
Losses {'ner': 55578.26709557887}
Losses {'ner': 55635.68776569333}
Losses {'ner': 55693.97850271877}
Losses {'ner': 55754.38086003907}
Losses {'ner': 55813.38000656365}
Losses {'ner': 55871.34381351228}
Losses {'ner': 55929.19404716584}
Losses {'ner': 55988.31909336847}
Losses {'ner': 56048.24504899558}
Losses {'ner': 56108.123995528076}
Losses {'ner': 56163.61921682366}
Losses {'ner': 56223.12493328069}
Losses {'ner': 56281.169014251034}
Losses {'ner': 56339.84723410517}
Losses {'ner': 56397.81299564656}
Losses {'ner': 56457.0196301947}
Losses {'ner': 56516.146506548466}
Losses {'ner': 56573.07105888853}
Losses {'ner': 56630.990437353255}
Losses {'ner': 56690.65905237779}
Losses {'ner': 56750.765691650886}
Losses {'ner': 56809.91999738}
Losses {'ner': 56868.647386944736}
Losses {'ner': 56928.338291278924}
Losses {'ner': 56986.06759393297}
Losses {'ner': 57043.97051115602}
Losses {'ner': 57102.60312182724}
Losses {'ner': 57161.379300147004}
Losses {'ner': 57219.99972342077}
Losses {'ner': 57276.01921568084}
Losses {'ner': 57334.217148070406}
Losses {'ner': 57391.64969117452}
Losses {'ner': 57450.24476051466}
Losses {'ner': 57508.96802951199}
Losses {'ner': 57566.53205173274}
Losses {'ner': 57623.806545695756}
Losses {'ner': 57684.445465158205}
Losses {'ner': 57742.14774532752}
Losses {'ner': 57800.52013708042}
Losses {'ner': 57858.367339027674}
Losses {'ner': 57916.458624602106}
Losses {'ner': 57976.57363643478}
Losses {'ner': 58034.21397791719}
Losses {'ner': 58091.44414760089}
Losses {'ner': 58148.90070724194}
Losses {'ner': 58208.25985709657}
Losses {'ner': 58267.43874670831}
Losses {'ner': 58327.445420971}
Losses {'ner': 58384.84694890478}
Losses {'ner': 58443.142307263195}
Losses {'ner': 58500.809610599106}
Losses {'ner': 58559.273361238105}
Losses {'ner': 58616.939851145646}
Losses {'ner': 58674.90438743999}
Losses {'ner': 58733.263570045725}
Losses {'ner': 58790.25560376481}
Losses {'ner': 58849.24727870305}
Losses {'ner': 58907.49675292941}
Losses {'ner': 58966.85346041294}
Losses {'ner': 59023.39321488887}
Losses {'ner': 59081.823406841606}
Losses {'ner': 59141.62437891906}
Losses {'ner': 59200.300588019585}
Losses {'ner': 59259.996077506265}
Losses {'ner': 59318.544336954525}
Losses {'ner': 59377.42681416968}
Losses {'ner': 59432.97620353574}
Losses {'ner': 59492.000528917706}
Losses {'ner': 59550.36561077839}
Losses {'ner': 59608.21540967381}
Losses {'ner': 59666.98167572438}
Losses {'ner': 59725.53348632238}
Losses {'ner': 59784.50289147708}
Losses {'ner': 59842.45848753676}
Losses {'ner': 59899.838792921044}
Losses {'ner': 59959.33155455933}
Losses {'ner': 60018.83692108215}
Losses {'ner': 60076.75966260423}
Losses {'ner': 60135.51546702571}
Losses {'ner': 60194.136894690106}
Losses {'ner': 60253.40188884818}
Losses {'ner': 60312.442879238995}
Losses {'ner': 60370.47815306916}
Losses {'ner': 60429.16699470222}
Losses {'ner': 60488.32171331547}
Losses {'ner': 60547.75555405308}
Losses {'ner': 60606.62331257303}
Losses {'ner': 60665.852403575205}
Losses {'ner': 60724.448237509154}
Losses {'ner': 60782.31070721775}
Losses {'ner': 60839.834402996785}
Losses {'ner': 60897.478491441085}
Losses {'ner': 60956.39167586036}
Losses {'ner': 61014.732178639824}
Losses {'ner': 61071.561762878875}
Losses {'ner': 61130.94573352134}
Losses {'ner': 61188.52007961852}
Losses {'ner': 61247.62418550739}
Losses {'ner': 61307.1822638225}
Losses {'ner': 61365.626519074605}
Losses {'ner': 61424.152211169625}
Losses {'ner': 61482.18154924075}
Losses {'ner': 61540.75632748744}
Losses {'ner': 61598.25831993707}
Losses {'ner': 61655.87535035156}
Losses {'ner': 61713.59869207826}
Losses {'ner': 61772.68311166263}
Losses {'ner': 61831.541228188784}
Losses {'ner': 61889.98719707442}
Losses {'ner': 61950.11811833953}
Losses {'ner': 62006.411783407755}
Losses {'ner': 62068.025330440454}
Losses {'ner': 62127.93989673908}
Losses {'ner': 62187.6859348549}
Losses {'ner': 62245.911199256305}
Losses {'ner': 62304.80680750976}
Losses {'ner': 62362.81064287494}
Losses {'ner': 62421.145344159704}
Losses {'ner': 62479.73383985554}
Losses {'ner': 62538.96742577548}
Losses {'ner': 62597.84861084982}
Losses {'ner': 62656.56964263576}
Losses {'ner': 62714.09061940038}
Losses {'ner': 62773.41817778316}
Losses {'ner': 62831.44878501785}
Losses {'ner': 62890.321671049714}
Losses {'ner': 62947.868049776785}
Losses {'ner': 63006.717569580906}
Losses {'ner': 63063.748832015925}
Losses {'ner': 63122.49010821347}
Losses {'ner': 63181.65696430152}
Losses {'ner': 63240.618601713046}
Losses {'ner': 63298.709620192545}
Losses {'ner': 63357.568055930446}
Losses {'ner': 63416.036791039005}
Losses {'ner': 63474.51566490684}
Losses {'ner': 63532.55870703807}
Losses {'ner': 63591.81885845949}
Losses {'ner': 63651.197582732784}
Losses {'ner': 63710.04933437881}
Losses {'ner': 63766.787114291816}
Losses {'ner': 63825.50099670814}
Losses {'ner': 63884.796924885566}
Losses {'ner': 63942.840113188344}
Losses {'ner': 64001.2798518056}
Losses {'ner': 64059.58302688803}
Losses {'ner': 64120.022833870906}
Losses {'ner': 64177.41968976166}
Losses {'ner': 64234.014086051095}
Losses {'ner': 64292.67121834195}
Losses {'ner': 64350.670324071965}
Losses {'ner': 64409.918331521025}
Losses {'ner': 64468.47539617393}
Losses {'ner': 64525.98184434949}
Losses {'ner': 64583.18876448089}
Losses {'ner': 64643.18981242006}
Losses {'ner': 64701.192319731126}
Losses {'ner': 64759.78101470218}
Losses {'ner': 64816.75856801019}
Losses {'ner': 64876.428109747256}
Losses {'ner': 64936.046123389984}
Losses {'ner': 64994.34691720545}
Losses {'ner': 65053.21765819633}
Losses {'ner': 65111.04184016654}
Losses {'ner': 65168.674681324264}
Losses {'ner': 65228.2457539921}
Losses {'ner': 65287.56917973234}
Losses {'ner': 65345.21363238075}
Losses {'ner': 65404.01780480349}
Losses {'ner': 65460.92350997978}
Losses {'ner': 65518.537278599266}
Losses {'ner': 65577.65392889238}
Losses {'ner': 65591.63883078999}
Losses {'ner': 7.449977179145208}
Losses {'ner': 15.152667397051118}
Losses {'ner': 22.701333418864323}
Losses {'ner': 29.519581751984532}
Losses {'ner': 36.914615720597084}
Losses {'ner': 44.25838629910069}
Losses {'ner': 51.546130890122555}
Losses {'ner': 59.307388955823086}
Losses {'ner': 66.50647795489331}
Losses {'ner': 73.54279258479929}
Losses {'ner': 80.86710060858732}
Losses {'ner': 88.44683241290605}
Losses {'ner': 95.6554976620113}
Losses {'ner': 102.49965914966143}
Losses {'ner': 109.98231819713092}
Losses {'ner': 116.73989047372837}
Losses {'ner': 123.62871572783152}
Losses {'ner': 131.25024187227646}
Losses {'ner': 138.8864704315587}
Losses {'ner': 146.05810020147615}
Losses {'ner': 152.96837840613097}
Losses {'ner': 160.5205735824504}
Losses {'ner': 167.40386222833442}
Losses {'ner': 174.82984649792454}
Losses {'ner': 182.11178100061107}
Losses {'ner': 189.1893209400444}
Losses {'ner': 197.19129527419165}
Losses {'ner': 205.50162206847045}
Losses {'ner': 212.62371615286276}
Losses {'ner': 219.4194122656557}
Losses {'ner': 226.82404408709436}
Losses {'ner': 234.29024895472713}
Losses {'ner': 242.39186747517698}
Losses {'ner': 249.98108748957776}
Losses {'ner': 256.3830137258049}
Losses {'ner': 263.3494211170201}
Losses {'ner': 271.15893400000465}
Losses {'ner': 278.0101685908722}
Losses {'ner': 285.66090798904594}
Losses {'ner': 293.04189405492804}
Losses {'ner': 300.87705091848335}
Losses {'ner': 308.4614447322238}
Losses {'ner': 315.9038976244938}
Losses {'ner': 323.3485681282105}
Losses {'ner': 330.8922739537428}
Losses {'ner': 338.1574256388466}
Losses {'ner': 345.41586200948757}
Losses {'ner': 353.09192676837745}
Losses {'ner': 360.6236267014891}
Losses {'ner': 367.6671787712734}
Losses {'ner': 375.4878953267793}
Losses {'ner': 383.2028256255175}
Losses {'ner': 390.44489186545565}
Losses {'ner': 397.6921599858064}
Losses {'ner': 405.53870778126606}
Losses {'ner': 413.55732143824883}
Losses {'ner': 420.6546244254891}
Losses {'ner': 428.60032219873705}
Losses {'ner': 436.1874260296203}
Losses {'ner': 443.8486804835588}
Losses {'ner': 451.2958998795688}
Losses {'ner': 458.80743075503}
Losses {'ner': 465.98371614064985}
Losses {'ner': 473.6802907100886}
Losses {'ner': 481.2961456495345}
Losses {'ner': 489.30195660219255}
Losses {'ner': 496.32334148586455}
Losses {'ner': 503.8646807640857}
Losses {'ner': 510.5083529114003}
Losses {'ner': 517.2822541746523}
Losses {'ner': 524.6884033911142}
Losses {'ner': 532.634105989368}
Losses {'ner': 540.1888039676783}
Losses {'ner': 547.204645320782}
Losses {'ner': 554.9358240468516}
Losses {'ner': 562.409660701416}
Losses {'ner': 569.896853963145}
Losses {'ner': 576.9195794125902}
Losses {'ner': 584.4620045719096}
Losses {'ner': 591.7943194997545}
Losses {'ner': 598.7967701032806}
Losses {'ner': 606.7463090859285}
Losses {'ner': 613.9622392647627}
Losses {'ner': 621.4989832043259}
Losses {'ner': 628.9964021402022}
Losses {'ner': 636.6517888160263}
Losses {'ner': 644.093610090956}
Losses {'ner': 651.3512967404633}
Losses {'ner': 659.1530339022822}
Losses {'ner': 666.7428401721365}
Losses {'ner': 673.453465785958}
Losses {'ner': 680.7699577657144}
Losses {'ner': 687.8422059561457}
Losses {'ner': 695.0507893581688}
Losses {'ner': 702.6836928494487}
Losses {'ner': 710.0359948810402}
Losses {'ner': 717.3182595146101}
Losses {'ner': 724.4585035800865}
Losses {'ner': 731.4568747863104}
Losses {'ner': 738.8209744242085}
Losses {'ner': 746.2349672585908}
Losses {'ner': 753.8335725635472}
Losses {'ner': 761.0034305792808}
Losses {'ner': 768.4403870945837}
Losses {'ner': 775.4070385460753}
Losses {'ner': 782.3152588719809}
Losses {'ner': 789.8013147491506}
Losses {'ner': 797.6706979129008}
Losses {'ner': 805.8252728319271}
Losses {'ner': 813.0013450031415}
Losses {'ner': 820.1864593761288}
Losses {'ner': 827.4367098609232}
Losses {'ner': 834.8004612123023}
Losses {'ner': 841.6004247201035}
Losses {'ner': 847.6773840004007}
Losses {'ner': 855.1256638692121}
Losses {'ner': 862.5393809663492}
Losses {'ner': 870.4749661876249}
Losses {'ner': 878.1054087467799}
Losses {'ner': 885.526772962154}
Losses {'ner': 893.5701836550509}
Losses {'ner': 901.2128765494783}
Losses {'ner': 908.9904834488298}
Losses {'ner': 916.407257385336}
Losses {'ner': 924.1611840715378}
Losses {'ner': 931.854847683515}
Losses {'ner': 939.1632533799294}
Losses {'ner': 947.0694115936168}
Losses {'ner': 954.0251713917934}
Losses {'ner': 961.7757103109144}
Losses {'ner': 969.9634317382297}
Losses {'ner': 977.4836622210278}
Losses {'ner': 984.6630695817133}
Losses {'ner': 992.0112990188485}
Losses {'ner': 999.5043241781372}
Losses {'ner': 1006.5739817339185}
Losses {'ner': 1014.4020802526924}
Losses {'ner': 1022.2229721182215}
Losses {'ner': 1029.2919818816913}
Losses {'ner': 1035.8620988585626}
Losses {'ner': 1042.0925111191918}
Losses {'ner': 1049.2065290602495}
Losses {'ner': 1057.0837000681659}
Losses {'ner': 1064.0122889267604}
Losses {'ner': 1071.591050515702}
Losses {'ner': 1078.9651083149304}
Losses {'ner': 1086.5183655700177}
Losses {'ner': 1093.1794295073057}
Losses {'ner': 1100.8015846777278}
Losses {'ner': 1107.8056150891412}
Losses {'ner': 1114.7751035317215}
Losses {'ner': 1121.8744539692434}
Losses {'ner': 1128.952528696202}
Losses {'ner': 1136.775713088617}
Losses {'ner': 1144.0719940673303}
Losses {'ner': 1152.2735549478825}
Losses {'ner': 1160.2807583498802}
Losses {'ner': 1167.4810480705496}
Losses {'ner': 1175.0010222729347}
Losses {'ner': 1182.5554794438235}
Losses {'ner': 1190.1261663466744}
Losses {'ner': 1196.7770324779726}
Losses {'ner': 1205.259647536283}
Losses {'ner': 1212.7277604456547}
Losses {'ner': 1220.3941442287185}
Losses {'ner': 1227.631931720509}
Losses {'ner': 1234.95365987983}
Losses {'ner': 1242.300097450469}
Losses {'ner': 1250.303541935313}
Losses {'ner': 1257.8813836716893}
Losses {'ner': 1265.4119686961951}
Losses {'ner': 1273.0855014336141}
Losses {'ner': 1280.7131591127566}
Losses {'ner': 1288.8191149332872}
Losses {'ner': 1296.1827006295518}
Losses {'ner': 1302.1481634216811}
Losses {'ner': 1310.6097855424937}
Losses {'ner': 1318.3675390615003}
Losses {'ner': 1325.187470557435}
Losses {'ner': 1332.2798946875023}
Losses {'ner': 1340.1387194041067}
Losses {'ner': 1346.5667060194442}
Losses {'ner': 1353.452145369714}
Losses {'ner': 1361.625046967621}
Losses {'ner': 1368.9043394187806}
Losses {'ner': 1376.44687910102}
Losses {'ner': 1383.572224133682}
Losses {'ner': 1390.6126373077163}
Losses {'ner': 1398.0994240469913}
Losses {'ner': 1405.1366618774514}
Losses {'ner': 1412.6697042327296}
Losses {'ner': 1419.8976298193747}
Losses {'ner': 1427.2972879409542}
Losses {'ner': 1435.2930072149945}
Losses {'ner': 1443.346653014216}
Losses {'ner': 1450.4930146297247}
Losses {'ner': 1457.128988712577}
Losses {'ner': 1464.7535297861489}
Losses {'ner': 1471.4593959641809}
Losses {'ner': 1478.95355654137}
Losses {'ner': 1486.1023390432986}
Losses {'ner': 1493.5171601839995}
Losses {'ner': 1501.8064132488964}
Losses {'ner': 1509.966636808984}
Losses {'ner': 1517.6817710590624}
Losses {'ner': 1524.1163138725572}
Losses {'ner': 1532.3131295355745}
Losses {'ner': 1540.1255407493338}
Losses {'ner': 1547.5596558666552}
Losses {'ner': 1554.7372325363508}
Losses {'ner': 1561.7562553692082}
Losses {'ner': 1569.1357802676907}
Losses {'ner': 1576.6200509918385}
Losses {'ner': 1584.3456807978914}
Losses {'ner': 1591.8186385908161}
Losses {'ner': 1598.2008110529887}
Losses {'ner': 1605.2987288872855}
Losses {'ner': 1612.5968257042723}
Losses {'ner': 1619.959433675106}
Losses {'ner': 1627.4635930185952}
Losses {'ner': 1634.9624233407715}
Losses {'ner': 1641.705918682196}
Losses {'ner': 1649.4144884588266}
Losses {'ner': 1657.372307317152}
Losses {'ner': 1665.7488266416694}
Losses {'ner': 1675.1933835391756}
Losses {'ner': 1685.3229604606386}
Losses {'ner': 1693.7464735546018}
Losses {'ner': 1702.1529694047276}
Losses {'ner': 1712.139111449149}
Losses {'ner': 1722.008283181989}
Losses {'ner': 1731.146808414067}
Losses {'ner': 1739.4623540975754}
Losses {'ner': 1748.4312606996991}
Losses {'ner': 1758.4633214923686}
Losses {'ner': 1768.232984812717}
Losses {'ner': 1777.8371448122946}
Losses {'ner': 1787.1079306706836}
Losses {'ner': 1796.5894718889342}
Losses {'ner': 1805.7745731847556}
Losses {'ner': 1815.068015934174}
Losses {'ner': 1824.3317003062405}
Losses {'ner': 1833.738935254871}
Losses {'ner': 1842.3452880099724}
Losses {'ner': 1850.848291590468}
Losses {'ner': 1859.6351131721242}
Losses {'ner': 1869.5190211062907}
Losses {'ner': 1878.9060196726857}
Losses {'ner': 1887.9703956813244}
Losses {'ner': 1896.8809622567549}
Losses {'ner': 1906.143598888482}
Losses {'ner': 1916.1326866815268}
Losses {'ner': 1925.058417764855}
Losses {'ner': 1934.9594783642594}
Losses {'ner': 1944.5650574620147}
Losses {'ner': 1953.7705336530091}
Losses {'ner': 1963.4554831874887}
Losses {'ner': 1972.98133879723}
Losses {'ner': 1983.0450528189226}
Losses {'ner': 1992.5890969354346}
Losses {'ner': 2001.941701790119}
Losses {'ner': 2011.5969763570804}
Losses {'ner': 2020.433292696752}
Losses {'ner': 2030.5596321454188}
Losses {'ner': 2040.2401010349506}
Losses {'ner': 2049.2958862869064}
Losses {'ner': 2059.1911468703993}
Losses {'ner': 2068.636162180709}
Losses {'ner': 2076.635546929611}
Losses {'ner': 2086.2555510061216}
Losses {'ner': 2094.833763742296}
Losses {'ner': 2104.531749682909}
Losses {'ner': 2114.1499337055143}
Losses {'ner': 2123.2493905593096}
Losses {'ner': 2132.299012200634}
Losses {'ner': 2141.6224735786273}
Losses {'ner': 2150.742138339755}
Losses {'ner': 2159.9040072081507}
Losses {'ner': 2169.139389946674}
Losses {'ner': 2177.763762962898}
Losses {'ner': 2187.397850242607}
Losses {'ner': 2196.3899290488807}
Losses {'ner': 2205.13255554454}
Losses {'ner': 2214.1835240946857}
Losses {'ner': 2223.546001166269}
Losses {'ner': 2233.8696717053426}
Losses {'ner': 2243.2965794661322}
Losses {'ner': 2252.2554344943965}
Losses {'ner': 2261.505078282138}
Losses {'ner': 2270.9721480638873}
Losses {'ner': 2280.392083070623}
Losses {'ner': 2289.5392761197036}
Losses {'ner': 2298.6584812816327}
Losses {'ner': 2307.5938024729585}

In [110]:
output_dir = Path('/content/')
nlp.to_disk(output_dir)
print("Saved model to", output_dir)

Saved model to /content

In [113]:
doc = nlp("LACOSTE ESPARRE 319 3 CMA [ GR . 40 / / 42 ] HERREN LEDER SNEAKER BLAU NEU & OVP")
doc

LACOSTE ESPARRE 319 3 CMA [ GR . 40 / / 42 ] HERREN LEDER SNEAKER BLAU NEU & OVP

In [109]:
for i, j in test_data:
  print(i)

Streaming output truncated to the last 5000 lines.
Adidas X Tokio Solar Human Made Sneaker Turnschuhe weiß FZ0551 Gr . 37 - 47 NEU
Herren Schuhe Salomon Speedcross 3 Outdoorschuhe Laufschuhe Sportschuhe
K-SWISS Herren Schuhe schwarz Leder AVERY Sneaker Sportschuhe 39 - 46 NEU --
Lacoste Crosier Sail 7 SRM brown Schuhe / Sneaker BRW braun
adidas ZX 700 W Damen Sneaker Freizeitschuh schwarz ( S79795 ) Gr : Wählbar neu in K
adidas Originals Damen-Superstar Sneaker Schwarz Lackleder Turnschuhe Schuhe NEU
adidas Falcon W gr 39 40 42,5 43 B28128 Retro Style yung 1
Nike Air Jordan 1 Mid Mystic Navy Mint | Verschiedene Größen ✅
SKECHERS Sneaker Gr . 36 bordeaux memory foam Freizeit Schuhe Sportschuh neu
Nike Air Max 720-818 Frsh ( GS ) Gr . wählbar Neu & OVP CW4721 100
Puma Axelion Block Herren Schuhe Sneaker Turnschuhe 193148 ( Weiß 02 )
NEU SKECHERS Damen Sneakers Turnschuh Memory Foam D'LITES - REINVENTION Grau
adidas NMD R1 V2 H01485 Schwarz Black Sneaker Turnschuhe Herren Sport Originals
NIKE ROSHE ONE DMB BRIGHT CRIMSON LTD 37.5-42 NEU160 € rosheone rosherun free 5.0
Timberland Lionshead GTX Sneaker Wanderschuhe Gore-Tex Damen Schuhe 56600
Geox Schuhe WELLS blau Herrenschuhe Sneakers U25T5B 02214 C4002 NEU
Maruti GIMLET HAIRON LEATHER - Damen Schuhe Sneaker - 66107205 z50
British Knights Dee Damen Sneaker | Turnschuh | Sportschuh - NEU
Sneaker , Clubshoe , Clubschuh , Freizeitschuh , Conteyner , schwarz , dunkelbraun
Legero Sneaker Tanaro Indaco blau Halbschuh Nubuk Leder Schnür 00820 86
Damen Herren Turnschuhe NEU Sportschuhe Schuhe Sneaker @ 2510
Asics Gel Lyte III Herren Sportschuhe Sneaker EUR 42 1/2 Nr . 1-R-725
Running Sneaker Herren Damen Schuhe Air Sportschuhe Laufschuhe Turnschuhe DE
Rieker Sneaker Damen blau Gr.38-40 L32N0-14 ANTISTRESS
Converse Unisex CTAS OX 159530C Turnschuhe Pale Colar Beige EUR 36.5
Schwarz Weiß Feiyue Schuhe für Kung Fu Wushu Kampfkunst Tai Canvas Sneaker STOCK
Superga LE SUPERGA Man Woman 2750-LINU Essentials Sneaker
adidas Core Duramo SL Women schwarz / weiß - Herren Sneaker FV8794
Damen Plateau Sneaker Blockabsatz Schnürer Profil-Sohle Schuhe 901376 New Look
Nike Air Max Infinity Herren Schuhe CU9451-001 Sneaker Sport Laufen Wandern 45
Asics Jolt 3 Damen Laufschuhe Turnschuhe Sneaker Sportschuhe 1012A908-003
Chekich CH254 Blue Splash | Turnschuhe | Handbemalt | Graffiti Urban Schuhe
adidas x LEGO ZX 8000 A-ZX Series Sneaker Schuhe Herren FZ3482
Herren Sportschuhe Laufschuhe Sportliche Prints Strick Schuhe 836702 Trendy Neu
Puma Smash v2 Unisex Sneaker | Turnschuh | Sportschuh | Leder - NEU
Neu FILA Disruptor Stretch Weiß Damenschuhe Sneakers
Damen Stretch Bequeme Sneaker Laufschuhe Freizeitschuhe Atmungsaktiv rutschfest
K-Swiss Damen Sneakers Belmont So T Sherbet 93739
CH041 Chekich Sneakers | Weiß-Gold | Herren Schuhe | Freizeitschuhe | Turnschuhe
Skechers Damen Sneaker GAMMA Weiß - Memory Foam Sohle - Maschinenwaschbar
FILA Sneakers Damen Freizeitschuhe Turnschuhe Gr . DE 39 kein Etikett ... #bd 74c92
Sneaker Fila Mid Cut By Leni Klum Gr . 40
Limtied edition Converse x J.w Anderson Black Hi 160307C 38 39,5 43
Adidas GAZELLE BB5476 Herren Turnschuhe Sneaker Schwarz Leder Originals Gr 42-46
HUGO Herren Sneaker Zero Tenn Schnürung Leder Low Logo Farbwahl 41-46
LI-NING C324 - Turnschuhe / Laufschuhe / Sportschuhe - Größe : EUR 37 / UK 4 NEU
Herren Damen Sneaker Low Turnschuhe Bequeme Freizeitschuhe 830748 Trendy Neu
Columbia Trailstorm BM0156400 Wasserdichte Wanderschuhe Turnschuhe Schuhe Herren
NEW Air Jordan 1 Mid Light Smoke Grey Men Size 38-46 2020 New In Box 554724 092
Superga Shoes Sneakers Woman 2843 CLUB S STUDS Tennis sport Low Cut
ON Running Cloud 5 Damen Sneaker Schwarz 59.98905 Sport Schuhe Laufschuhe NEU
Adidas Vespa Sneaker -- grau / grün -- US 10,5 / UK10 -- gebraucht guter Zustand -- KULT !
Nike Air Max White Turquoise EU Größe 46 - Sammlerstücke Used Gay Sniff
HERREN SCHUHE SNEAKERS HOKA ONE ONE MS BONDI 7 [ 1110518 POFS ]
Womens Men Adidas Courtvantage PK Primeknit Neu Superstar Gr : 40 S80431
adidas Originals ZX 8000 Aqua Sneaker , Sportschuhe , Turnschuhe , Gr . 43 1/3 , EG8784
Asics GEL-LYTE III 3 | H305N Lakers ( 2013 ) Purple Yellow White | EU 40,5 - US 8
Candice Cooper Damen Sportschuhe Sneakers , weiss , Gr . 39 , Leder
Herren Sportschuhe New Balance [ GM500TRT ] neu
New Balance 574 Herren-Schuhe Sneaker Leder
Vintage Adidas Marathon 80 UK 7.5 US 8.5 EU 41 1/3 Made in West Germany Bayer
Adidas FA Experiment 2 FY3931 Gr . wählbar Neu & OVP FY3931 242R
Nike MC Trainer Herren Fitnessschuhe Sneaker CU3580 001
Boxfresh Sneaker Men CEZA SH PGSDE Kha Blk Khaki
Puma Cell Valiant SL Herren Sneaker Schuhe Sportschuh 194073 ( Schwarz-Gelb 08 )
Converse Chucks All Star OX Größe 40 MAROON WEINROT M9691C NEU TOP
+ + + ORIGINAL NIKE AIR MAX 270 I WHITE I TOP I USED + + +
ECCO Terracruise LT Sneaker Damen schwarz 825773-51052
New Balance 574 Herren-Sneaker Low Leder Retro-Schuhe 2022 ML574TD2 Weiß / Grün
Puma Shuffle Perf Unisex Sneaker | Turnschuh | Sportschuh | Textil , Synthetik -
Adidas ZX 8000 Atmos G-SNK 4 46 2/3 Neu OVP Karton Germany Rot / Gelb / Schwarz
Nike Revolution 5 Laufschuhe Running Low Top Schuh Damen Schwarz BQ3207 002
getragene schuhe sammler
AF1 Shadow x Black & White handbemalt custom Sneaker personalisiert Schwarz
ALEJANDRO INGELMO ' Tron ' Sneakers mit Farbverlauf - Größe 43,5
Chekich CH251 Hell Sneakers | Herren Schuhe | Freizeit Sportschuhe | Turnschuhe
+ + + ORIGINAL NIKE AIR MAX 270 I WHITE I TOP I USED + + +
ADIDAS BOOST 45 1/3 USED DIRTY
Nike MD Runner Damen Sneaker Schuhe Leder Schwarz 749869 UK4 ,5 Gr .38 Neu OVP
C2886 sneaker uomo LANVIN VEGO scarpa nero multi stripes shoe man
Nike WMNS Air Max Light -- Metallic Silver -- EU :39 US :8 UK :5.5 Style : 354051-071
Adidas Terrex Voyager Slip Herren Outdoorschuhe Schuhe Sneaker Slipper Gr 42
ADIDAS ZX FLUX W BY9214 DAMEN LAUFEN SNEAKER TURNSCHUHE SPORT WEISS ROSA NEU
CONVERSE CHUCKS ALL STAR CTAS 70 HI EU 46.5 UK 12 schwarz blitze Fell 163788C
KAMO-GUTSU Schuh ART . TIFO 030 Yuma Giallo Gelb Herren Echtleder Sneaker
Joe Nimble Herren Barfusschuhe Barefoot Vibramsohle Sneaker - Gr .47 - schwarz
Timberland Ballard Gr 41 US 9,5 mit 2 cm integriertem Absatz Damen Schuhe 8336R
Jordan 1 Mid White Shadow
New Balance Pro Court Cup AB Black Grey Herren Schuhe Sneaker Schwarz Grau
Adidas EQT Equipment Support 1732 45 1/3 neu ZX8000
NIKE Herren LAUFSCHUH " Mens Revolution 5 " black / white
CAPRIUM Low-top Sneaker low-top Freizeit Schuhe Herren Halbschuhe Modell Luke
Laufschuhe Wasserschuhe Turnschuhe Barfußschuhe Running Schuhe Unisex Größe NEU
FILA Sneakers Damen Freizeitschuhe Turnschuhe Gr . DE 40 kein Etikett ... # 1b19aa5
Nike Sneaker Revolution blau Herrensneaker Schuhe Herren 819300 402
NEU Skechers Damenschuhe Schuhe Sportschuhe D ´ Lite Sneaker Halbschuhe Schnürer
Semler Damen Schuhe Ballerinas Freizeit Halbschuhe mokassin Leder Gr 38 Uk 5
Komfortable Basic Herren Sneakers Low Schnürschuhe Helle Sohle 810349 Schuhe
Vintage Adidas Marathon 80 UK 7.5 US 8.5 EU 41 1/3 Made in West Germany Bayer
Damen Sportschuhe New Balance [ WL574WOR ] neu
Nike Air Zoom Hyperfuse 2013 Basketball Sportschuhe Sneaker schwarz 615896 002
Asics Tiger Gel Lyte III White White 1191A251-100 Sneaker Shoes Schuhe Men
Puma Whirlwind Core / Puma Archiv / Puma Sportschuhe / grün / weiß / schwarz / 37589201
Msgm SPORTSCHUHE SNEAKER DAMEN 41
Damen Sneaker Wedges Schnürer Keilabsatz Strick Schuhe 838363 Trendy Neu
Herren Sneaker Sportschuhe Outdoor Jogging Laufschuhe Sommer Klett Schuhe Z306
FILA Sneakers Damen Freizeitschuhe Turnschuhe Gr . DE 37 kein Etikett ... #e 59b4d3
Asics Sneaker Onitsuka Tiger Fabre 74 Gr 36,5 Retro Weiss Grün HN846-0101
Timberland Herren A1PEQ Tidelands Deser Half Cab Chukka Sneaker Halbhoch Leder
NEU HERREN TREKKING SCHUHE WANDER SCHUHE FREIZEITSCHUHE SNEAKER GR . 47-50
ETNIES MARANA Black Brown Skaterschuh Fader [ 4101000403 590 ] Gr . 41 NEU OVP
nike air max 98 WMNS Weiß Gr 40,5 Sneaker Neu
Converse Chuck Taylor All Star Sneakers Schnürschuhe Damen Schuhe 132125C
Converse Chuck Taylor All Star CTAS OX High Unisex Schnürschuhe Sneaker Schwarz
Adidas Distancestar Herren Weiß Laufschuhe 2018 Neu Netz Sneakers B37498
Nike Shox Rivalry Wie neu ( Defekt ) - Gr . 46
Adidas Tubular Shadow Gr 43,5 / US 9,5 / 27,5 cm Artikel # AQ0939 brown white
Skechers Flex Appeal Sneaker | schwarz / gold | Memory Foam | Größe 43
EMERICA SHOES REYNOLDS 3 G6 VULC SNEAKER NEU BLACK WHITE GOLD US 7,5 EUR 40
Adidas Vespa Sneaker -- grau / grün -- US 10,5 / UK10 -- gebraucht guter Zustand -- KULT !
Skechers Sport Mens BOUNDER HYRIDGE Sportschuhe Herren Schwarz
Damen Sportschuhe Slip On Sneaker Fitness Schuhe Laufschuhe Comfy Trendy Neu
Art 721 Neon Turnschuhe Schuhe Sneaker Sportschuhe Neu Herren
Nike SB Dunk Low Heineken ( 2003 ) - EU44 US10 - OG None - Used
Damen Sportschuhe Strass Laufschuhe Strick Slip On Sneaker Schuhe Turnschuhe Gym
Damen Herren Freizeit Converse Chucks Taylor All Star Sneaker Schuhe Turnschuhe
NIKE W AIR MAX 90 SP CQ6639 001 DAMENSCHUHE SENEAKER SILBER
louis vuitton Schuhe Wie Neu ! Größe 38 1/2
Nike Air Jordan XXXI 31 " Space Jam " Black Anthracite 845037 002 US_9 Eur 42.5
ORIGINAL ADIDAS ZX 700 HD G55780 HERREN TURNSCHUHE SNEAKER FITNESS SPORT SCHWARZ
New Balance Classics Traditionnels ML373NAY Navy Marine Turnschuhe blau Suede
NIKE ROSHE ONE DMB BRIGHT CRIMSON LTD 37.5-42 NEU160 € rosheone rosherun free 5.0
Skechers Damen Ultra Flex 2.0 - LITE GROOVE Sneaker Sportschuhe 13350 Rosa
Payntr Herren Bodyline 263 All-Round Cricket Schuhe Weiß Sport Atmungsaktiv
NEU Converse JP Mid Gr . 44,5 Chucks Schuhe Jack Purcell BLACK Textil Sneaker TOP
MERRELL Agility Peak Taktische Armeeschuhe Kampfschuhe Schuhe Herren Neuheit
Josef Seibel Felix 01 Herren Sneaker , Obermaterial Leder , Wechselfußbett
Keen Highland Sneaker Mid Sunset Wheat Silver Birch Herren Schuhe Schnürschuhe
NEW BALANCE 990 HERRENSNEAKER MADE IN USA GR :43 NEU !!!
VANS Authentic Lo Pro Classic Sneaker Damen Schuhe Klassiker Tunschuhe
Herren SportschuheTurnschuhe Sport Schuhe Sneaker Neon Gr .41 - 47 Art.-Nr NA1686
adidas Originals NMD R1 Boost Herren Sneaker Schwarz FY5727 Sport Fitness Schuhe
Damen Plateau Sneaker Keilabsatz Schnürer Profil-Sohle Schuhe 901421 Mode
New Balance 574 Herren Sneaker low Freizeitschuh Halbschuh Leder Mesh Gummisohl
NEU SKECHERS Damen Sneakers Slip On Freizeitschuh BE-LIGHT - GOOD STORY Violett
NEU ONITSUKA TIGER MEXICO 66 SCHUHE Weiß / Blau / Rot DL408-0146 RETRO SNEAKER 36-45
Nike Dunk Low Lime Ice ( W ) - EU Größen 37.5-38 - Blitzversand -
ADIDAS Herren Volleyball-Schuh Gr . 43 1/3 " Performance Speedcourt " - NEU
Original BMW M Motorsport Schuhe PUMA Roma NEU
Etnies High Rise ODB LX Stevens / Sexton / Grenier / Walker Camouflage black Sneaker
Art 670 Neon Turnschuhe Airsoft Schuhe Sneaker Sportschuhe Neu Herren
New Balance ML574EGG Trainer - Grau
LI-NING C324 - Turnschuhe / Laufschuhe / Sportschuhe - Größe : EUR 37 / UK 4 NEU
Balenciaga Race runner Sneaker Damen Gr .40 Schuhe.Gebraucht aber gute Zustand .
Damen Herren Sneakers Sportschuhe Stoffschuhe 71191 Schuhe Trendy Neu
Skechers Sport Damen FASHION FIT TRUE FEELS Sneakers Women Schwarz
Babolat Propulse Blast AC , schwarz / rot , Herren Tennisschuhe , Tipp für Freizeit
Neu SKECHERS Skech-air Edge Brite Times Slip-On-Sneaker 13328912 für Damen
Adidas Originals Superstar Foundation Schuhe Sneaker Unisex B27140 Schwarz
Ecco Schuhe MX schwarz Herrenschuhe sportliche Halbschuhe 82019451052 NEU
REEBOK ROYAL TECHQUE T CE Turnschuhe Freizeitschuhe Herren H67907
Nike Air Jordan 1 Mid White Racer Blue ( GS ) | NEU ✅ | OVP ✅ | GEWERBLICH ✅ |
ETNIES Marana XT Skaterschuh RVM Navy White [ 4101000454 472 ] NEU OVP
Damen Herren AIR FORCE 1 '07 Weiß Sneaker Sportschuhe Leder Turnschuhe 36-45 NEU
Keds Champion CVO , Damen Sneakers , Grau ( Grey / 80 ) , 38 EU , UK 5
Asics Onitsuka Tiger Lawnship black / white Sneaker / Schuhe
Reebok Classic Leather Ultralite Leder Herrenschuhe Herren Sneaker NEU J86401
Skechers Empire D ´ Lux - LIVELY WIND Damen Sneaker Sportschuhe 12824 Grau
Nike Air Jordan 1 Mid Dark Teal | Armory Navy GS | 554725-411
Neu adidas Ultraboost BB4145 Grau Gelb Weiß Atr Limitierte Auflage Herren Schuhe
Damen Laufschuhe Sportschuhe Turnschuhe Sneakers Schuhe Gr .36 - 46 Art.-Nr .1617
Vans Checkerboard Classic Slip-On Damen Sneaker Größe 42
PUMA Porsche Design SPEEDCAT X | NEU | Gr . 43 / 9
Camp David Leder Schnürboots Neu Boots Sneaker Schnürschuh Gr .46 NP 119,95
Skechers Ultra Flex CAPSULE Damen Sneaker Fitnessschuhe Air Cooled 12840 NAT
NIKE Flex 2018 RN ( AA7397 009 ) Schwarz Sneakers Men Trainers NEU OVP
Bugatti Trainers Herren Sneaker Halbschuhe Schnürschuhe Freizeit 333-21303-3500
Adidas Originals SUPERSTAR J EF5398 Damen Schuhe Schwarz Sneaker Turnschuhe
DC Shoes Tonik Herren Sneaker | Turnschuh | Sportschuh | Leder - NEU
Damen Sneakers High Top Kult Sportschuhe Schnürer 72104 Schuhe
Damen - / Kinder-Sportschuh mit Schnürung schwarz / weiß , B428373
Sneaker , Clubshoe , Clubschuh , Freizeitschuh , Conteyner , schwarz , dunkelbraun
Nike Air Max Plus TN EUR GR .43 Schwarz Neu Herren Schuhe Sneaker Sport
Herren Schuhe adidas TERREX TWO BOA EF2135
Puma Smash v2 Sportschuhe in Übergrößen Blau 364989 04 große Herrenschuhe
NIKE DUNK HIGH UNIVERSITY BLUE 2004 UNC BNIB TRAVIS OFF WHITE 44 US 10 JORDAN 1
Adidas Damen Sneaker Retrorun EH1859 Running Shoes Freizeit Schuhe Schwarz
Fila Fxventuno L Low Wmn Damen Sneaker | Turnschuh | Sportschuh | Leder - NEU
Damen Schuhe Sneaker Weiß Weiss Plateau Glitzer Sportschuhe Freizeit Turnschuhe
Nike Air Jordan 1 Mid GS | Triple White | Weiß | 36,5 - 37,5 - 38 - 38,5
Art 121 Neon Turnschuhe Schuhe Sneaker Sportschuhe Neu Herren
Puma Shuffle Perf Unisex Sneaker | Turnschuh | Sportschuh | Textil , Synthetik -
Damen Herren Sneakers Low Cut Canvas Schuhe Basic Schnürer 811545 Trendy Neu
LACOSTE L.ight 216 1 Spw Black [ GR . 37 38 39 39,5 40 ] DAMEN SNEAKER SCHWARZ NEU
New Balance MW411 BK black Schuhe / Walking-Schuhe Größenauswahl !
Unisex Freien watendeschuhe Tauchenschwimmen Schuhe Wandern Strand Wasserschuhe
Adidas ZX 8000 GOLF 2020 Aqua FX0761 ZX8000 BOOST US 12,5 UK 12 EUR 47 1/3 J300
Petrolio Herren Schuhe Sneaker Freizeitschuh Schnürschuhe Leder Grau
Adidas Originals Herren Sneaker LA Trainer , Nizza , Schwarz , 40 2/3 , Neu
MARCCAIN Sneaker Low Schnürschuhe Freizeitschuh dunkelblau Gr . 36 / 37 / 40
British Knights Roco Unisex Sneaker | Turnschuh | Sportschuh | Canvas - NEU
adidas Gazelle og multicolor M19657 originals camo sneakers
Ecco WAYFLY Herrensneaker Freizeitschuhe Leder Navy Blau Gr : wählbar neu in kart
Adidas High Top Sneaker 424 Turnschuhe Superstar Allround
Nike Air Jordan Mars 270 Basketballschuhe Neu Gr . 44,5 ( CD7070-100 )
Puma ST Runner v2 NL Sneaker Unisex Turnschuh Schwarz 365278 33
Adidas Gr . 37 Superstar Girl Sammler & Liebhaber ❤ Oft Getragen
Skechers Men 's USA Street Wear BULGER NICKSON SNEAKERS Men schwarz
adidas NMD R2 Damen Schuhe Freizeit Sneaker BY9315 rosa / weiss
MARCCAIN Sneaker Low Schnürschuhe Freizeitschuh weiß Gr . 36
Fila Disruptor S Low Purple White Suede Lace Up Womens Trainers 1010605 71Q B15D
Herren Sneaker Knöchelschuhe NEU High Top Basketballschuhe Sneaker Gr.41-46 2627
adidas Alphabounce RC W , EQT Racing 91 W , Tubular Doom Primeknit M , EUR 36 - 47 1/3
Nike Air Force 1 Supreme Black EU 44.5 | US 10.5
Herren Laufschuhe Atmungsaktiv Sports Freizeitschuhe Sockenschuhe Gr . 39-44
New Balance Herren-Sneaker Low ML 574 AB2 Sport-Schuhe Turnschuhe Freizeit Blau
Herren Hallenschuhe Turnschuhe Sneaker Schnürer Sportschuhe Schwarz Grün 17929
adidas Daily 3.0 Herren Sneaker Turnschuhe Sportschuhe FW7439
adidas Performance Crazychaos Sneaker Freizeitschuhe Schuhe Damen
Lyle & Scott Shankly Mid Black Leather Lace Up Mens Trainers FW1212 572
Herren Laufschuhe Stricken Atmungsaktiv Sportschuhe Sneaker Turnschuhe Freizeit
Kappa " Racer " Unisex Sneaker Schnürschuhe Gr . 37 Schwarz / Rot 241110 / 1120
adidas Continental Vulc Schuhe Erwachsene
Converse CTAS Lugged Hi Unisex Hi-Top Sneaker 565902C Weiß
Nike Ebernon Low Herren Sneaker Größe Eur 40.5 Weiß Leder / Textil - Neu - AQ1775
Lacoste Carnaby Evo BL Weiss 741SFA00351Y9 Damen Fashion Sneaker Freizeit Schuhe
REPLAY Stille 901 Herren Sneaker Schuhe Freizeit Halbschuhe mokassin Gr 43
adidas Kaptir Super Sneaker Freizeitschuhe Fitnessshuhe Herrenschuhe FZ2870
Rieker 19650-40 Herren Schnürschuh , Grau Leinen
adidas Superstar 80s Recon " Home of Classics " Retro Sneaker Schuhe EE7392
Nike Damen Freizeitschuhe Venture Runner CK2948-001 in Schwarz
MJUS Damen Sneaker Freizeitschuhe Schnürschuhe Comfortschuhe Mehrfarbig Gr . 39
Puma Smash v2 Herren Schuhe Sneaker Turnschuhe 364989 ( Grau 32 )
Nike Air Max 1 Premium 875844 700 gold / yellow 38/40/42 / 46 OG / 87/90/93 / 95/97/98
ON Running Cloud Herren Sport Freizeit Schuhe 19.0000 Laufschuhe Turnschuhe NEU
Adidas Originals Superstar Damen Herren Sneaker Sportschuhe Klassiker
53707223-C adidas Performance " X9000L4 BOOST PRIMEGREEN " Laufschuhe Gr . 42 * NEU *
Asics Gel Noosa TRI 11 Herrenlaufschuhe Running ( 1011A631-001 ) Größe 44 neu in
Skechers Flex Advantage 2.0 Sneaker Turnschuhe Schuhe 52185 ( Blau-DKNV )
Adidas Damen Sportschuhe Sneaker EUR 38 2/3 Nr . 22-J-6098
Lacoste Carnaby EVO 0120 Herren Sneaker Weiß 7-40SMA0003042 Freizeit Schuhe NEU
Emerica Wino Cruiser black white green Sneaker Schuhe schwarz
Bugatti CUNIO Herrenschuhe - sportliche Halbschuhe - Schnürschuhe braun NEU
Puma Ralph Sampson 70 Mid Archive Herren Sneaker Leder Weiß 374961-03 Schuhe NEU
Herren Sportschuhe Puma St Runner v2 [ 365279 20 ] neu
Emerica The Leo Skater Schuhe / Sneaker black / brown Größenauswahl
Clarks Un Globe Herren Freizeit Mode Sneaker OrthoLite Schuhe 261496887 blau neu
New Balance CM997HVM blau / rot / gelb , Herren Sneaker , NEU im Karton
adidas 90s Valasion Sneaker Turnschuhe Freizeitschuhe Sport EG2882 Gr . 41 1/3
Schuhe Frau adidas Grand Court Sportschuhe Gymnastik Niedrig Licht Fitness
Adidas Damen Sneaker Flashback PK EasGrn / EasGrn / FtwWht BY2793
Converse Herren Unisex Chucks Sneaker Boots 70 Hi natur Gr .41
Ash Platform Sneaker 38 Schwarz
Art 721 Neon Turnschuhe Schuhe Sneaker Sportschuhe Neu Herren
Nike Air Jordan 1 Low " UNC " GS - NEU - KOSTENLOSER Versand in Deutschland
Adidas Adiprene Plus Training Sneaker Turnschuhe Blau Gr . 44
Vans SK8-HI Slim ( Della ) batik / red Sneaker / Schuhe QG3AWF rot
Adidas Originals ZX Flux Techfit Sneaker Damen Schuhe Turnschuhe schwarz S75488
Puma ST Runner v2 Full L Herren Schuhe Sneaker Turnschuhe 365277 ( Weiß 09 )
Yellow Cab MUD 302 b Sneakers Canvas Low Top Sneaker Herren Schuh
Lowa Innox EVO GTX Lo Ws All Terrain Sport Trekkingschuhe navy mint Gore-Tex
Nike Air Max 2090 schwarz blau cv8835-400 Größe 44 NEU UK9 US10 CM28
Skechers Equalizer Double Play Herren Slipper Mokassin Slip On CCOR
asics x beams Gel-MAI G-TX Goretex asicstiger H8P0Q-0279 birch / dark forest CAMO
Damen Sportschuhe Adidas Superstar Bold [ FW8423 ] lackiert Neu
H.I.S Herren Schuhe Sneaker Freizeitschuh Schnürschuhe Blau
Fila Damen Hyperwalker Low WMNS Weißer Synthetik / Textil Sneaker
NEU SKECHERS Herren Sneakers GO WALK ARCH FIT-IDYLLIC Sportschuhe Freizeit Grau
ASICS Schuh Mexico 66 ONITSUKA TIGER 1182A104 100 WHITE / BREEZE Reduziert ! NEU
Nike Roshe Two Flyknit Sneakerboot Stiefel Winterstiefel 861708-400 Damen Blau
NIKE Air Max SPAN TXT FB Neu Gr :43 US :10 90 95 97 Skyline Command Sneaker New
NEU ADIDAS ZX FLUX J BY9830 DAMEN SNEAKERS TURNSCHUHE SPORT WEISS MELANGE GRAU
Herren Luftpolster Laufschuhe Jogging Fitness Tennis Workout Bequem Mode Sneaker
Lico Sportschuhe Nelson V Herrenschuhe Übergrößen Schwarz
Adidas PulseBoost HD X Missoni Laufschuhe Sneaker Turnschuhe Schuhe EF7548 NEU
Skechers Bobs Sport Squad - Tough Talk Damen Schuhe Sneaker 32504 ( Weiß-WHT )
Skechers Summits Damen Schuhe Sneaker Turnschuhe 12980 ( Schwarz-BKW )
Puma Smash v2 Mid WTR Unisex Sneaker Schuh schwarz gefüttert 366810 01
orig . Luxus Sneaker Louis Vuitton Klettverschluss Leder silber monogramm NP 620 €

In [108]:
test_data

[('Mizuno Wave Stealth Herren Halbschuh Laufschuh Sportschuh Mehrfarbig Gr . 48,5',
  {'entities': [(58, 68, 'No Tag')]}),
 ('adidas Daily 3.0 Herren Sneaker Turnschuhe Sportschuhe H04569',
  {'entities': [(0, 6, 'Marke')]}),
 ('adidas Originals SL80 A SPZL , Sneaker Orange , Gr . 44 , F35877',
  {'entities': [(17, 28, 'Modell')]}),
 ('Onitsuka Tiger Mexico 66 Damen Leder Gelb Schwarz Turnschuhes EU Große 36 - 42',
  {'entities': [(76, 78, 'EU-Schuhgröße')]}),
 ('Baabuk Sky Wooler Sneaker Black Edition Merino Schurwolle Wolle Eco friendly',
  {'entities': [(64, 76, 'Besonderheiten')]}),
 ('Candice Cooper Sneaker , hightop , bunt , Leder & Stoff , Damen , Gr . 38',
  {'entities': [(15, 22, 'Stil')]}),
 ('adidas Originals ZX 500 RM Boost - Snake - BD7873 Herren Sneaker Turnschuhe NEU',
  {'entities': [(27, 32, 'Produktlinie')]}),
 ('ASICS GEL-LYTE V SANZE KNIT ( GRAU ) Gr . 41,5',
  {'entities': [(15, 22, 'Modell')]}),
 ('Neu 2021 AJ4 Lila-rot Freizeitsportschuhe Metallic ( CT8527-114 )',
  {'entities': [(22, 41, 'Produktart')]}),
 ('Nike Dunk Low Light Smoke Grey ( W ) - EU37 .5 US6 .5 W - Neu | Händler',
  {'entities': [(62, 63, 'No Tag')]}),
 ('adidas Originals F / 1.3 F / 1.4 PK Primeknit Men Sneaker Herren Schuhe',
  {'entities': [(33, 35, 'Produktlinie')]}),
 ('Herren Damen Sneaker Outdoor Wanderschuhe Trekkingschuhe Freizeitschuhe 51989',
  {'entities': [(0, 12, 'Abteilung')]}),
 ('ASICS Damen Gel Kayano 23 Tokyo Laufschuhe Mandarine Rot Größe 5.5 US Neu',
  {'entities': [(16, 31, 'Modell')]}),
 ('Skechers Sportschuh Flex Advantage 3.0 - Stally Schwarz Textil Normal Herren',
  {'entities': [(56, 62, 'Obermaterial')]}),
 ('Nike Air Max VG-R Herren Sneaker Schwarz CK7583-001 Sport Fitness Freizeit Schuh',
  {'entities': [(25, 32, 'Stil')]}),
 ('YLATI REPTILIENHAUT STYLE SNEAKERS , Gr . 45 !!',
  {'entities': [(6, 19, 'Muster')]}),
 ('Högl Sneakers Gr . 5,5 / 38,5 NEUWERTIG super bequem - Luxus für die Füße hoher NP',
  {'entities': [(65, 68, 'No Tag')]}),
 ('asics Gel Luminus 3 Herren Men Laufschuhe Running Sample Gr . 42,5 US 9',
  {'entities': [(50, 56, 'No Tag')]}),
 ("Levi ' s Damen Sneaker Schuhe Damenschuhe Turnschuhe Damensneaker Leder Mullet",
  {'entities': [(30, 41, 'Abteilung')]}),
 ('Sneaker für Herren und Damen Laufschuhe Freizeitschuhe tn Plus 3 Sneaker',
  {'entities': [(23, 28, 'Abteilung')]}),
 ('Nike Dunk High Championship Navy GS Sneaker DB2179-104 NEU Damenschuhe',
  {'entities': [(15, 27, 'Modell')]}),
 ('LICO Freizeit Trekking Wandern " SIERRA " schwarz / lemon Gr . 40 - 47',
  {'entities': [(40, 41, 'No Tag')]}),
 ('DIRK BIKKEMBERGS Sneakers FILLER DBR 836 Shoes Herren Schuhe Leder Gr .42 NEU',
  {'entities': [(74, 77, 'No Tag')]}),
 ('adidas Originals ZX 1K Boost Sneaker Freizeitschuhe Schuhe Herren Weiß FX6510',
  {'entities': [(37, 58, 'Produktart')]}),
 ('Neu 2021 AJ4 Lila-rot Freizeitsportschuhe Metallic ( CT8527-114 )',
  {'entities': [(64, 65, 'No Tag')]}),
 ('La Strada 1902517 Sneaker Knitted Blue Schuhe Sneaker Navy Blau',
  {'entities': [(34, 38, 'Farbe')]}),
 ('Puma X Trapster Cell Bubble white Sneaker / Schuhe weiß 364687 01',
  {'entities': [(21, 27, 'Modell')]}),
 ('Ecco Biom Hybrid Damen Walkingschuhe Gr :37 ( 835503 ) neu in karton',
  {'entities': [(0, 4, 'Marke')]}),
 ('Buffalo London 1348-14 Plateau Boots High Gr . 41 beige Neu in OVP',
  {'entities': [(63, 66, 'No Tag')]}),
 ('La Martina Scarpa Uomo Todi Herren Sneaker Schnürschuh Lfm201 Braun Neu',
  {'entities': [(62, 67, 'Farbe')]}),
 ('New Balance WL420 DFC Damen Schuhe Sneaker Turnschuhe schwarz Gr . 37',
  {'entities': [(54, 61, 'Farbe')]}),
 ('Vintage Adidas Stiefel / Bergstiefel / Bergschuhe / Wanderstiefel - 80er Jahre',
  {'entities': [(25, 36, 'Produktart')]}),
 ('Polo Ralph Lauren Herren Slipper Mokassins Braun Gr : wählbar neu in Karton',
  {'entities': [(0, 17, 'Marke')]}),
 ('Asics Gel Kayano 5 OG Sneaker Lauf Halb Schuhe Turnschuhe GR 46 Uk 10 1/2',
  {'entities': [(58, 60, 'No Tag')]}),
 ('Vans Filmore Decon Damen Sneaker Schnürer Halbschuh Freizeit Skater Schuh rot',
  {'entities': [(42, 51, 'Produktart')]}),
 ('Adidas ZX 8000 A-ZX Atmos G-SNK FX 8593 Gr 45 1/3 US 10,5 UK 10 neu und ovp',
  {'entities': [(64, 67, 'No Tag')]}),
 ('Giesswein Herrenschuhe Freizeitschuhe Schnürer Grau',
  {'entities': [(47, 51, 'Farbe')]}),
 ('Neu SKECHERS Flex Appeal 4.0 Fresh Move Sneakers Low 20932230 für Damen',
  {'entities': [(53, 61, 'Herstellernummer')]}),
 ('Fred Perry Vintage Tennis Canvas B4249 Schwarz Textil Turnschuhe Black Schuhe',
  {'entities': [(65, 70, 'Farbe')]}),
 ('892763 Damen Sportschuhe Runners Laufschuhe Profilsohle Sneakers Mode',
  {'entities': [(65, 69, 'No Tag')]}),
 ('Damen Sneaker Gym Strick Sportschuhe Laufschuhe Turnschuhe Sockenschuhe Slip On',
  {'entities': [(14, 17, 'Anlass')]}),
 ('Reebok Classic GL 6000 Mid SG High top sneaker winter herren schuhe',
  {'entities': [(54, 60, 'Abteilung')]}),
 ('Nike Air Jordan 1 Mid SE ASW All Star Weekend Fiber Schwarz Weiß Sneaker',
  {'entities': [(52, 64, 'Farbe')]}),
 ('Nike Air Jordan 1 Mid GS Smoke Grey | Verschiedene Größen | New & DSWT ✔',
  {'entities': [(22, 24, 'Abteilung')]}),
 ('Grüne Nike Schuhe kaum getragen .', {'entities': [(32, 33, 'No Tag')]}),
 ('adidas Originals Stan Smith Recon Damen Herren Leder Sneaker Schuhe EF4974 neu',
  {'entities': [(61, 67, 'Produktart')]}),
 ('Skechers Bobs Squad Glowrider Damenschuhe Sportschuhe Gr . 36',
  {'entities': [(20, 29, 'Modell')]}),
 ('Neu Herren Trekkingschuhe Wanderschuhe Outdoor Halbschuhe 2152 Schuhe Gr . 41-46',
  {'entities': [(73, 74, 'No Tag')]}),
 ('VANS Old Skool / DX Unisex Sneakers versch . Farben und Größen . NEU !',
  {'entities': [(20, 26, 'Abteilung')]}),
 ('Keen Wanderschuh Schuh VERSATRAIL WATERPROOF Gr . 40-48',
  {'entities': [(45, 47, 'No Tag')]}),
 ('NIKE Air Max 1 GPX 39 Jungle Pack claSsic thea 90 bW light rOsHe Run 684174 400',
  {'entities': [(42, 46, 'No Tag')]}),
 ('NEU Converse All Star Gemma Hi W 41 Chuck Taylor Sneaker Chucks Schuhe 554431C',
  {'entities': [(31, 32, 'Abteilung')]}),
 ('KEEN Schnürschuh Ridge Flex Mid WP 1024916 magnet / black ( grau ) NEU',
  {'entities': [(50, 51, 'No Tag')]}),
 ('Reebok Damen Freizeitschuh Royal Ultra SL jeans / blau ( BD5612 )',
  {'entities': [(48, 49, 'No Tag')]}),
 ('moderne Damen Freizeitschuhe Leinen Schuhe Stoffschuhe Turnschuhe Sneakers 36-41',
  {'entities': [(36, 65, 'Produktart')]}),
 ('Nike Blazer Mid 77 Vintage Brick Red Sneaker Schuhe BQ6806-102 Gr . 49.5 ( US 15 )',
  {'entities': [(12, 15, 'Schuhschaft-Typ')]}),
 ('Skechers Relaxed Fit : Equalizer 3.0 Herren Schuhe Sneaker 52927 ( Schwarz-BKGY )',
  {'entities': [(9, 20, 'Produktlinie')]}),
 ('Fila Herren Mastermind Heritage Komfort Schuhe Turnschuhe Sneaker Schnürung Weiß',
  {'entities': [(0, 4, 'Marke')]}),
 ('NEU KangaROOS Kaishu Damenschuhe Halbschuhe Sneaker Sportschuhe Schnürschuhe k4',
  {'entities': [(21, 32, 'Abteilung')]}),
 ('NEU Nike Zoom Hyperfuse 2011 Herren Sneaker Größe 41 Boots Schuhe 454136 TOP',
  {'entities': [(29, 35, 'Abteilung')]}),
 ('Trendy Damen Sneaker Turnschuhe Schnürer Halb Schuhe Beige Leopard Zebra Blau',
  {'entities': [(21, 31, 'Produktart')]}),
 ('ADIDAS ULTRA 4D PACKER " DEEP BLUE " FY4363 new in box US 13 UK 12,5 EUR 48 J 310',
  {'entities': [(25, 34, 'Farbe')]}),
 ('adidas Alphabounce RC W , EQT Racing 91 W , Tubular Doom Primeknit M , EUR 36 - 47 1/3',
  {'entities': [(80, 86, 'EU-Schuhgröße')]}),
 ('Diadora Sneakers Sport Shoes Schuhe Spiel P GS Damen Junge Blau Rot',
  {'entities': [(17, 22, 'Anlass')]}),
 ('Reebok Astroride Trail GTX 2.0 WS Sneaker Walking Trekking Gore-Tex schwarz',
  {'entities': [(68, 75, 'Farbe')]}),
 ('Camel Active Viceroy Herren Halbschuhe Schnürschuhe Sneaker Leder 23233237 C005',
  {'entities': [(28, 51, 'Produktart')]}),
 ('Skechers Sneaker SKECH-AIR ELEMENT 2.0 LOMARC Herrenschuhe Übergrößen Weiß',
  {'entities': [(46, 58, 'Abteilung')]}),
 ('WODEN Sneaker NORA III blau Ice Blue Echtleder Textil Damen Schuhe WL166-522',
  {'entities': [(0, 5, 'Marke')]}),
 ('adidas Core 8K 2020 dunkelblau / weiß - Herren FY8039',
  {'entities': [(20, 30, 'Farbe')]}),
 ('NEW Nike Air Presto X Off White The Ten 100 % AUTHENTIC W. INVOICE !!! Very Rare',
  {'entities': [(56, 58, 'No Tag')]}),
 ('Dunlop Front Trainer Crack Oil Wax Leather Unisex Sneaker 05180012b weiß-blau',
  {'entities': [(27, 42, 'Obermaterial')]}),
 ('Adidas Springblade Solyce Laufschuhe Sneaker Turnschuhe AF6800 Gr . 41 43 44 NEU',
  {'entities': [(7, 25, 'Modell')]}),
 ('Bundeswehr Sportschuhe Laufschuhe BW Turnschuhe Schuhe Geländeschuhe Schwarz',
  {'entities': [(37, 68, 'Produktart')]}),
 ('Damen Sneaker Bequeme Basic Freizeit Schuhe Turnschuh Schnürer 823103 Trendy Neu',
  {'entities': [(6, 13, 'Stil')]}),
 ("Damen Plateau Sneakers Sportschuhe 90 's Style 73105 Schuhe",
  {'entities': [(38, 40, 'Thema')]}),
 ('HERREN SCHUHE SNEAKERS NEW BALANCE [ ML574LX2 ]',
  {'entities': [(23, 34, 'Marke')]}),
 ('NIKE SB DUNK LOW PREMIUM WP MEDICOM GORE-TEX 9,5 8,5 43 bearbrick grey off-white',
  {'entities': [(53, 55, 'EU-Schuhgröße')]}),
 ('Natural World Schuhe 6302E 622 Kaki enz Grün Baumwolle Waschbar Damen Halbschuhe',
  {'entities': [(31, 44, 'Farbe')]}),
 ('LEVIS Herren Sneaker PILLSBURY Turnschuhe Stoff Logo 41-46',
  {'entities': [(31, 41, 'Produktart')]}),
 ('Puma Ignite Dual Nylon Trainers 189094-03 Black / White UK10 / US11 / EU44 .5',
  {'entities': [(61, 62, 'No Tag')]}),
 ('Nike Jordan 1 Low Light Smoke Grey Weiß Gym Red ( 2021 ) | NEU & UNGETRAGEN ✅',
  {'entities': [(18, 39, 'Farbe')]}),
 ('Schuhe Turnschuh Gr . 40 Rot Schnürschuh Leicht Top Damen Herren Stoff @ Snaker',
  {'entities': [(17, 19, 'No Tag')]}),
 ('Sneaker Herren 45 , großes Paket , 15 Paar , Nike , Adidas , Puma , Fila , Guess usw .',
  {'entities': [(38, 42, 'No Tag')]}),
 ('Etnies Lo-cut Ii Ls Herren Grey Black Sneaker Beilaufig - 42 EU',
  {'entities': [(20, 26, 'Abteilung')]}),
 ('Prada Original Sneaker Schuhe 7,5 Herrenschuhe 41 Wildleder Beige Velour * K',
  {'entities': [(34, 46, 'Abteilung')]}),
 ('ASICS Onitsuka Tiger MEXICO 66 Slip On Damen Freizeit Sneaker Weiß / Sienna Gr . 42',
  {'entities': [(81, 83, 'EU-Schuhgröße')]}),
 ('Damen Laufschuhe Strick Sportschuhe Ftiness Sneaker Schnürer 901440',
  {'entities': [(6, 16, 'Produktart')]}),
 ('PUMA Suede Classic Cat Herren Sneaker Turnschuhe Blau Blue Gr . 40 - 41 NEU',
  {'entities': [(67, 68, 'No Tag')]}),
 ('Zeha Berlin Carl Häßner Liga schwarz Schuhe Sneaker Rennrad Singlespeed Fixi',
  {'entities': [(24, 28, 'Modell')]}),
 ('NIKE JORDAN ZOOM 92 CK9183 101 SNEAKER HERRENSCHUHE',
  {'entities': [(20, 30, 'Herstellernummer')]}),
 ('Neu 2022 Old Skool Schwarz Blau Unisex Sneaker Skate viele Farben Gr .35 - 44',
  {'entities': [(75, 77, 'EU-Schuhgröße')]}),
 ('adidas Originals ZX 8000 Aqua Herren Sneaker , Sportschuhe , Turnschuhe , Gr . 40',
  {'entities': [(0, 6, 'Marke')]}),
 ('Vintage Adidas Marathon 80 UK 7.5 US 8.5 EU 41 1/3 Made in West Germany Bayer',
  {'entities': [(51, 55, 'No Tag')]}),
 ('adidas FLUIDFLOW SCHUH - vielseitiger Herren Laufschuhe EG3667 / EG3661 grau + oliv',
  {'entities': [(23, 24, 'No Tag')]}),
 ('Tamaris Schnürschuhe Sneakers Halbschuhe rose NEU !',
  {'entities': [(8, 20, 'Produktart')]}),
 ('Nike Air Max 97 Gr .42 Sneaker Schuhe Running grau CI6392 001 Herren Sport',
  {'entities': [(46, 50, 'Farbe')]}),
 ('Nike Air Presto SE WMNS Lila Grau Weiß Gr . 36,5 UK 3,5 NEU',
  {'entities': [(42, 43, 'No Tag')]}),
 ("Nike Air Force 1 '07 White Black DH7561-102",
  {'entities': [(21, 32, 'Farbe')]}),
 ('PUMA Sky LX Low Rudolf Dassler Legacy Echtleder-Sneaker zeitlose Herren Low Top',
  {'entities': [(0, 4, 'Marke')]}),
 ('TOM FORD James Leather Suede Low Top Trainers Sneakers Schuhe Iconic Shoes 42',
  {'entities': [(62, 68, 'Modell')]}),
 ('HERREN ADIDAS SNEAKER SCHUH SPORTSCHUH WEISS VS PACE AW4594 Gr . 42 2/3 NEU',
  {'entities': [(72, 75, 'No Tag')]}),
 ('Adidas Runfalcon 2.0 Turnschuhe Laufen Für Frau Schwarz GW6251',
  {'entities': [(48, 55, 'Farbe')]}),
 ('Adidas Honey Slipper black1 / purpur / neopur Sneaker / Schuhe',
  {'entities': [(7, 12, 'Modell')]}),
 ('ADIDAS UltraBoost 5.0 DNA Beige Sneaker GR . 42 , 44 US 8.5 , 10 NEU & OVP FZ1851',
  {'entities': [(53, 59, 'US-Schuhgröße')]}),
 ('Nike SB Dunk High black safari atomic red gr . 45 UK10 305050 066',
  {'entities': [(42, 44, 'No Tag')]}),
 ('adidas Falcon W gr 39 40 42,5 43 B28128 Retro Style yung 1',
  {'entities': [(0, 6, 'Marke')]}),
 ('GANT Bevinda Damen Sneaker Turnschuhe Halbschuhe Schuhe 20538481 G69 Gr . 39',
  {'entities': [(13, 18, 'Abteilung')]}),
 ('Puma Easy Rider II Sneaker Herren Freizeit Schuhe weiß blau 381026-03',
  {'entities': [(60, 69, 'Herstellernummer')]}),
 ('Nike WMNS Kaishi NS Sneaker DamenBlau Turnschuhe 747495-442 | NEU',
  {'entities': [(20, 27, 'Stil')]}),
 ('Nike Atsuma Gr .42 weiß schwarz CD5461 100 Herren Schuhe Turnschuhe Sneaker',
  {'entities': [(12, 14, 'No Tag')]}),
 ('LOWA Stiefelette Outdoor Boots Renegade GTX MID Ws 320945 9789 graphit / rose',
  {'entities': [(51, 62, 'Herstellernummer')]}),
 ('Keen Damen Ridge Flex Wasserdicht Waking Schuhe Braun Sport Outdoor Wandern',
  {'entities': [(0, 4, 'Marke')]}),
 ('Skechers Ultra Flex CAPSULE Damen Sneaker Fitnessschuhe Air Cooled 12840 NAT',
  {'entities': [(28, 33, 'Abteilung')]}),
 ('Puma X Trapster Cell Bubble white Sneaker / Schuhe weiß 364687 01',
  {'entities': [(28, 33, 'Farbe')]}),
 ('New Balance Sportschuhe [ MRL247DM ]', {'entities': [(35, 36, 'No Tag')]}),
 ('Adidas Originals ZX Flux ADV Super Lite Sneaker Turnschuhe S76554 Gr 39 - 45 NEU',
  {'entities': [(72, 73, 'No Tag')]}),
 ('Damen Scandi Sportschuhe Runners Freizeitschuhe Turnschuhe Turn High Hell Blau',
  {'entities': [(48, 52, 'Aktivität')]}),
 ('Nike Air Jordan 1 Mid White Racer Blue ( GS ) | NEU ✅ | OVP ✅ | GEWERBLICH ✅ |',
  {'entities': [(48, 51, 'No Tag')]}),
 ('Mustang Damen Schuhe Sneaker Schnürer Turnschuhe Halbschuhe Stoff 1099-302 ( 2 )',
  {'entities': [(79, 80, 'No Tag')]}),
 ('Knack 040 Modische Sneakers Herren Schuhe Turnschuhe Sportschuhe Sport Schnürer',
  {'entities': [(0, 5, 'Marke')]}),
 ('Converse Damen Seasonal Color Platform CTAS Low Top Sneaker 566756C Pink',
  {'entities': [(24, 29, 'No Tag')]}),
 ('Sabelt Low Cut Shoes driving Granturismo Driving Woman',
  {'entities': [(29, 40, 'Modell')]}),
 ('Puma Tarrytown Corduroy chocolate brown / white swan Schuhe / Sneaker 356597 01',
  {'entities': [(24, 39, 'Farbe')]}),
 ('PUMA Schuhe ST RUNNER V2 Full White Herren Sneaker Gr .43 UK 9',
  {'entities': [(22, 24, 'Modell')]}),
 ('Converse Chucks All Star OX Größe 40 Red Rot M9696C Neu Mega angesagt',
  {'entities': [(28, 33, 'No Tag')]}),
 ('asics Jolt 3 1011B034-400', {'entities': [(6, 12, 'Modell')]}),
 ('Ecco Schnürschuhe Sneaker Exostride Men Lo GTX schwarz Yak Gore-Tex Leder',
  {'entities': [(40, 42, 'Schuhschaft-Typ')]}),
 ('Timberland Herren Schuhe Bradstreet Half Cab',
  {'entities': [(11, 17, 'Abteilung')]}),
 ('Under Armour UA Hovr Infinite Reflect Laufschuhe Running Bluetooth Damen Schuhe',
  {'entities': [(16, 37, 'Modell')]}),
 ('Neu Mädchen Jungen LED Sport Roller Heelys Schuhe Farbwechsel Sneaker Schuhe',
  {'entities': [(50, 61, 'Besonderheiten')]}),
 ('Gay Used Kroko Sneaker sexy Hot 42', {'entities': [(9, 14, 'Muster')]}),
 ('asics Gel - Venture 8 1011A824-004', {'entities': [(20, 21, 'Modell')]}),
 ('ECCO Soft 5 , Flexure , Aquet Damen Sneakers versch . Farben , Größen . NEU !',
  {'entities': [(22, 23, 'No Tag')]}),
 ('MUSTANG SHOES Damen 1313-303-18 Sneaker Halbschuhe Schnürsenkel Weiß Blau',
  {'entities': [(51, 63, 'Verschluss')]}),
 ('New Balance Herren Sneaker 373v2 black / white',
  {'entities': [(41, 46, 'Farbe')]}),
 ('* * adidas Original Ultra 4D 5.0 Carbon EU 42 - US 8,5 G58160 * *',
  {'entities': [(62, 63, 'No Tag')]}),
 ('ADIDAS ORIGINALS JEANS SCHUH', {'entities': [(23, 28, 'Produktart')]}),
 ('Puma Herrenschuhe Sneaker , Sportschuhe , Wechselfußbett , Grau , Gr .41 - 48,5',
  {'entities': [(5, 17, 'Abteilung')]}),
 ('Buffalo London 1348-14 Plateau Boots High Gr . 41 beige Neu in OVP',
  {'entities': [(37, 41, 'Schuhschaft-Typ')]}),
 ('adidas Terrex SKYCHASER LT GTX Herren Wander Trekking Outdoorschuhe Gore Tex Neu',
  {'entities': [(54, 67, 'Produktart')]}),
 ('New Balance Herren Fresh Foam Hierro v6 Trail Turnschuhe Laufschuhe Sneaker',
  {'entities': [(40, 45, 'Aktivität')]}),
 ('ASICS Onitsuka Tiger Mexico 66 Gr . 45 US 11 UK 10 Beige Grass Green Sneaker',
  {'entities': [(39, 44, 'US-Schuhgröße')]}),
 ('Puma Rebound LayUp SD Fur Herren Sneaker Mid Cut Gefüttert ( 369831 01 )',
  {'entities': [(5, 21, 'Modell')]}),
 ('Timberland Formentor 40 41 42 43 45 Boot Segelschuhe VENT P2I 97153',
  {'entities': [(21, 35, 'EU-Schuhgröße')]}),
 ('ADIDAS HERREN TURNSCHUHE FREIZEITSCHUHE SNEAKER CASUAL ART . B41968 SOBAKOV',
  {'entities': [(40, 47, 'Stil')]}),
 ('NIKE Air Vapormax Plus SNEAKER Schuhe Freizeit SportSchuhe EU 42 schwarz TOP !!!!',
  {'entities': [(38, 46, 'Anlass')]}),
 ('adidas Originals Stan Smith Sneaker Gold Metallic FW5364 Freizeit Schuhe NEU',
  {'entities': [(28, 35, 'Stil')]}),
 ('Nike Air Jordan 1 Retro High Off White University Blue UNC US9 .5 EU43 AQ0818-148',
  {'entities': [(71, 81, 'Herstellernummer')]}),
 ('Skechers Sneaker Low Equalizer 3.0 Charcoal / Schwarz Textil Normal Herren',
  {'entities': [(21, 34, 'Modell')]}),
 ('PUMA Schuhe ST RUNNER V2 Full White Herren Sneaker Gr .43 UK 9',
  {'entities': [(58, 62, 'UK-Schuhgröße')]}),
 ('Fred Perry Vintage Tennis Canvas B4249 Schwarz Textil Turnschuhe Black Schuhe',
  {'entities': [(0, 10, 'Marke')]}),
 ('Art 800 Neon Schuhe Sneaker Sportschuhe Luftpolstersohle Damen Herren',
  {'entities': [(0, 7, 'Modell')]}),
 ('Adidas Rom Originals Gr 48 UK 12,5 ZX G51319 Retro 2011 Torsion Vintage Samba',
  {'entities': [(35, 37, 'Modell')]}),
 ('Herren Slip Ons Sportschuhe Sportliche Strick Profil-Sohle 836641 Schuhe',
  {'entities': [(28, 38, 'Anlass')]}),
 ('DAMEN SCHUHE SNEAKERS HOKA ONE ONE WS CLIFTON EDGE [ 1110511 EBWH ]',
  {'entities': [(53, 65, 'Herstellernummer')]}),
 ('Nike Air Jordan XXXI 31 " Space Jam " Black Anthracite 845037 002 US_9 Eur 42.5',
  {'entities': [(66, 70, 'US-Schuhgröße')]}),
 ('Adidas Superstar W Creme Weiß Off White Gr . 38,39,40,41,42 NEU & OVP CG6010',
  {'entities': [(19, 39, 'Farbe')]}),
 ('FILA Disruptor Low Velvet Wmns EU 36 Sneaker Damen Schuhe Plateau women LIMITED',
  {'entities': [(0, 4, 'Marke')]}),
 ('Nike Free 3.0 V4 Gr . 44 / US 10 / 28 cm - Nike # 511457-013 black grey',
  {'entities': [(48, 49, 'No Tag')]}),
 ('Asics GEL ROCKET 7 Damen Hallenschuhe Women [ B455N0125 ] Gr . 39,5 NEU OVP',
  {'entities': [(44, 45, 'No Tag')]}),
 ('LOTTO HERREN TURNSCHUHE FREIZEITSCHUHE SNEAKER CASUAL ART . S9983 - S9981 T-ICON',
  {'entities': [(39, 46, 'Stil')]}),
 ('Converse Chuck Taylor CT TRI ZIP HI 545019C All Star Schwarz Damen Turnschuhe',
  {'entities': [(9, 24, 'Produktlinie')]}),
 ("Nike Air Force 1 '07 Triple White CW2288-111 in vielen Größen mit OVP Neu !!!",
  {'entities': [(21, 33, 'Farbe')]}),
 ('Nike Court Royale 2 Gr . wählbar Neu & OVP CQ9246 001 232L',
  {'entities': [(0, 4, 'Marke')]}),
 ('Adidas Ultraboost DNA X Real Madrid Laufschuhe Sneaker Schuhe Blau Herren FZ3623',
  {'entities': [(36, 46, 'Produktart')]}),
 ('New Balance GM 500 Sneaker Freizeitschuhe Schuhe Herren GM500',
  {'entities': [(12, 18, 'Modell')]}),
 ('Fila Damen Sneaker Gr .36 Sehr Gute Zustand !',
  {'entities': [(22, 25, 'EU-Schuhgröße')]}),
 ('Damen Sportschuhe New Balance [ WL220TD ]',
  {'entities': [(30, 31, 'No Tag')]}),
 ('PLATINUM Herren Leichtlaufschuhe , Sportschuhe , Freizeit , Turnschuhe , Blau / Multi',
  {'entities': [(0, 8, 'Marke')]}),
 ('Adidas I-5923 Iniki Runner Damen Sneaker Turnschuhe rosa D97352 Gr . 36 - 48 NEU',
  {'entities': [(69, 71, 'EU-Schuhgröße')]}),
 ('HERREN SCHUHE SNEAKERS NEW BALANCE [ ML373CO2 ]',
  {'entities': [(0, 6, 'Abteilung')]}),

In [ ]:
tagger = SequenceTagger.load("flair/upos-multi")

# make example sentence
sentence = Sentence("Ich liebe Berlin, as they say. ")

# predict POS tags
tagger.predict(sentence)

# print sentence
print(sentence)

# iterate over tokens and print the predicted POS label
print("The following POS tags are found:")
for token in sentence:
    print(token.get_label("upos"))

AttributeError: ignored

In [ ]:
from flair.data import Sentence
from flair.nn import Classifier
#Gives relationship
tagger = Classifier.load('ner-fast')
tagger.predict(sentence)

# check which named entities have been found in the sentence
entities = sentence.get_labels('ner')
for entity in entities:
    print(entity)

# 3. load relation extractor
extractor = Classifier.load('relations')

# predict relations
extractor.predict(sentence)

# check which relations have been found
relations = sentence.get_labels('relation')
for relation in relations:
    print(relation)

# Use the `get_labels()` method with parameter 'relation' to iterate over all relation predictions.
for label in sentence.get_labels('relation'):
    print(label)

Downloading pytorch_model.bin:   0%|          | 0.00/257M [00:00<?, ?B/s]

2023-10-21 23:58:33,883 SequenceTagger predicts: Dictionary with 20 tags: <unk>, O, S-ORG, S-MISC, B-PER, E-PER, S-LOC, B-ORG, E-ORG, I-PER, S-PER, B-MISC, I-MISC, E-MISC, I-ORG, B-LOC, E-LOC, I-LOC, <START>, <STOP>
Span[11:16]: "Supreme Box Logo Air Force" → ORG (0.7125)
2023-10-21 23:58:35,089 https://nlp.informatik.hu-berlin.de/resources/models/relations/relations-v11.pt not found in cache, downloading to /tmp/tmpx797xrbw

100%|██████████| 254M/254M [00:15<00:00, 17.1MB/s]

2023-10-21 23:58:51,328 copying /tmp/tmpx797xrbw to cache at /root/.flair/models/relations-v11.pt

2023-10-21 23:58:53,058 removing temp file /tmp/tmpx797xrbw

In [ ]:
#Pretrained model +1 layer

,Record Number,Title,Token,Tag
0,1,Supreme Nike SB Dunk High By any Means Red US1...,Supreme,Modell
1,1,Supreme Nike SB Dunk High By any Means Red US1...,Nike,Marke
2,1,Supreme Nike SB Dunk High By any Means Red US1...,SB,Produktlinie
3,1,Supreme Nike SB Dunk High By any Means Red US1...,Dunk,Produktlinie
4,1,Supreme Nike SB Dunk High By any Means Red US1...,High,Schuhschaft-Typ
...,...,...,...,...
55178,5000,Herren Trekking Schuhe Outdoor Sneaker Sportsc...,Sportschuhe,Produktart
55179,5000,Herren Trekking Schuhe Outdoor Sneaker Sportsc...,Wanderschuh,Produktart
55180,5000,Herren Trekking Schuhe Outdoor Sneaker Sportsc...,Big,No Tag
55181,5000,Herren Trekking Schuhe Outdoor Sneaker Sportsc...,Size,No Tag
55182,5000,Herren Trekking Schuhe Outdoor Sneaker Sportsc...,U37,No Tag